<a href="https://colab.research.google.com/github/LeGentilHomme/Bilan-Project/blob/main/BILAN_Vrai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DATA TABLE EXTRACTION

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import numpy as np
import pandas as pd 
import math
from math import acos, degrees
from scipy import spatial
from scipy.stats import chisquare
from scipy.stats import chi2_contingency
from sklearn.metrics.pairwise import cosine_similarity
import statsmodels.api as sm
from statsmodels.formula.api import ols

from sklearn import linear_model
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

import requests
import os
from pprint import pprint
import time

In [4]:
pip install camelot-py[cv] tabula-py

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting camelot-py[cv]
  Downloading camelot_py-0.11.0-py3-none-any.whl (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.0/41.0 kB 4.7 MB/s eta 0:00:00
Collecting tabula-py
  Downloading tabula_py-2.7.0-py3-none-any.whl (12.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 93.1 MB/s eta 0:00:00
Requirement already satisfied: chardet>=3.0.4 in /usr/local/lib/python3.10/dist-packages (from camelot-py[cv]) (4.0.0)
Requirement already satisfied: click>=6.7 in /usr/local/lib/python3.10/dist-packages (from camelot-py[cv]) (8.1.3)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.10/dist-packages (from camelot-py[cv]) (1.22.4)
Requirement already satisfied: openpyxl>=2.5.8 in /usr/local/lib/python3.10/dist-packages (from camelot-py[cv]) (3.0.10)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.10/dist-packages (from camelot-py[cv]) (1.5.3)
Collecting pdfminer.six>=20200726 (from camelot-py[cv])
  Downloading pdfminer.six-20221105-py3-none-any.whl (5.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.6/5.6 MB 100.3 MB/s eta 0:00:00
Collecting pypdf>=3.0.0 (from camelot-py[cv])
  Downloading pypdf-3.9.0-py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 249.5/249.5 kB 31.7 MB/s eta 0:00:00
Requirement already satisfied: tabulate>=0.8.9 in /usr/local/lib/python3.10/dist-packages (from camelot-py[cv]) (0.8.10)
Collecting ghostscript>=0.7 (from camelot-py[cv])
  Downloading ghostscript-0.7-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: opencv-python>=3.4.2.17 in /usr/local/lib/python3.10/dist-packages (from camelot-py[cv]) (4.7.0.72)
INFO: pip is looking at multiple versions of camelot-py[cv] to determine which version is compatible with other requirements. This could take a while.
Collecting camelot-py[cv]
  Downloading camelot_py-0.10.1-py3-none-any.whl (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.0/41.0 kB 5.9 MB/s eta 0:00:00
Collecting PyPDF2>=1.26.0 (from camelot-py[cv])
  Downloading pypdf2-3.0.1-py3-none-any.whl (232 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 232.6/232.6 kB 30.0 MB/s eta 0:00:00
Collecting camelot-py[cv]
  Downloading camelot_py-0.10.0-py3-none-any.whl (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.0/41.0 kB 5.9 MB/s eta 0:00:00
  Downloading camelot_py-0.9.0-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.2/43.2 kB 6.4 MB/s eta 0:00:00
Collecting distro (from tabula-py)
  Downloading distro-1.8.0-py3-none-any.whl (20 kB)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl>=2.5.8->camelot-py[cv]) (1.1.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23.4->camelot-py[cv]) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23.4->camelot-py[cv]) (2022.7.1)
Requirement already satisfied: charset-normalizer>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from pdfminer.six>=20200726->camelot-py[cv]) (2.0.12)
Requirement already satisfied: cryptography>=36.0.0 in /usr/local/lib/python3.10/dist-packages (from pdfminer.six>=20200726->camelot-py[cv]) (40.0.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py[cv]) (1.15.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.23.4->camelot-py[cv]) (1.16.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py[cv]) (2.21)
Installing collected packages: PyPDF2, distro, tabula-py, pdfminer.six, camelot-py
Successfully installed PyPDF2-3.0.1 camelot-py-0.9.0 distro-1.8.0 pdfminer.six-20221105 tabula-py-2.7.0

In [5]:
!pip install --upgrade pip camelot-py[dev]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pip in /usr/local/lib/python3.10/dist-packages (23.1.2)
Requirement already satisfied: camelot-py[dev] in /usr/local/lib/python3.10/dist-packages (0.9.0)
Collecting camelot-py[dev]
  Using cached camelot_py-0.11.0-py3-none-any.whl (40 kB)
Requirement already satisfied: chardet>=3.0.4 in /usr/local/lib/python3.10/dist-packages (from camelot-py[dev]) (4.0.0)
Requirement already satisfied: click>=6.7 in /usr/local/lib/python3.10/dist-packages (from camelot-py[dev]) (8.1.3)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.10/dist-packages (from camelot-py[dev]) (1.22.4)
Requirement already satisfied: openpyxl>=2.5.8 in /usr/local/lib/python3.10/dist-packages (from camelot-py[dev]) (3.0.10)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.10/dist-packages (from camelot-py[dev]) (1.5.3)
Requirement already satisfied: pdfminer.six>=20200726 in /usr/local/lib/python3.10/dist-packages (from camelot-py[dev]) (20221105)
Collecting pypdf>=3.0.0 (from camelot-py[dev])
  Using cached pypdf-3.9.0-py3-none-any.whl (249 kB)
Requirement already satisfied: tabulate>=0.8.9 in /usr/local/lib/python3.10/dist-packages (from camelot-py[dev]) (0.8.10)
Collecting codecov>=2.0.15 (from camelot-py[dev])
  Downloading codecov-2.1.13-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: pytest>=5.4.3 in /usr/local/lib/python3.10/dist-packages (from camelot-py[dev]) (7.2.2)
Collecting pytest-cov>=2.10.0 (from camelot-py[dev])
  Downloading pytest_cov-4.1.0-py3-none-any.whl (21 kB)
Collecting pytest-mpl>=0.11 (from camelot-py[dev])
  Downloading pytest_mpl-0.16.1-py3-none-any.whl (28 kB)
Collecting pytest-runner>=5.2 (from camelot-py[dev])
  Downloading pytest_runner-6.0.0-py3-none-any.whl (7.2 kB)
Requirement already satisfied: Sphinx>=3.1.2 in /usr/local/lib/python3.10/dist-packages (from camelot-py[dev]) (3.5.4)
Collecting sphinx-autobuild>=2021.3.14 (from camelot-py[dev])
  Downloading sphinx_autobuild-2021.3.14-py3-none-any.whl (9.9 kB)
Collecting ghostscript>=0.7 (from camelot-py[dev])
  Using cached ghostscript-0.7-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: opencv-python>=3.4.2.17 in /usr/local/lib/python3.10/dist-packages (from camelot-py[dev]) (4.7.0.72)
INFO: pip is looking at multiple versions of camelot-py[dev] to determine which version is compatible with other requirements. This could take a while.
Collecting camelot-py[dev]
  Using cached camelot_py-0.10.1-py3-none-any.whl (40 kB)
Requirement already satisfied: PyPDF2>=1.26.0 in /usr/local/lib/python3.10/dist-packages (from camelot-py[dev]) (3.0.1)
  Using cached camelot_py-0.10.0-py3-none-any.whl (40 kB)
Requirement already satisfied: matplotlib>=2.2.3 in /usr/local/lib/python3.10/dist-packages (from camelot-py[dev]) (3.7.1)
Requirement already satisfied: requests>=2.7.9 in /usr/local/lib/python3.10/dist-packages (from codecov>=2.0.15->camelot-py[dev]) (2.27.1)
Collecting coverage (from codecov>=2.0.15->camelot-py[dev])
  Downloading coverage-7.2.7-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (228 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 228.7/228.7 kB 28.6 MB/s eta 0:00:00
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=2.2.3->camelot-py[dev]) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=2.2.3->camelot-py[dev]) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=2.2.3->camelot-py[dev]) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=2.2.3->camelot-py[dev]) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=2.2.3->camelot-py[dev]) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=2.2.3->camelot-py[dev]) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=2.2.3->camelot-py[dev]) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=2.2.3->camelot-py[dev]) (2.8.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl>=2.5.8->camelot-py[dev]) (1.1.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23.4->camelot-py[dev]) (2022.7.1)
Requirement already satisfied: charset-normalizer>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from pdfminer.six>=20200726->camelot-py[dev]) (2.0.12)
Requirement already satisfied: cryptography>=36.0.0 in /usr/local/lib/python3.10/dist-packages (from pdfminer.six>=20200726->camelot-py[dev]) (40.0.2)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.10/dist-packages (from pytest>=5.4.3->camelot-py[dev]) (23.1.0)
Requirement already satisfied: iniconfig in /usr/local/lib/python3.10/dist-packages (from pytest>=5.4.3->camelot-py[dev]) (2.0.0)
Requirement already satisfied: pluggy<2.0,>=0.12 in /usr/local/lib/python3.10/dist-packages (from pytest>=5.4.3->camelot-py[dev]) (1.0.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in /usr/local/lib/python3.10/dist-packages (from pytest>=5.4.3->camelot-py[dev]) (1.1.1)
Requirement already satisfied: tomli>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from pytest>=5.4.3->camelot-py[dev]) (2.0.1)
Requirement already satisfied: Jinja2 in /usr/local/lib/python3.10/dist-packages (from pytest-mpl>=0.11->camelot-py[dev]) (3.1.2)
Requirement already satisfied: sphinxcontrib-applehelp in /usr/local/lib/python3.10/dist-packages (from Sphinx>=3.1.2->camelot-py[dev]) (1.0.4)
Requirement already satisfied: sphinxcontrib-devhelp in /usr/local/lib/python3.10/dist-packages (from Sphinx>=3.1.2->camelot-py[dev]) (1.0.2)
Requirement already satisfied: sphinxcontrib-jsmath in /usr/local/lib/python3.10/dist-packages (from Sphinx>=3.1.2->camelot-py[dev]) (1.0.1)
Requirement already satisfied: sphinxcontrib-htmlhelp in /usr/local/lib/python3.10/dist-packages (from Sphinx>=3.1.2->camelot-py[dev]) (2.0.1)
Requirement already satisfied: sphinxcontrib-serializinghtml in /usr/local/lib/python3.10/dist-packages (from Sphinx>=3.1.2->camelot-py[dev]) (1.1.5)
Requirement already satisfied: sphinxcontrib-qthelp in /usr/local/lib/python3.10/dist-packages (from Sphinx>=3.1.2->camelot-py[dev]) (1.0.3)
Requirement already satisfied: Pygments>=2.0 in /usr/local/lib/python3.10/dist-packages (from Sphinx>=3.1.2->camelot-py[dev]) (2.14.0)
Requirement already satisfied: docutils<0.17,>=0.12 in /usr/local/lib/python3.10/dist-packages (from Sphinx>=3.1.2->camelot-py[dev]) (0.16)
Requirement already satisfied: snowballstemmer>=1.1 in /usr/local/lib/python3.10/dist-packages (from Sphinx>=3.1.2->camelot-py[dev]) (2.2.0)
Requirement already satisfied: babel>=1.3 in /usr/local/lib/python3.10/dist-packages (from Sphinx>=3.1.2->camelot-py[dev]) (2.12.1)
Requirement already satisfied: alabaster<0.8,>=0.7 in /usr/local/lib/python3.10/dist-packages (from Sphinx>=3.1.2->camelot-py[dev]) (0.7.13)
Requirement already satisfied: imagesize in /usr/local/lib/python3.10/dist-packages (from Sphinx>=3.1.2->camelot-py[dev]) (1.4.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from Sphinx>=3.1.2->camelot-py[dev]) (67.7.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py[dev]) (1.15.1)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from Jinja2->pytest-mpl>=0.11->camelot-py[dev]) (2.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib>=2.2.3->camelot-py[dev]) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.9->codecov>=2.0.15->camelot-py[dev]) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.9->codecov>=2.0.15->camelot-py[dev]) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.9->codecov>=2.0.15->camelot-py[dev]) (3.4)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py[dev]) (2.21)
Installing collected packages: pytest-runner, coverage, codecov, pytest-mpl, pytest-cov
Successfully installed codecov-2.1.13 coverage-7.2.7 pytest-cov-4.1.0 pytest-mpl-0.16.1 pytest-runner-6.0.0

In [6]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt

In [7]:
!pip install camelot-py[]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: camelot-py in /usr/local/lib/python3.10/dist-packages (0.9.0)
Requirement already satisfied: chardet>=3.0.4 in /usr/local/lib/python3.10/dist-packages (from camelot-py) (4.0.0)
Requirement already satisfied: click>=6.7 in /usr/local/lib/python3.10/dist-packages (from camelot-py) (8.1.3)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.10/dist-packages (from camelot-py) (1.22.4)
Requirement already satisfied: openpyxl>=2.5.8 in /usr/local/lib/python3.10/dist-packages (from camelot-py) (3.0.10)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.10/dist-packages (from camelot-py) (1.5.3)
Requirement already satisfied: pdfminer.six>=20200726 in /usr/local/lib/python3.10/dist-packages (from camelot-py) (20221105)
Requirement already satisfied: PyPDF2>=1.26.0 in /usr/local/lib/python3.10/dist-packages (from camelot-py) (3.0.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl>=2.5.8->camelot-py) (1.1.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23.4->camelot-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23.4->camelot-py) (2022.7.1)
Requirement already satisfied: charset-normalizer>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from pdfminer.six>=20200726->camelot-py) (2.0.12)
Requirement already satisfied: cryptography>=36.0.0 in /usr/local/lib/python3.10/dist-packages (from pdfminer.six>=20200726->camelot-py) (40.0.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py) (1.15.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.23.4->camelot-py) (1.16.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py) (2.21)

In [8]:
pip install --force-reinstall PyPDF2==1.26.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting PyPDF2==1.26.0
  Downloading PyPDF2-1.26.0.tar.gz (77 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.6/77.6 kB 8.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: PyPDF2
  Building wheel for PyPDF2 (setup.py) ... done
  Created wheel for PyPDF2: filename=PyPDF2-1.26.0-py3-none-any.whl size=61083 sha256=decf2c9c19294628067e46a29d092647a980790e58222b4099fcae92c6f9f0cc
  Stored in directory: /root/.cache/pip/wheels/3a/62/ec/b6dea0b680005e9a961a3b195adb5f550b9586e92d20aed01d
Successfully built PyPDF2
Installing collected packages: PyPDF2
  Attempting uninstall: PyPDF2
    Found existing installation: PyPDF2 3.0.1
    Uninstalling PyPDF2-3.0.1:
      Successfully uninstalled PyPDF2-3.0.1
Successfully installed PyPDF2-1.26.0

In [9]:
from PyPDF2 import PdfFileReader

In [10]:
import camelot

In [11]:
pdf_path = "/content/Bilans et comptes de résultat des Banques et établissements financiers de l'UMOA - 2002.pdf"


with open(pdf_path, "rb") as file:
    pdf_reader = PdfFileReader(file)
    num_pages = pdf_reader.numPages

In [12]:
!pip install ghostscript
!pip install camelot-py[cv]
!pip install excalibur-py
!apt install ghostscript python3-tk
from ctypes.util import find_library
print(find_library("gs")) #will display libgs.so.9 if installed; will print None if not
!excalibur initdb

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ghostscript
  Using cached ghostscript-0.7-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: setuptools>=38.6.0 in /usr/local/lib/python3.10/dist-packages (from ghostscript) (67.7.2)
Installing collected packages: ghostscript
Successfully installed ghostscript-0.7
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: camelot-py[cv] in /usr/local/lib/python3.10/dist-packages (0.9.0)
Requirement already satisfied: chardet>=3.0.4 in /usr/local/lib/python3.10/dist-packages (from camelot-py[cv]) (4.0.0)
Requirement already satisfied: click>=6.7 in /usr/local/lib/python3.10/dist-packages (from camelot-py[cv]) (8.1.3)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.10/dist-packages (from camelot-py[cv]) (1.22.4)
Requirement already satisfied: openpyxl>=2.5.8 in /usr/local/lib/python3.10/dist-packages (from camelot-py[cv]) (3.0.10)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.10/dist-packages (from camelot-py[cv]) (1.5.3)
Requirement already satisfied: pdfminer.six>=20200726 in /usr/local/lib/python3.10/dist-packages (from camelot-py[cv]) (20221105)
Requirement already satisfied: PyPDF2>=1.26.0 in /usr/local/lib/python3.10/dist-packages (from camelot-py[cv]) (1.26.0)
Requirement already satisfied: opencv-python>=3.4.2.17 in /usr/local/lib/python3.10/dist-packages (from camelot-py[cv]) (4.7.0.72)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl>=2.5.8->camelot-py[cv]) (1.1.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23.4->camelot-py[cv]) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23.4->camelot-py[cv]) (2022.7.1)
Requirement already satisfied: charset-normalizer>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from pdfminer.six>=20200726->camelot-py[cv]) (2.0.12)
Requirement already satisfied: cryptography>=36.0.0 in /usr/local/lib/python3.10/dist-packages (from pdfminer.six>=20200726->camelot-py[cv]) (40.0.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py[cv]) (1.15.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.23.4->camelot-py[cv]) (1.16.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py[cv]) (2.21)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting excalibur-py
  Downloading excalibur_py-0.4.3-py3-none-any.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 29.8 MB/s eta 0:00:00
Requirement already satisfied: camelot-py[cv]>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from excalibur-py) (0.9.0)
Collecting celery>=4.1.1 (from excalibur-py)
  Downloading celery-5.2.7-py3-none-any.whl (405 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 405.6/405.6 kB 10.0 MB/s eta 0:00:00
Requirement already satisfied: Click>=7.0 in /usr/local/lib/python3.10/dist-packages (from excalibur-py) (8.1.3)
Collecting configparser<3.6.0,>=3.5.0 (from excalibur-py)
  Downloading configparser-3.5.3-py3-none-any.whl (21 kB)
Requirement already satisfied: Flask>=1.0.2 in /usr/local/lib/python3.10/dist-packages (from excalibur-py) (2.2.4)
Requirement already satisfied: SQLAlchemy>=1.2.12 in /usr/local/lib/python3.10/dist-packages (from excalibur-py) (2.0.10)
Collecting Werkzeug<1.0.0 (from excalibur-py)
  Downloading Werkzeug-0.16.1-py2.py3-none-any.whl (327 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 327.4/327.4 kB 28.8 MB/s eta 0:00:00
Requirement already satisfied: chardet>=3.0.4 in /usr/local/lib/python3.10/dist-packages (from camelot-py[cv]>=0.7.1->excalibur-py) (4.0.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.10/dist-packages (from camelot-py[cv]>=0.7.1->excalibur-py) (1.22.4)
Requirement already satisfied: openpyxl>=2.5.8 in /usr/local/lib/python3.10/dist-packages (from camelot-py[cv]>=0.7.1->excalibur-py) (3.0.10)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.10/dist-packages (from camelot-py[cv]>=0.7.1->excalibur-py) (1.5.3)
Requirement already satisfied: pdfminer.six>=20200726 in /usr/local/lib/python3.10/dist-packages (from camelot-py[cv]>=0.7.1->excalibur-py) (20221105)
Requirement already satisfied: PyPDF2>=1.26.0 in /usr/local/lib/python3.10/dist-packages (from camelot-py[cv]>=0.7.1->excalibur-py) (1.26.0)
Requirement already satisfied: opencv-python>=3.4.2.17 in /usr/local/lib/python3.10/dist-packages (from camelot-py[cv]>=0.7.1->excalibur-py) (4.7.0.72)
Requirement already satisfied: pytz>=2021.3 in /usr/local/lib/python3.10/dist-packages (from celery>=4.1.1->excalibur-py) (2022.7.1)
Collecting billiard<4.0,>=3.6.4.0 (from celery>=4.1.1->excalibur-py)
  Downloading billiard-3.6.4.0-py3-none-any.whl (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.5/89.5 kB 12.4 MB/s eta 0:00:00
Collecting kombu<6.0,>=5.2.3 (from celery>=4.1.1->excalibur-py)
  Downloading kombu-5.2.4-py3-none-any.whl (189 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 189.2/189.2 kB 21.4 MB/s eta 0:00:00
Collecting vine<6.0,>=5.0.0 (from celery>=4.1.1->excalibur-py)
  Downloading vine-5.0.0-py2.py3-none-any.whl (9.4 kB)
Collecting click-didyoumean>=0.0.3 (from celery>=4.1.1->excalibur-py)
  Downloading click_didyoumean-0.3.0-py3-none-any.whl (2.7 kB)
Collecting click-repl>=0.2.0 (from celery>=4.1.1->excalibur-py)
  Downloading click_repl-0.2.0-py3-none-any.whl (5.2 kB)
Collecting click-plugins>=1.1.1 (from celery>=4.1.1->excalibur-py)
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
INFO: pip is looking at multiple versions of flask to determine which version is compatible with other requirements. This could take a while.
Collecting Flask>=1.0.2 (from excalibur-py)
  Downloading Flask-2.3.2-py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.9/96.9 kB 12.2 MB/s eta 0:00:00
  Downloading Flask-2.3.1-py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 97.0/97.0 kB 11.0 MB/s eta 0:00:00
  Downloading Flask-2.3.0-py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 97.0/97.0 kB 10.6 MB/s eta 0:00:00
  Downloading Flask-2.2.5-py3-none-any.whl (101 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 101.8/101.8 kB 13.0 MB/s eta 0:00:00
  Downloading Flask-2.2.3-py3-none-any.whl (101 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 101.8/101.8 kB 12.8 MB/s eta 0:00:00
  Downloading Flask-2.2.2-py3-none-any.whl (101 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 101.5/101.5 kB 13.2 MB/s eta 0:00:00
  Downloading Flask-2.2.1-py3-none-any.whl (101 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 101.5/101.5 kB 7.9 MB/s eta 0:00:00
INFO: pip is looking at multiple versions of flask to determine which version is compatible with other requirements. This could take a while.
  Downloading Flask-2.2.0-py3-none-any.whl (101 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 101.1/101.1 kB 7.8 MB/s eta 0:00:00
  Downloading Flask-2.1.3-py3-none-any.whl (95 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.6/95.6 kB 10.4 MB/s eta 0:00:00
  Downloading Flask-2.1.2-py3-none-any.whl (95 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.2/95.2 kB 11.2 MB/s eta 0:00:00
  Downloading Flask-2.1.1-py3-none-any.whl (95 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.2/95.2 kB 7.7 MB/s eta 0:00:00
  Downloading Flask-2.1.0-py3-none-any.whl (95 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.2/95.2 kB 11.4 MB/s eta 0:00:00
INFO: This is taking longer than usual. You might need to provide the dependency resolver with stricter constraints to reduce runtime. See https://pip.pypa.io/warnings/backtracking for guidance. If you want to abort this run, press Ctrl + C.
  Downloading Flask-2.0.3-py3-none-any.whl (95 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.6/95.6 kB 11.6 MB/s eta 0:00:00
  Downloading Flask-2.0.2-py3-none-any.whl (95 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.2/95.2 kB 11.6 MB/s eta 0:00:00
  Downloading Flask-2.0.1-py3-none-any.whl (94 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 94.8/94.8 kB 11.5 MB/s eta 0:00:00
  Downloading Flask-2.0.0-py3-none-any.whl (93 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 93.2/93.2 kB 10.2 MB/s eta 0:00:00
  Downloading Flask-1.1.4-py2.py3-none-any.whl (94 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 94.6/94.6 kB 5.3 MB/s eta 0:00:00
Collecting Jinja2<3.0,>=2.10.1 (from Flask>=1.0.2->excalibur-py)
  Downloading Jinja2-2.11.3-py2.py3-none-any.whl (125 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 125.7/125.7 kB 9.7 MB/s eta 0:00:00
Collecting itsdangerous<2.0,>=0.24 (from Flask>=1.0.2->excalibur-py)
  Downloading itsdangerous-1.1.0-py2.py3-none-any.whl (16 kB)
Collecting Flask>=1.0.2 (from excalibur-py)
  Downloading Flask-1.1.3-py2.py3-none-any.whl (94 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 94.6/94.6 kB 11.8 MB/s eta 0:00:00
  Downloading Flask-1.1.2-py2.py3-none-any.whl (94 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 94.6/94.6 kB 9.7 MB/s eta 0:00:00
Requirement already satisfied: Jinja2>=2.10.1 in /usr/local/lib/python3.10/dist-packages (from Flask>=1.0.2->excalibur-py) (3.1.2)
Requirement already satisfied: itsdangerous>=0.24 in /usr/local/lib/python3.10/dist-packages (from Flask>=1.0.2->excalibur-py) (2.1.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy>=1.2.12->excalibur-py) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy>=1.2.12->excalibur-py) (2.0.2)
Requirement already satisfied: prompt-toolkit in /usr/local/lib/python3.10/dist-packages (from click-repl>=0.2.0->celery>=4.1.1->excalibur-py) (3.0.38)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from click-repl>=0.2.0->celery>=4.1.1->excalibur-py) (1.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from Jinja2>=2.10.1->Flask>=1.0.2->excalibur-py) (2.1.2)
Collecting amqp<6.0.0,>=5.0.9 (from kombu<6.0,>=5.2.3->celery>=4.1.1->excalibur-py)
  Downloading amqp-5.1.1-py3-none-any.whl (50 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 50.8/50.8 kB 6.8 MB/s eta 0:00:00
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl>=2.5.8->camelot-py[cv]>=0.7.1->excalibur-py) (1.1.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23.4->camelot-py[cv]>=0.7.1->excalibur-py) (2.8.2)
Requirement already satisfied: charset-normalizer>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from pdfminer.six>=20200726->camelot-py[cv]>=0.7.1->excalibur-py) (2.0.12)
Requirement already satisfied: cryptography>=36.0.0 in /usr/local/lib/python3.10/dist-packages (from pdfminer.six>=20200726->camelot-py[cv]>=0.7.1->excalibur-py) (40.0.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py[cv]>=0.7.1->excalibur-py) (1.15.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit->click-repl>=0.2.0->celery>=4.1.1->excalibur-py) (0.2.6)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py[cv]>=0.7.1->excalibur-py) (2.21)
Installing collected packages: billiard, Werkzeug, vine, configparser, click-plugins, click-didyoumean, Flask, click-repl, amqp, kombu, celery, excalibur-py
  Attempting uninstall: Werkzeug
    Found existing installation: Werkzeug 2.3.0
    Uninstalling Werkzeug-2.3.0:
      Successfully uninstalled Werkzeug-2.3.0
  Attempting uninstall: Flask
    Found existing installation: Flask 2.2.4
    Uninstalling Flask-2.2.4:
      Successfully uninstalled Flask-2.2.4
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorboard 2.12.2 requires werkzeug>=1.0.1, but you have werkzeug 0.16.1 which is incompatible.
Successfully installed Flask-1.1.2 Werkzeug-0.16.1 amqp-5.1.1 billiard-3.6.4.0 celery-5.2.7 click-didyoumean-0.3.0 click-plugins-1.1.1 click-repl-0.2.0 configparser-3.5.3 excalibur-py-0.4.3 kombu-5.2.4 vine-5.0.0
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  blt fonts-droid-fallback fonts-noto-mono fonts-urw-base35 libgs9
  libgs9-common libidn11 libijs-0.35 libjbig2dec0 poppler-data tk8.6-blt2.5
Suggested packages:
  blt-demo fonts-noto fonts-freefont-otf | fonts-freefont-ttf fonts-texgyre
  ghostscript-x poppler-utils fonts-japanese-mincho | fonts-ipafont-mincho
  fonts-japanese-gothic | fonts-ipafont-gothic fonts-arphic-ukai
  fonts-arphic-uming fonts-nanum tix python3-tk-dbg
The following NEW packages will be installed:
  blt fonts-droid-fallback fonts-noto-mono fonts-urw-base35 ghostscript libgs9
  libgs9-common libidn11 libijs-0.35 libjbig2dec0 poppler-data python3-tk
  tk8.6-blt2.5
0 upgraded, 13 newly installed, 0 to remove and 34 not upgraded.
Need to get 13.4 MB of archives.
After this operation, 54.8 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu focal/main amd64 fonts-droid-fallback all 1:6.0.1r16-1.1 [1,805 kB]
Get:2 http://archive.ubuntu.com/ubuntu focal/main amd64 poppler-data all 0.4.9-2 [1,475 kB]
Get:3 http://archive.ubuntu.com/ubuntu focal/main amd64 tk8.6-blt2.5 amd64 2.5.3+dfsg-4 [572 kB]
Get:4 http://archive.ubuntu.com/ubuntu focal/main amd64 blt amd64 2.5.3+dfsg-4 [4,944 B]
Get:5 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 fonts-noto-mono all 20200323-1build1~ubuntu20.04.1 [80.6 kB]
Get:6 http://archive.ubuntu.com/ubuntu focal/main amd64 fonts-urw-base35 all 20170801.1-3 [6,333 kB]
Get:7 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 libgs9-common all 9.50~dfsg-5ubuntu4.7 [681 kB]
Get:8 http://archive.ubuntu.com/ubuntu focal/main amd64 libidn11 amd64 1.33-2.2ubuntu2 [46.2 kB]
Get:9 http://archive.ubuntu.com/ubuntu focal/main amd64 libijs-0.35 amd64 0.35-15 [15.7 kB]
Get:10 http://archive.ubuntu.com/ubuntu focal/main amd64 libjbig2dec0 amd64 0.18-1ubuntu1 [60.0 kB]
Get:11 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 libgs9 amd64 9.50~dfsg-5ubuntu4.7 [2,173 kB]
Get:12 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 ghostscript amd64 9.50~dfsg-5ubuntu4.7 [51.9 kB]
Get:13 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 python3-tk amd64 3.8.10-0ubuntu1~20.04 [104 kB]
Fetched 13.4 MB in 32s (413 kB/s)
Selecting previously unselected package fonts-droid-fallback.
(Reading database ... 122545 files and directories currently installed.)
Preparing to unpack .../00-fonts-droid-fallback_1%3a6.0.1r16-1.1_all.deb ...
Unpacking fonts-droid-fallback (1:6.0.1r16-1.1) ...
Selecting previously unselected package poppler-data.
Preparing to unpack .../01-poppler-data_0.4.9-2_all.deb ...
Unpacking poppler-data (0.4.9-2) ...
Selecting previously unselected package tk8.6-blt2.5.
Preparing to unpack .../02-tk8.6-blt2.5_2.5.3+dfsg-4_amd64.deb ...
Unpacking tk8.6-blt2.5 (2.5.3+dfsg-4) ...
Selecting previously unselected package blt.
Preparing to unpack .../03-blt_2.5.3+dfsg-4_amd64.deb ...
Unpacking blt (2.5.3+dfsg-4) ...
Selecting previously unselected package fonts-noto-mono.
Preparing to unpack .../04-fonts-noto-mono_20200323-1build1~ubuntu20.04.1_all.deb ...
Unpacking fonts-noto-mono (20200323-1build1~ubuntu20.04.1) ...
Selecting previously unselected package fonts-urw-base35.
Preparing to unpack .../05-fonts-urw-base35_20170801.1-3_all.deb ...
Unpacking fonts-urw-base35 (20170801.1-3) ...
Selecting previously unselected package libgs9-common.
Preparing to unpack .../06-libgs9-common_9.50~dfsg-5ubuntu4.7_all.deb ...
Unpacking libgs9-common (9.50~dfsg-5ubuntu4.7) ...
Selecting previously unselected package libidn11:amd64.
Preparing to unpack .../07-libidn11_1.33-2.2ubuntu2_amd64.deb ...
Unpacking libidn11:amd64 (1.33-2.2ubuntu2) ...
Selecting previously unselected package libijs-0.35:amd64.
Preparing to unpack .../08-libijs-0.35_0.35-15_amd64.deb ...
Unpacking libijs-0.35:amd64 (0.35-15) ...
Selecting previously unselected package libjbig2dec0:amd64.
Preparing to unpack .../09-libjbig2dec0_0.18-1ubuntu1_amd64.deb ...
Unpacking libjbig2dec0:amd64 (0.18-1ubuntu1) ...
Selecting previously unselected package libgs9:amd64.
Preparing to unpack .../10-libgs9_9.50~dfsg-5ubuntu4.7_amd64.deb ...
Unpacking libgs9:amd64 (9.50~dfsg-5ubuntu4.7) ...
Selecting previously unselected package ghostscript.
Preparing to unpack .../11-ghostscript_9.50~dfsg-5ubuntu4.7_amd64.deb ...
Unpacking ghostscript (9.50~dfsg-5ubuntu4.7) ...
Selecting previously unselected package python3-tk:amd64.
Preparing to unpack .../12-python3-tk_3.8.10-0ubuntu1~20.04_amd64.deb ...
Unpacking python3-tk:amd64 (3.8.10-0ubuntu1~20.04) ...
Setting up tk8.6-blt2.5 (2.5.3+dfsg-4) ...
Setting up fonts-noto-mono (20200323-1build1~ubuntu20.04.1) ...
Setting up libijs-0.35:amd64 (0.35-15) ...
Setting up blt (2.5.3+dfsg-4) ...
Setting up python3-tk:amd64 (3.8.10-0ubuntu1~20.04) ...
Setting up fonts-urw-base35 (20170801.1-3) ...
Setting up poppler-data (0.4.9-2) ...
Setting up libjbig2dec0:amd64 (0.18-1ubuntu1) ...
Setting up libidn11:amd64 (1.33-2.2ubuntu2) ...
Setting up fonts-droid-fallback (1:6.0.1r16-1.1) ...
Setting up libgs9-common (9.50~dfsg-5ubuntu4.7) ...
Setting up libgs9:amd64 (9.50~dfsg-5ubuntu4.7) ...
Setting up ghostscript (9.50~dfsg-5ubuntu4.7) ...
Processing triggers for fontconfig (2.13.1-2ubuntu3) ...
Processing triggers for libc-bin (2.31-0ubuntu9.9) ...
Processing triggers for man-db (2.9.1-1) ...
libgs.so.9
Traceback (most recent call last):
  File "/usr/local/bin/excalibur", line 5, in <module>
    from excalibur.cli import cli
  File "/usr/local/lib/python3.10/dist-packages/excalibur/cli.py", line 7, in <module>
    from . import __version__, settings
  File "/usr/local/lib/python3.10/dist-packages/excalibur/settings.py", line 10, in <module>
    from . import configuration as conf
  File "/usr/local/lib/python3.10/dist-packages/excalibur/configuration.py", line 7, in <module>
    from backports.configparser import ConfigParser
  File "/usr/local/lib/python3.10/dist-packages/backports/configparser/__init__.py", line 130, in <module>
    from collections import MutableMapping
ImportError: cannot import name 'MutableMapping' from 'collections' (/usr/lib/python3.10/collections/__init__.py)

In [13]:
import tabula

# PDF file to extract tables from
file2002 = "/content/Bilans et comptes de résultat des Banques et établissements financiers de l'UMOA - 2002.pdf"
file2003 = "/content/Bilans et comptes de résultat des Banques et établissements financiers de l'UMOA - 2003.pdf"
file2005 = "/content/Bilans et comptes de résultat des Banques et établissements financiers de l'UMOA - 2005.pdf"
file2006 = "/content/Bilans et comptes de résultat des Banques et établissements financiers de l'UMOA - 2006.pdf"
file2007 = "/content/Bilans et comptes de résultat des Banques et établissements financiers de l'UMOA - 2007.pdf"
file2008 = "/content/Bilans et comptes de résultat des Banques et établissements financiers de l'UMOA - 2008.pdf"
file2009 = "/content/Bilans et comptes de résultat des Banques et établissements financiers de l'UMOA - 2009.pdf"
file2010 = "/content/Bilans et comptes de résultat des Banques et établissements financiers de l'UMOA - 2010.pdf"
file2011 = "/content/Bilans et comptes de résultat des Banques et établissements financiers de l'UMOA - 2011.pdf"
file2012 = "/content/Bilans et comptes de résultat des Banques et établissements financiers de l'UMOA - 2012.pdf"
file2013 = "/content/Bilans et comptes de résultat des Banques et établissements financiers de l'UMOA - 2013.pdf"
file2014 = "/content/Bilans et comptes de résultat des Banques et établissements financiers de l'UMOA - 2014.pdf"
file2015 = "/content/Bilans et comptes de résultat des Banques et établissements financiers de l'UMOA - 2015.pdf"
file2016 = "/content/Bilans et comptes de résultat des Banques et établissements financiers de l'UMOA - 2016.pdf"
file2017 = "/content/Bilans et comptes de résultat des Banques et établissements financiers de l'UMOA - 2017.pdf"
file2018 = "/content/Bilans et comptes de résultat des Banques et établissements financiers de l'UMOA - 2018.pdf"

file2020 = "/content/Bilans et comptes de résultat des Banques et établissements financiers de l'UMOA - 2020.pdf"

# Extract all the tables in the PDF file
tables2002 = tabula.read_pdf(file2002, pages="all", multiple_tables=True)
tables2003 = tabula.read_pdf(file2003, pages="all", multiple_tables=True)
tables2005 = tabula.read_pdf(file2005, pages="all", multiple_tables=True)
tables2006 = tabula.read_pdf(file2006, pages="all", multiple_tables=True)
tables2007 = tabula.read_pdf(file2007, pages="all", multiple_tables=True)
tables2008 = tabula.read_pdf(file2008, pages="all", multiple_tables=True)
tables2009 = tabula.read_pdf(file2009, pages="all", multiple_tables=True)
tables2010 = tabula.read_pdf(file2010, pages="all", multiple_tables=True)
tables2011 = tabula.read_pdf(file2011, pages="all", multiple_tables=True)
tables2012 = tabula.read_pdf(file2012, pages="all", multiple_tables=True)
tables2013 = tabula.read_pdf(file2013, pages="all", multiple_tables=True)
tables2014 = tabula.read_pdf(file2014, pages="all", multiple_tables=True)
tables2015 = tabula.read_pdf(file2015, pages="all", multiple_tables=True)
tables2016 = tabula.read_pdf(file2016, pages="all", multiple_tables=True)
tables2017 = tabula.read_pdf(file2017, pages="all", multiple_tables=True)
tables2018 = tabula.read_pdf(file2018, pages="all", multiple_tables=True)

tables2020 = tabula.read_pdf(file2020, pages="all", multiple_tables=True)

WARNING:tabula.io:Got stderr: May 31, 2023 8:51:45 AM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider loadDiskCache
WARNING: New fonts found, font cache will be re-built
May 31, 2023 8:51:45 AM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Building on-disk font cache, this may take a while
May 31, 2023 8:51:45 AM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Finished building on-disk font cache, found 54 fonts

WARNING:tabula.io:Got stderr: May 31, 2023 8:51:48 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font Symbol
May 31, 2023 8:51:48 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font ZapfDingbats
May 31, 2023 8:51:48 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ITCAvantGardeGothicDemi'
May 31, 2023 8:51:49 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ITCAvantGardeGothicDemi'

WARNING:tabula.io:Got stderr: May 31, 2023 8:52:52 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'Helvetica,Bold'
May 31, 2023 8:52:52 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ITCAvantGardeGothicDemi'
May 31, 2023 8:52:52 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ITCAvantGardeGothicDemi'
May 31, 2023 8:52:52 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ITCAvantGardeGothicDemi'
May 31, 2023 8:52:53 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'Helvetica,Bold'
May 31, 2023 8:52:53 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ITCAvantGardeGothicDemi'
May 31, 2023 8:52:53 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ITCAvantGardeGothicDemi'
May 31, 2023 8:52:53 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ITCAvantGardeGothicDemi'
May 31, 2023 8:52:58 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font Symbol
May 31, 2023 8:52:58 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font ZapfDingbats
May 31, 2023 8:52:59 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'AvantGarde-Demi'
May 31, 2023 8:52:59 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'AvantGarde-Demi'
May 31, 2023 8:53:56 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'Helvetica,Bold'
May 31, 2023 8:53:57 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'Helvetica,Bold'

WARNING:tabula.io:Got stderr: May 31, 2023 8:54:02 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'Helvetica,Bold'
May 31, 2023 8:54:02 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ITCAvantGardeGothicDemi'
May 31, 2023 8:54:02 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ITCAvantGardeGothicDemi'
May 31, 2023 8:54:02 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ITCAvantGardeGothicDemi'
May 31, 2023 8:54:03 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'Helvetica,Bold'
May 31, 2023 8:54:03 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ITCAvantGardeGothicDemi'
May 31, 2023 8:54:03 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ITCAvantGardeGothicDemi'
May 31, 2023 8:54:03 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ITCAvantGardeGothicDemi'
May 31, 2023 8:54:04 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ITCAvantGardeGothicDemi'
May 31, 2023 8:54:05 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ITCAvantGardeGothicDemi'
May 31, 2023 8:54:23 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'LucidaSansUnicode'
May 31, 2023 8:54:23 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'LucidaSansUnicode'
May 31, 2023 8:55:12 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'Helvetica,Bold'
May 31, 2023 8:55:12 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'Helvetica,Bold'

WARNING:tabula.io:Got stderr: May 31, 2023 8:55:16 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'Helvetica,Bold'
May 31, 2023 8:55:16 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ITCAvantGardeGothicDemi'
May 31, 2023 8:55:16 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ITCAvantGardeGothicDemi'
May 31, 2023 8:55:17 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'Helvetica,Bold'
May 31, 2023 8:55:17 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ITCAvantGardeGothicDemi'
May 31, 2023 8:55:17 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ITCAvantGardeGothicDemi'
May 31, 2023 8:55:37 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font Symbol
May 31, 2023 8:55:37 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font ZapfDingbats
May 31, 2023 8:56:22 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'Helvetica,Bold'
May 31, 2023 8:56:22 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'Helvetica,Bold'

WARNING:tabula.io:Got stderr: May 31, 2023 8:57:39 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g4 (1) in font LGIFMJ+Arial-BoldMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g1 (1) in font GIIJIC+Arial-BoldMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g2 (2) in font GIIJIC+Arial-BoldMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g3 (3) in font GIIJIC+Arial-BoldMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g4 (4) in font GIIJIC+Arial-BoldMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g5 (5) in font GIIJIC+Arial-BoldMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g6 (6) in font GIIJIC+Arial-BoldMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g7 (7) in font GIIJIC+Arial-BoldMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g8 (8) in font GIIJIC+Arial-BoldMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g9 (9) in font GIIJIC+Arial-BoldMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g10 (10) in font GIIJIC+Arial-BoldMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g11 (11) in font GIIJIC+Arial-BoldMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g12 (12) in font GIIJIC+Arial-BoldMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g13 (13) in font GIIJIC+Arial-BoldMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g14 (14) in font GIIJIC+Arial-BoldMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g15 (15) in font GIIJIC+Arial-BoldMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g16 (16) in font GIIJIC+Arial-BoldMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g17 (17) in font GIIJIC+Arial-BoldMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g1 (1) in font GIIJID+Arial-ItalicMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g2 (2) in font GIIJID+Arial-ItalicMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g3 (3) in font GIIJID+Arial-ItalicMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g4 (4) in font GIIJID+Arial-ItalicMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g5 (5) in font GIIJID+Arial-ItalicMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g6 (6) in font GIIJID+Arial-ItalicMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g7 (7) in font GIIJID+Arial-ItalicMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g8 (8) in font GIIJID+Arial-ItalicMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g9 (9) in font GIIJID+Arial-ItalicMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g10 (10) in font GIIJID+Arial-ItalicMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g11 (11) in font GIIJID+Arial-ItalicMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g12 (12) in font GIIJID+Arial-ItalicMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g13 (13) in font GIIJID+Arial-ItalicMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g14 (14) in font GIIJID+Arial-ItalicMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g15 (15) in font GIIJID+Arial-ItalicMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g16 (16) in font GIIJID+Arial-ItalicMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g18 (18) in font GIIJIC+Arial-BoldMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g19 (19) in font GIIJIC+Arial-BoldMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g20 (20) in font GIIJIC+Arial-BoldMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g21 (21) in font GIIJIC+Arial-BoldMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g1 (1) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g2 (2) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g3 (3) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g4 (4) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g5 (5) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g6 (6) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g7 (7) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g8 (8) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g9 (9) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g10 (10) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g11 (11) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g12 (12) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g13 (13) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g14 (14) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g15 (15) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g16 (16) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g17 (17) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g18 (18) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g19 (19) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g20 (20) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g21 (21) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g22 (22) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g23 (23) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g25 (24) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g26 (25) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g27 (26) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g28 (27) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g29 (28) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g30 (29) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g31 (30) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g32 (31) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g33 (32) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g34 (33) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g35 (34) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g36 (35) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g37 (36) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g38 (37) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g39 (38) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g40 (39) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g41 (40) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g42 (41) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g43 (42) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g44 (43) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g45 (44) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g46 (45) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g48 (46) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g49 (47) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g50 (48) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g51 (49) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g52 (50) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g53 (51) in font GIIJIE+ArialMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for g22 (22) in font GIIJIC+Arial-BoldMT
May 31, 2023 8:57:45 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode

#Tables

##2002

In [14]:
Tab2002_UEMOA1=tables2002[2]
Tab2002_UEMOA= Tab2002_UEMOA1[['Unnamed: 0','2000','2001','2002']]
Tab2002_UEMOA

                          Unnamed: 0     2000       2001       2002
0                              ACTIF      NaN        NaN        NaN
1                             CAISSE   81 240    123 643    136 619
2            CREANCES INTERBANCAIRES  703 517    838 476  1 149 153
3                            - A vue  517 334    617 266    718 619
4                . Banques Centrales  235 956    302 613    415 808
..                               ...      ...        ...        ...
65  Reçus d'établissements de crédit   52 580     38 774     77 174
66           ENGAGEMENTS DE GARANTIE      NaN        NaN        NaN
67  Reçus d'établissements de crédit  262 730    237 018    294 206
68             Reçus de la clientèle  622 524  1 067 186  1 227 070
69            ENGAGEMENTS SUR TITRES    1 621      4 799      4 447

[70 rows x 4 columns]

In [15]:
Tab2002_BURKINA1=tables2002[17]
Tab2002_BURKINA2= Tab2002_BURKINA1[['Unnamed: 0','Unnamed: 1','2001','Unnamed: 2']]
Tab2002_BURKINA = Tab2002_BURKINA2.rename(columns={'Unnamed: 1': '2000','Unnamed: 2': '2002'})
Tab2002_BURKINA

                          Unnamed: 0    2000                    2001    2002
0                              ACTIF     NaN  Millions de francs CFA     NaN
1                             CAISSE   8 873                  12 483  12 710
2            CREANCES INTERBANCAIRES  81 131                  95 289  96 087
3                            - A vue  54 208                  51 397  46 345
4                . Banques Centrales  13 782                  22 923  20 796
..                               ...     ...                     ...     ...
65  Reçus d'établissements de crédit   3 875                   2 725       0
66           ENGAGEMENTS DE GARANTIE     NaN                     NaN     NaN
67  Reçus d'établissements de crédit  12 687                  19 530  17 954
68             Reçus de la clientèle  75 966                 106 500  47 291
69            ENGAGEMENTS SUR TITRES       0                       0       0

[70 rows x 4 columns]

##2003

In [16]:
Tab2003_UEMOA=tables2003[2]
Tab2003_UEMOA

,Unnamed: 0,2001,Unnamed: 1,2002,2003
0,ACTIF,NaN,NaN,Millions de francs CFA,NaN
1,CAISSE,144 656,NaN,136 597,175 737
2,CREANCES INTERBANCAIRES,978 104,NaN,1 149 031,1 180 269
3,- A vue,541 754,NaN,718 884,802 053
4,. Banques Centrales,244 462,NaN,415 267,521 967
...,...,...,...,...,...
65,Reçus d'établissements de crédit,13 984,NaN,11 511,21 126
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,NaN
67,Reçus d'établissements de crédit,261 789,NaN,356 551,332 913
68,Reçus de la clientèle,1 066 131,NaN,1 279 714,1 300 141
69,ENGAGEMENTS SUR TITRES,4 799,NaN,4 447,932

In [17]:
Tab2003_BURKINA1=tables2003[18]
Tab2003_BURKINA2= Tab2003_BURKINA1[['Unnamed: 0','Unnamed: 1','2002','Unnamed: 2']]
Tab2003_BURKINA = Tab2003_BURKINA2.rename(columns={'Unnamed: 1': '2001','Unnamed: 2': '2003'})
Tab2003_BURKINA

                          Unnamed: 0     2001                    2002     2003
0                              ACTIF      NaN  Millions de francs CFA      NaN
1                             CAISSE   12 483                  12 710   15 926
2            CREANCES INTERBANCAIRES   95 289                  96 088  126 491
3                            - A vue   51 397                  46 346   72 904
4                . Banques Centrales   22 923                  20 797   47 552
..                               ...      ...                     ...      ...
65  Reçus d'établissements de crédit    2 725                       0        0
66           ENGAGEMENTS DE GARANTIE      NaN                     NaN      NaN
67  Reçus d'établissements de crédit   19 530                  17 944   24 777
68             Reçus de la clientèle  106 500                  89 196  145 464
69            ENGAGEMENTS SUR TITRES        0                       0        0

[70 rows x 4 columns]

##2005

In [18]:
Tab2005_UEMOA=tables2005[2]
Tab2005_UEMOA

,Unnamed: 0,2003,2004,2005
0,ACTIF,NaN,Millions de francs CFA,NaN
1,CAISSE,175 737,183 636,164 442
2,CREANCES INTERBANCAIRES,1 178 725,1 276 920,1 172 092
3,- A vue,796 696,851 424,792 860
4,. Banques Centrales,523 589,623 075,495 609
...,...,...,...,...
65,Reçus d'établissements de crédit,21 126,35 018,61 527
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN
67,Reçus d'établissements de crédit,332 886,409 188,335 196
68,Reçus de la clientèle,1 298 739,1 674 356,2 330 397
69,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN

In [19]:
Tab2005_BURKINA=tables2005[22]
Tab2005_BURKINA

                          Unnamed: 0                    2003     2004     2005
0                              ACTIF  Millions de francs CFA      NaN      NaN
1                             CAISSE                  15 926   18 878   17 661
2            CREANCES INTERBANCAIRES                 126 491  125 263   95 904
3                            - A vue                  72 904   64 839   54 598
4                . Banques Centrales                  47 552   46 077   30 820
..                               ...                     ...      ...      ...
65  Reçus d'établissements de crédit                     NaN    4 261    3 201
66           ENGAGEMENTS DE GARANTIE                     NaN      NaN      NaN
67  Reçus d'établissements de crédit                  24 777   16 800   11 837
68             Reçus de la clientèle                 145 464  242 136  356 967
69            ENGAGEMENTS SUR TITRES                     NaN      NaN      NaN

[70 rows x 4 columns]

##2006

In [20]:
Tab2006_UEMOA=tables2006[4]
Tab2006_UEMOA

,Unnamed: 0,2004,2005,2006
0,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,183 636,166 285,204 506
2,CREANCES INTERBANCAIRES,1 276 920,1 187 255,1 307 880
3,- A vue,851 424,799 107,840 980
4,. Banques Centrales,623 075,500 729,504 434
...,...,...,...,...
65,Reçus d'établissements de crédit,25 408,58 871,30 614
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN
67,Reçus d'établissements de crédit,418 798,346 776,369 476
68,Reçus de la clientèle,1 674 356,2 379 623,2 796 238
69,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN

In [21]:
Tab2006_BURKINA=tables2006[28]
Tab2006_BURKINA

                          Unnamed: 0                    2004     2005     2006
0                              ACTIF  Millions de francs CFA      NaN      NaN
1                             CAISSE                  18 878   17 661   18 661
2            CREANCES INTERBANCAIRES                 125 263   95 904  122 428
3                            - A vue                  64 839   54 598   69 779
4                . Banques Centrales                  46 077   30 820   41 133
..                               ...                     ...      ...      ...
65  Reçus d'établissements de crédit                   4 261    3 201    6 681
66           ENGAGEMENTS DE GARANTIE                     NaN      NaN      NaN
67  Reçus d'établissements de crédit                  16 800   11 837    9 474
68             Reçus de la clientèle                 242 136  356 967  491 357
69            ENGAGEMENTS SUR TITRES                     NaN      NaN      NaN

[70 rows x 4 columns]

##2007

In [22]:
Tab2007_UEMOA=tables2007[5]
Tab2007_UEMOA

,Unnamed: 0,2005,2006,2007
0,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,164 550,203 366,288 662
2,CREANCES INTERBANCAIRES,1 169 751,1 333 686,1 604 360
3,- A vue,790 697,868 712,933 681
4,. Banques Centrales,497 634,527 466,595 792
...,...,...,...,...
66,Reçus d'établissements de crédit,58 871,30 819,58 479
67,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN
68,Reçus d'établissements de crédit,357 927,377 225,531 292
69,Reçus de la clientèle,2 379 623,2 677 558,2 505 205
70,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN

In [23]:
Tab2007_BURKINA=tables2007[23]
Tab2007_BURKINA

                          Unnamed: 0                    2005     2006     2007
0                              ACTIF  Millions de francs CFA      NaN      NaN
1                             CAISSE                  17 737   18 788   28 760
2            CREANCES INTERBANCAIRES                  96 500  124 675  183 272
3                            - A vue                  55 095   71 925  115 909
4                . Banques Centrales                  30 825   41 143   63 540
..                               ...                     ...      ...      ...
65  Reçus d'établissements de crédit                   5 305    7 156    5 640
66           ENGAGEMENTS DE GARANTIE                     NaN      NaN      NaN
67  Reçus d'établissements de crédit                  11 837    9 474    5 570
68             Reçus de la clientèle                 356 967  491 357  550 626
69            ENGAGEMENTS SUR TITRES                     NaN      NaN      NaN

[70 rows x 4 columns]

##2008

In [24]:
Tab2008_UEMOA=tables2008[5]
Tab2008_UEMOA

                          Unnamed: 0       2006       2007       2008
0                              ACTIF        NaN        NaN        NaN
1                             CAISSE    203 366    288 662    275 049
2            CREANCES INTERBANCAIRES  1 333 686  1 604 360  1 411 299
3                            - A vue    868 712    933 681    880 072
4                . Banques Centrales    527 466    595 792    571 265
..                               ...        ...        ...        ...
65  Reçus d'établissements de crédit     30 819     58 479     30 049
66           ENGAGEMENTS DE GARANTIE          0          0    106 001
67  Reçus d'établissements de crédit    377 225    531 292    388 702
68             Reçus de la clientèle  2 677 558  2 505 205  2 850 092
69            ENGAGEMENTS SUR TITRES         58         58      2 028

[70 rows x 4 columns]

In [25]:
Tab2008_BURKINA=tables2008[27]
Tab2008_BURKINA

                          Unnamed: 0                    2006     2007     2008
0                              ACTIF  Millions de francs CFA      NaN      NaN
1                             CAISSE                  18 661   28 716   27 464
2            CREANCES INTERBANCAIRES                 122 428  182 953  199 863
3                            - A vue                  69 779  115 590  120 291
4                . Banques Centrales                  41 133   63 534   92 449
..                               ...                     ...      ...      ...
65  Reçus d'établissements de crédit                   6 681    2 000    2 156
66           ENGAGEMENTS DE GARANTIE                     NaN      NaN      NaN
67  Reçus d'établissements de crédit                   9 474    5 570   28 347
68             Reçus de la clientèle                 491 357  548 626  545 458
69            ENGAGEMENTS SUR TITRES                     NaN      NaN      NaN

[70 rows x 4 columns]

##2009

In [26]:
Tab2009_UEMOA=tables2009[2]
Tab2009_UEMOA

,Unnamed: 0,2007,2008,2009
0,ACTIF,NaN,NaN,NaN
1,NaN,Millions de francs CFA,NaN,NaN
2,CAISSE,284 388,269 800,331 526
3,CREANCES INTERBANCAIRES,1 561 785,1 635 765,2 089 104
4,- A vue,963 704,1 074 451,1 457 651
...,...,...,...,...
66,Reçus d'établissements de crédit,63 704,41 977,19 314
67,ENGAGEMENTS DE GARANTIE,1 041,105 073,105 859
68,Reçus d'établissements de crédit,570 435,461 406,513 708
69,Reçus de la clientèle,2 825 266,3 614 224,4 019 102
70,ENGAGEMENTS SUR TITRES,3 632,6 200,1 116

In [27]:
Tab2009_BURKINA1=tables2009[20]
Tab2009_BURKINA = Tab2009_BURKINA1.drop(1)

Tab2009_BURKINA

                          Unnamed: 0     2007     2008     2009
0                              ACTIF      NaN      NaN      NaN
2                             CAISSE   28 760   27 509   31 516
3            CREANCES INTERBANCAIRES  183 067  201 502  247 031
4                            - A vue  115 704  120 899  148 443
5                . Banques Centrales   63 538   92 481  108 801
..                               ...      ...      ...      ...
66  Reçus d'établissements de crédit    5 640    3 796      656
67           ENGAGEMENTS DE GARANTIE        0   14 634        0
68  Reçus d'établissements de crédit   51 673   29 061   13 088
69             Reçus de la clientèle  502 523  589 365  564 949
70            ENGAGEMENTS SUR TITRES        0        0        0

[70 rows x 4 columns]

##2010

In [28]:
fileUMOA2010=pd.read_csv("/content/Bilans et comptes de résultat des Banques et établissements financiers de l'UMOA - 2010.csv", encoding='latin-1',header=0)

In [29]:

Tab2010_UEMOA1= fileUMOA2010[['Tables Column 1','Tables Column 2','Tables Column 3','Tables Column 4']]
Tab2010_UEMOA2 = Tab2010_UEMOA1.rename(columns={'Tables Column 1': 'Unnamed: 0','Tables Column 2': '2008','Tables Column 3': '2009','Tables Column 4': '2010'})
Tab2010_UEMOA = Tab2010_UEMOA2.drop(0)
Tab2010_UEMOA

,Unnamed: 0,2008,2009,2010
1,ACTIF,NaN,Millions de francs CFA,NaN
2,CAISSE,279 541,331 526,355 428
3,CREANCES INTERBANCAIRES,1 718 181,2 089 103,2 173 135
4,- A vue,1 142 142,1 457 650,1 536 953
5,. Banques Centrales,797 014,1 021 351,1 042 004
...,...,...,...,...
63,Reçus d'établissements de crédit,42 177,13 304,17 392
64,ENGAGEMENTS DE GARANTIE,178 700,201 549,297 020
65,Reçus d'établissements de crédit,471 711,532 646,497 599
66,Reçus de la clientèle,3 600 665,4 061 056,4 394 026
67,ENGAGEMENTS SUR TITRES,1 116,0,NaN

In [30]:
fileUMOAB2010=pd.read_csv("/content/Bilans et comptes de résultat des Banques et établissements financiers du Burkina Faso - 2010.csv", encoding='latin-1',header=0)
fileUMOAB2010

,Tables Column 1,Tables Column 2,Tables Column 3,Tables Column 4,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,2008,2009,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ACTIF,NaN,Millions de francs CFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CAISSE,27 464,31 866,34 068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CREANCES INTERBANCAIRES,199 863,224 313,244 341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,- A vue,120 291,149 329,159 478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,Reçus d'établissements de crédit,2 156,656,656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,ENGAGEMENTS DE GARANTIE,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,Reçus d'établissements de crédit,28 347,20 390,22 954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,Reçus de la clientèle,545 458,422 236,673 454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
Tab2010_BURKINA= fileUMOAB2010[['Tables Column 1','Tables Column 2','Tables Column 3','Tables Column 4']]
Tab2010_BURKINA = Tab2010_BURKINA.rename(columns={'Tables Column 1': 'Unnamed: 0','Tables Column 2': '2008','Tables Column 3': '2009','Tables Column 4': '2010'})
Tab2010_BURKINA = Tab2010_BURKINA.drop(0)
Tab2010_BURKINA

                          Unnamed: 0     2008                    2009     2010
1                              ACTIF      NaN  Millions de francs CFA      NaN
2                             CAISSE   27 464                  31 866   34 068
3            CREANCES INTERBANCAIRES  199 863                 224 313  244 341
4                            - A vue  120 291                 149 329  159 478
5                . Banques Centrales   92 449                  91 552   95 848
..                               ...      ...                     ...      ...
66  Reçus d'établissements de crédit    2 156                     656      656
67           ENGAGEMENTS DE GARANTIE      NaN                     NaN        0
68  Reçus d'établissements de crédit   28 347                  20 390   22 954
69             Reçus de la clientèle  545 458                 422 236  673 454
70            ENGAGEMENTS SUR TITRES      NaN                     NaN      NaN

[70 rows x 4 columns]

##2011

In [32]:
Tab2011_UEMOA=tables2011[8]
Tab2011_UEMOA

,Unnamed: 0,Unnamed: 1,2009,2010,2011
0,NaN,NaN,Millions de francs CFA,NaN,NaN
1,NaN,ACTIF,NaN,NaN,NaN
2,CAISSE,NaN,330 148,355 945,417 915
3,CREANCES INTERBANCAIRES,NaN,2 031 426,2 188 948,2 529 628
4,- A vue,NaN,1 421 977,1 538 266,1 841 671
...,...,...,...,...,...
66,Reçus d'établissements de crédit,NaN,76 960,39 465,56 520
67,ENGAGEMENTS DE GARANTIE,NaN,245 132,348 184,1 566 624
68,Reçus d'établissements de crédit,NaN,448 505,465 194,380 058
69,Reçus de la clientèle,NaN,4 071 293,4 360 062,5 080 597
70,ENGAGEMENTS SUR TITRES,NaN,1 116,0,63 839

In [33]:
Tab2011_BURKINA=tables2011[46]
Tab2011_BURKINA

                          Unnamed: 0                    2009     2010     2011
0                              ACTIF                     NaN      NaN      NaN
1                                NaN  Millions de francs CFA      NaN      NaN
2                             CAISSE                  31 422   34 068   36 996
3            CREANCES INTERBANCAIRES                 241 272  244 341  258 712
4                            - A vue                 144 093  159 478  177 296
..                               ...                     ...      ...      ...
66  Reçus d'établissements de crédit                     656      656        0
67           ENGAGEMENTS DE GARANTIE                       0        0  149 075
68  Reçus d'établissements de crédit                  12 874   22 954   16 253
69             Reçus de la clientèle                 560 550  673 454  910 164
70            ENGAGEMENTS SUR TITRES                     NaN      NaN      NaN

[71 rows x 4 columns]

##2012

In [34]:
Tab2012_UEMOA=tables2012[8]
Tab2012_UEMOA

,Unnamed: 0,2010,2011,2012
0,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,355 945,417 915,463 817
2,CREANCES INTERBANCAIRES,2 188 948,2 529 628,2 741 962
3,- A vue,1 538 266,1 841 671,1 878 192
4,. Banques Centrales,1 042 622,1 332 276,1 055 388
...,...,...,...,...
65,Reçus d'établissements de crédit,39 465,56 520,56 803
66,ENGAGEMENTS DE GARANTIE,348 184,1 566 624,593 950
67,Reçus d'établissements de crédit,465 194,380 058,547 067
68,Reçus de la clientèle,4 360 062,5 080 597,5 727 607
69,ENGAGEMENTS SUR TITRES,0,63 839,0

In [35]:
Tab2012_BURKINA=tables2012[44]
Tab2012_BURKINA

                          Unnamed: 0                    2010     2011     2012
0                              ACTIF                     NaN      NaN      NaN
1                                NaN  Millions de francs CFA      NaN      NaN
2                             CAISSE                  34 068   36 997   49 403
3            CREANCES INTERBANCAIRES                 244 341  258 712  297 380
4                            - A vue                 159 478  177 296  167 414
..                               ...                     ...      ...      ...
66  Reçus d'établissements de crédit                     656        0        0
67           ENGAGEMENTS DE GARANTIE                       0  149 075  166 478
68  Reçus d'établissements de crédit                  22 954   16 253   21 348
69             Reçus de la clientèle                 673 454  910 164  549 817
70            ENGAGEMENTS SUR TITRES                     NaN      NaN      NaN

[71 rows x 4 columns]

##2013

In [36]:
Tab2013_UEMOA=tables2013[7]
Tab2013_UEMOA

,Unnamed: 0,2011,2012,2013
0,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,417 915,463 817,532 753
2,CREANCES INTERBANCAIRES,2 529 628,2 741 962,2 839 344
3,- A vue,1 841 671,1 878 192,1 980 874
4,. Banques Centrales,1 332 276,1 055 388,1 171 026
...,...,...,...,...
67,Reçus d'établissements de crédit,56 520,56 803,74 224
68,ENGAGEMENTS DE GARANTIE,1 566 624,593 950,1 743 008
69,Reçus d'établissements de crédit,380 058,547 067,643 492
70,Reçus de la clientèle,5 080 597,5 727 607,7 437 467
71,ENGAGEMENTS SUR TITRES,63 839,0,0

In [37]:
Tab2013_BURKINA=tables2013[41]
Tab2013_BURKINA

                          Unnamed: 0                    2011     2012     2013
0                              ACTIF  Millions de francs CFA      NaN      NaN
1                             CAISSE                  36 997   49 403   53 473
2            CREANCES INTERBANCAIRES                 258 712  297 380  290 255
3                            - A vue                 177 296  167 414  169 137
4                . Banques Centrales                 120 065   99 242   93 322
..                               ...                     ...      ...      ...
65  Reçus d'établissements de crédit                     NaN      NaN      NaN
66           ENGAGEMENTS DE GARANTIE                 149 075  166 478  267 749
67  Reçus d'établissements de crédit                  16 253   21 368   25 208
68             Reçus de la clientèle                 910 164  550 235  930 824
69            ENGAGEMENTS SUR TITRES                     NaN      NaN      NaN

[70 rows x 4 columns]

##2014

In [38]:
Tab2014_UEMOA=tables2014[9]
Tab2014_UEMOA

,Unnamed: 0,2012,2013,2014
0,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,462 436,544 119,570 011
2,CREANCES INTERBANCAIRES,2 744 868,2 842 544,3 090 869
3,- A vue,1 861 615,1 956 807,2 347 416
4,. Banques Centrales,1 049 619,1 140 904,1 346 336
...,...,...,...,...
65,Reçus d'établissements de crédit,72 145,74 224,89 940
66,ENGAGEMENTS DE GARANTIE,2 292 068,2 905 745,3 457 303
67,Reçus d'établissements de crédit,527 920,662 786,647 082
68,Reçus de la clientèle,5 764 664,7 578 698,8 704 449
69,ENGAGEMENTS SUR TITRES,0,0,0

In [39]:
Tab2014_BURKINA=tables2014[43]
Tab2014_BURKINA

,Unnamed: 0,2012,2013,2014
0,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,49 403,53 473,54 428
2,CREANCES INTERBANCAIRES,297 380,290 240,259 902
3,- A vue,167 414,169 129,187 457
4,. Banques Centrales,99 129,95 740,102 988
...,...,...,...,...
65,Reçus d'établissements de crédit,0,0,0
66,ENGAGEMENTS DE GARANTIE,166 478,267 749,324 819
67,Reçus d'établissements de crédit,21 368,25 208,53 116
68,Reçus de la clientèle,550 235,942 776,1 082 978
69,ENGAGEMENTS SUR TITRES,0,0,0

##2015

In [40]:
Tab2015_UEMOA=tables2015[9]
Tab2015_UEMOA

,Unnamed: 0,2013,2014,2014.1
0,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,545 579,597 748,611 694
2,CREANCES INTERBANCAIRES,2 866 659,3 199 465,3 621 994
3,- A vue,1 971 357,2 436 486,2 619 687
4,. Banques Centrales,1 140 802,1 416 682,1 580 715
...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,8 275 747,9 821 163,11 754 608
67,Reçus d'établissements de crédit,662 786,647 082,795 499
68,Reçus de la clientèle,7 612 961,9 174 081,11 359 490
69,ENGAGEMENTS SUR TITRES,0,0,21 132
70,ENGAGEMENTS DOUTEUX,224,339,194

In [41]:
Tab2015_BURKINA=tables2015[43]
Tab2015_BURKINA

,Unnamed: 0,2013,2014,2015
0,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,53 473,54 428,63 306
2,CREANCES INTERBANCAIRES,290 240,259 902,393 196
3,- A vue,169 129,187 457,229 965
4,. Banques Centrales,95 740,102 988,125 809
...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,967 984,1 136 094,1 350 189
67,Reçus d'établissements de crédit,25 208,53 116,61 633
68,Reçus de la clientèle,942 776,1 082 978,1 288 556
69,ENGAGEMENTS SUR TITRES,0,0,0
70,ENGAGEMENTS DOUTEUX (*),224,339,194

##2016

In [42]:
Tab2016_UEMOA=tables2016[10]
Tab2016_UEMOA

,Unnamed: 0,2014,2015,2016
0,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,596 638,625 863,640 243
2,CREANCES INTERBANCAIRES,3 187 772,3 770 286,4 118 490
3,- A vue,2 424 793,2 763 188,3 100 876
4,. Banques Centrales,1 407 349,1 717 980,1 671 804
...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,9 798 773,11 814 550,10 069 880
67,Reçus d'établissements de crédit,633 474,784 654,1 086 879
68,Reçus de la clientèle,9 165 299,11 934 882,15 136 657
69,ENGAGEMENTS SUR TITRES,0,21 132,55 167
70,ENGAGEMENTS DOUTEUX,339,194,50

In [43]:
Tab2016_BURKINA=tables2016[50]
Tab2016_BURKINA

,Unnamed: 0,2014,2015,2016
0,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,54 428,63 306,69 448
2,CREANCES INTERBANCAIRES,259 902,393 196,509 302
3,- A vue,187 457,229 965,329 172
4,. Banques Centrales,102 988,125 809,128 695
...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,1 136 094,1 350 189,2 077 306
67,Reçus d'établissements de crédit,53 116,61 633,44 272
68,Reçus de la clientèle,1 082 978,1 288 556,2 033 034
69,ENGAGEMENTS SUR TITRES,0,0,0
70,ENGAGEMENTS DOUTEUX (*),339,194,50

##2017

In [44]:
Tab2017_UEMOA=tables2017[9]
Tab2017_UEMOA

,Unnamed: 0,2015,2016,2017
0,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,626 880,638 084,610 427
2,CREANCES INTERBANCAIRES,3 773 011,4 130 386,3 961 284
3,- A vue,2 771 883,3 119 948,2 426 686
4,. Banques Centrales,1 726 611,1 674 216,1 233 110
...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,12 773 842,16 247 831,18 868 658
67,Reçus d'établissements de crédit,789 156,1 075 189,1 263 919
68,Reçus de la clientèle,11 984 686,15 172 642,17 604 739
69,ENGAGEMENTS SUR TITRES,21 132,55 167,154 421
70,ENGAGEMENTS DOUTEUX,194,50,184

In [45]:
Tab2017_BURKINA=tables2017[53]
Tab2017_BURKINA

,Unnamed: 0,2015,2016,2017
0,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,63 306,69 448,71 268
2,CREANCES INTERBANCAIRES,393 196,509 302,660 369
3,- A vue,229 965,329 172,381 663
4,. Banques Centrales,125 809,128 695,157 472
...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,1 650 189,2 077 453,2 411 573
67,Reçus d'établissements de crédit,61 633,44 419,13 469
68,Reçus de la clientèle,1 588 556,2 033 034,2 398 104
69,ENGAGEMENTS SUR TITRES,0,0,0
70,ENGAGEMENTS DOUTEUX,194,50,184

##2018

In [46]:
fileUMOA2018=pd.read_csv("/content/Bilans et comptes de résultat des Banques et établissements financiers de l'UMOA - 2018.csv", encoding='latin-1')
Tab2018_UEMOA= fileUMOA2018
Tab2018_UEMOA

                                           Unnamed: 0        2017        2018
0                                               ACTIF         NaN         NaN
1                      CAISSE, Banques Centrales, CCP   2 221 396   2 578 078
2                EFFETS PUBLICS ET VALEURS ASSIMILEES   6 123 746   6 453 753
3               CREANCES INTERBANCAIRES ET ASSIMILEES   2 770 825   2 571 545
4                           CREANCES SUR LA CLIENTELE  21 177 153  23 736 739
5          OBLIGATIONS ET AUTRES TITRES A REVENU FIXE   3 490 264   3 487 175
6          ACTIONS ET AUTRES TITRES A REVENU VARIABLE     324 832     284 517
7                            ACTIONNAIRES OU ASSOCIES       2 204       2 757
8                                       AUTRES ACTIFS     817 271     824 674
9                           COMPTES DE REGULARISATION     393 023     388 895
10  PARTICIPATIONS ET AUTRES TITRES DETENUS A LONG...      97 903      96 767
11                   PARTS DANS LES ENTREPRISES LIEES      78 358      83 212
12                                  PRETS SUBORDONNES      10 289      11 153
13                      IMMOBILISATIONS INCORPORELLES      79 566      80 494
14                        IMMOBILISATIONS CORPORELLES   1 222 377   1 351 996
15                                   TOTAL DE L'ACTIF  38 809 206  41 951 754
16                                             PASSIF         NaN         NaN
17                             Banques Centrales, CCP     663 376     482 256
18                DETTES INTERBANCAIRES ET ASSIMILEES   8 678 013   8 597 009
19                   DETTES A L'EGARD DE LA CLIENTELE  25 167 313  28 081 743
20                   DETTES REPRESENTEES PAR UN TITRE      41 964      11 779
21                                     AUTRES PASSIFS     518 742     619 305
22                          COMPTES DE REGULARISATION     517 514     595 612
23                                         PROVISIONS     261 766     251 253
24                EMPRUNTS ET TITRES EMIS SUBORDONNES     208 234     207 571
25          CAPITAUX PROPRES ET RESSOURCES ASSIMILEES   2 752 283   3 105 227
26                                   CAPITAL SOUSCRIT   1 742 021   1 852 065
27                            PRIMES LIEES AU CAPITAL     184 054     190 912
28                                           RESERVES     725 288     861 466
29                             ECARTS DE REEVALUATION      34 408      55 633
30                            PROVISIONS REGLEMENTEES       2 062         191
31                             REPORT A NOUVEAU (+/-)    -274 859    -273 130
32                       RESULTAT DE L'EXERCICE (+/-)     339 306     419 505
33                                    TOTAL DU PASSIF  38 809 206  41 951 754
34                                       HORS - BILAN         NaN         NaN
35                                 ENGAGEMENTS DONNES   6 376 147   6 996 605
36                         ENGAGEMENTS DE FINANCEMENT   2 284 193   2 560 055
37                            ENGAGEMENTS DE GARANTIE   4 544 339   4 857 103
38                             ENGAGEMENTS SUR TITRES       4 754       9 872
39                                  ENGAGEMENTS RECUS  17 333 629  19 165 856
40                         ENGAGEMENTS DE FINANCEMENT   2 087 664   2 242 533
41                            ENGAGEMENTS DE GARANTIE  17 099 281  18 783 346
42                             ENGAGEMENTS SUR TITRES      69 203      67 563

In [47]:
fileUMOAB2018=pd.read_csv("/content/Bilans et comptes de résultat des Banques et établissements financiers du Burkina Faso - 2018.csv", encoding='latin-1',header=0)
Tab2018_BURKINA=fileUMOAB2018
Tab2018_BURKINA

                                           Unnamed: 0         2017        2018
0                                               ACTIF  Millions de  francs CFA
1                        CAISSE, BANQUE CENTRALE, CCP      419 336     402 485
2                EFFETS PUBLICS ET VALEURS ASSIMILEES      980 790     972 319
3               CREANCES INTERBANCAIRES ET ASSIMILEES      475 316     495 236
4                           CREANCES SUR LA CLIENTELE    3 559 356   4 051 307
5          OBLIGATIONS ET AUTRES TITRES A REVENU FIXE      677 620     668 559
6          ACTIONS ET AUTRES TITRES A REVENU VARIABLE       57 857      54 021
7                            ACTIONNAIRES OU ASSOCIES            0           0
8                                       AUTRES ACTIFS      133 653      88 125
9                           COMPTES DE REGULARISATION       58 373      52 570
10  PARTICIPATIONS ET AUTRES TITRES DETENUS A LONG...        6 245       7 070
11                   PARTS DANS LES ENTREPRISES LIEES       17 995      19 571
12                                  PRETS SUBORDONNES            0           0
13                      IMMOBILISATIONS INCORPORELLES        6 462      10 176
14                        IMMOBILISATIONS CORPORELLES      160 266     184 882
15                                   TOTAL DE L'ACTIF    6 553 269   7 006 321
16                                             PASSIF          NaN         NaN
17                             BANQUES CENTRALES, CCP      210 312     142 495
18                DETTES INTERBANCAIRES ET ASSIMILEES    1 637 057   1 524 469
19                   DETTES A L'EGARD DE LA CLIENTELE    3 987 591   4 497 823
20                   DETTES REPRESENTEES PAR UN TITRE        7 108           0
21                                     AUTRES PASSIFS       69 388     106 013
22                          COMPTES DE REGULARISATION       79 039      91 233
23                                         PROVISIONS       29 373      32 820
24                EMPRUNTS ET TITRES EMIS SUBORDONNES       30 877      40 423
25          CAPITAUX PROPRES ET RESSOURCES ASSIMILEES      502 525     571 045
26                                   CAPITAL SOUSCRIT      227 256     250 503
27                            PRIMES LIEES AU CAPITAL       53 120      56 373
28                                           RESERVES      150 366     174 421
29                             ECARTS DE REEVALUATION        1 164       1 242
30                            PROVISIONS REGLEMENTEES            0          31
31                             REPORT A NOUVEAU (+/-)      -14 677      -3 092
32                       RESULTAT DE L'EXERCICE (+/-)       85 296      91 566
33                                    TOTAL DU PASSIF    6 553 269   7 006 321
34                                       HORS - BILAN          NaN         NaN
35                                 ENGAGEMENTS DONNES    1 240 792   1 247 749
36                         ENGAGEMENTS DE FINANCEMENT      216 995     252 363
37                            ENGAGEMENTS DE GARANTIE    1 023 798     995 387
38                             ENGAGEMENTS SUR TITRES            0           0
39                                  ENGAGEMENTS RECUS    2 496 649   2 837 499
40                         ENGAGEMENTS DE FINANCEMENT          343     155 046
41                            ENGAGEMENTS DE GARANTIE    2 496 306   2 682 453
42                             ENGAGEMENTS SUR TITRES            0           0

##2019

In [48]:
fileUMOA2019=pd.read_csv("/content/Bilans et comptes de résultat des Banques et établissements financiers de l'UMOA - 2019.csv", encoding='latin-1')
Tab2019_UEMOA= fileUMOA2019
Tab2019_UEMOA

,Unnamed: 0,2017,2018,2019
0,ACTIF,NaN,Montant net en millions de FCFA,NaN
1,"CAISSE, BANQUE CENTRALE, CCP",320 473,274 987,308 057
2,EFFETS PUBLICS ET VALEURS ASSIMILEES,783 150,741 458,1 148 625
3,CREANCES INTERBANCAIRES ET ASSIMILEES,407 012,398 735,385 319
4,CREANCES SUR LA CLIENTELE,2 596 714,2 933 318,3 202 280
5,OBLIGATIONS ET AUTRES TITRES A REVENU FIXE,673 444,663 594,368 083
6,ACTIONS ET AUTRES TITRES A REVENU VARIABLE,29 095,29 432,15 747
7,ACTIONNAIRES OU ASSOCIES,0,0,0
8,AUTRES ACTIFS,105 284,52 266,65 114
9,COMPTES DE REGULARISATION,55 491,51 220,51 767
10,PARTICIPATIONS ET AUTRES TITRES DETENUS A LONG...,5 717,6 545,4 988
11,PARTS DANS LES ENTREPRISES LIEES,14 787,16 363,28 115
12,PRETS SUBORDONNES,0,0,0
13,IMMOBILISATIONS INCORPORELLES,4 528,7 087,9 217
14,IMMOBILISATIONS CORPORELLES,120 541,142 636,150 338
15,TOTAL DE L'ACTIF,5 116 236,5 317 641,5 737 651
16,PASSIF,NaN,NaN,NaN
17,"BANQUES CENTRALES, CCP",116 063,30 213,5 507
18,DETTES INTERBANCAIRES ET ASSIMILEES,1 154 592,1 056 123,1 119 308
19,DETTES A L'EGARD DE LA CLIENTELE,3 305 941,3 618 543,3 895 262
20,DETTES REPRESENTEES PAR UN TITRE,854,0,0
21,AUTRES PASSIFS,51 941,69 257,78 328
22,COMPTES DE REGULARISATION,60 547,65 993,84 631
23,PROVISIONS,14 200,18 339,18 363
24,EMPRUNTS ET TITRES EMIS SUBORDONNES,9 041,9 455,26 382
25,CAPITAUX PROPRES ET RESSOURCES ASSIMILEES,403 058,449 718,509 871
26,Capital souscrit,178 414,204 118,219 428
27,Primes liées au capital,41 820,45 073,50 749
28,Réserves,99 274,118 164,139 277
29,Ecarts de réévaluation,5 673,1 242,1 242
30,Provisions réglementées,0,31,0
31,Reports à nouveau (+/-),11 996,21 322,24 745
32,Résultat de l'exercice (+/-),65 881,59 767,74 430
33,TOTAL DU PASSIF,5 116 236,5 317 641,5 737 651
34,HORS BILAN,NaN,NaN,NaN
35,ENGAGEMENTS DONNES,NaN,NaN,NaN
36,ENGAGEMENTS DE FINANCEMENT,142 176,165 125,192 867
37,ENGAGEMENTS DE GARANTIE,811 311,731 455,771 203
38,ENGAGEMENTS SUR TITRES ENGAGEMENTS RECUS,0,0,0
39,ENGAGEMENTS DE FINANCEMENT,1 891,48 272,7 608
40,ENGAGEMENTS DE GARANTIE,2 413 013,2 790 595,3 209 663
41,ENGAGEMENTS SUR TITRES,743,0,0

In [49]:
fileUMOAB2019=pd.read_csv("/content/Bilans et comptes de résultat des Banques et établissements financiers du Burkina Faso - 2019.csv", encoding='latin-1',header=0)
Tab2019_BURKINA=fileUMOAB2019
Tab2019_BURKINA

,Unnamed: 0,2017,2018,2019
0,ACTIF,Montant,net en millions,de FCFA
1,"CAISSE, BANQUE CENTRALE, CCP",320 473,274 987,308 057
2,EFFETS PUBLICS ET VALEURS ASSIMILEES,783 150,741 458,1 148 625
3,CREANCES INTERBANCAIRES ET ASSIMILEES,407 012,398 735,385 319
4,CREANCES SUR LA CLIENTELE,2 596 714,2 933 318,3 202 280
5,OBLIGATIONS ET AUTRES TITRES A REVENU FIXE,673 444,663 594,368 083
6,ACTIONS ET AUTRES TITRES A REVENU VARIABLE,29 095,29 432,15 747
7,ACTIONNAIRES OU ASSOCIES,0,0,0
8,AUTRES ACTIFS,105 284,52 266,65 114
9,COMPTES DE REGULARISATION,55 491,51 220,51 767
10,PARTICIPATIONS ET AUTRES TITRES DETENUS A LONG...,5 717,6 545,4 988
11,PARTS DANS LES ENTREPRISES LIEES,14 787,16 363,28 115
12,PRETS SUBORDONNES,0,0,0
13,IMMOBILISATIONS INCORPORELLES,4 528,7 087,9 217
14,IMMOBILISATIONS CORPORELLES,120 541,142 636,150 338
15,TOTAL DE L'ACTIF,5 116 236,5 317 641,5 737 651
16,PASSIF,NaN,NaN,NaN
17,"BANQUES CENTRALES, CCP",116 063,30 213,5 507
18,DETTES INTERBANCAIRES ET ASSIMILEES,1 154 592,1 056 123,1 119 308
19,DETTES A L'EGARD DE LA CLIENTELE,3 305 941,3 618 543,3 895 262
20,DETTES REPRESENTEES PAR UN TITRE,854,0,0
21,AUTRES PASSIFS,51 941,69 257,78 328
22,COMPTES DE REGULARISATION,60 547,65 993,84 631
23,PROVISIONS,14 200,18 339,18 363
24,EMPRUNTS ET TITRES EMIS SUBORDONNES,9 041,9 455,26 382
25,CAPITAUX PROPRES ET RESSOURCES ASSIMILEES,403 058,449 718,509 871
26,Capital souscrit,178 414,204 118,219 428
27,Primes liées au capital,41 820,45 073,50 749
28,Réserves,99 274,118 164,139 277
29,Ecarts de réévaluation,5 673,1 242,1 242
30,Provisions réglementées,0,31,0
31,Reports à nouveau (+/-),11 996,21 322,24 745
32,Résultat de l'exercice (+/-),65 881,59 767,74 430
33,TOTAL DU PASSIF,5 116 236,5 317 641,5 737 651
34,HORS BILAN,NaN,NaN,NaN
35,ENGAGEMENTS DONNES,NaN,NaN,NaN
36,ENGAGEMENTS DE FINANCEMENT,142 176,165 125,192 867
37,ENGAGEMENTS DE GARANTIE,811 311,731 455,771 203
38,ENGAGEMENTS SUR TITRES,0,0,0
39,ENGAGEMENTS RECUS,NaN,NaN,NaN
40,ENGAGEMENTS DE FINANCEMENT,1 891,48 272,7 608
41,ENGAGEMENTS DE GARANTIE,2 413 013,2 790 595,3 209 663
42,ENGAGEMENTS SUR TITRES,743,0,0

##2020

In [50]:
fileUMOA2020=pd.read_csv("/content/Bilans et comptes de résultat des Banques et établissements financiers de l'UMOA - 2020.csv", encoding='latin-1')
Tab2020_UEMOA= fileUMOA2020
Tab2020_UEMOA

,Unnamed: 0,2018,2019,2020
0,ACTIF,NaN,NaN,NaN
1,"CAISSE, BANQUE CENTRALE, CCP",2 428 496,3 167 989,3 879 608
2,EFFETS PUBLICS ET VALEURS ASSIMILEES,6 096 225,8 279 446,10 701 641
3,CREANCES INTERBANCAIRES ET ASSIMILEES,2 454 182,2 146 617,2 117 440
4,CREANCES SUR LA CLIENTELE,22 224 886,24 133 417,25 564 557
5,OBLIGATIONS ET AUTRES TITRES A REVENU FIXE,3 451 559,2 377 553,3 058 518
6,ACTIONS ET AUTRES TITRES A REVENU VARIABLE,272 306,242 821,220 283
7,ACTIONNAIRES OU ASSOCIES,2 534,538,0
8,AUTRES ACTIFS,788 594,782 153,884 942
9,COMPTES DE REGULARISATION,385 007,301 614,325 217
10,PARTICIPATIONS ET AUTRES TITRES DETENUS A LONG...,96 076,81 948,91 744
11,PARTS DANS LES ENTREPRISES LIEES,93 480,90 443,91 907
12,PRETS SUBORDONNES,10 443,12 724,12 512
13,IMMOBILISATIONS INCORPORELLES,78 275,90 766,96 735
14,IMMOBILISATIONS CORPORELLES,1 314 539,1 439 462,1 524 202
15,TOTAL DE L'ACTIF,39 696 601,43 147 491,48 569 307
16,PASSIF,NaN,NaN,NaN
17,"BANQUES CENTRALES, CCP",382 347,174 139,231 453
18,DETTES INTERBANCAIRES ET ASSIMILEES,8 000 601,8 371 265,8 946 638
19,DETTES A L'EGARD DE LA CLIENTELE,26 783 042,29 589 652,33 967 964
20,DETTES REPRESENTEES PAR UN TITRE,15 362,86 982,56 344
21,AUTRES PASSIFS,592 109,595 321,598 729
22,COMPTES DE REGULARISATION,562 852,548 918,580 461
23,PROVISIONS,233 927,233 495,258 209
24,EMPRUNTS ET TITRES EMIS SUBORDONNES,161 654,160 724,168 105
25,CAPITAUX PROPRES ET RESSOURCES ASSIMILEES,2 964 708,3 386 995,3 761 406
26,CAPITAL SOUSCRIT,1 820 600,1 982 054,2 029 892
27,PRIMES LIEES AU CAPITAL,176 754,192 609,211 866
28,RESERVES,808 127,952 316,1 074 913
29,ECARTS DE REEVALUATION,59 232,59 231,83 907
30,PROVISIONS REGLEMENTEES,191,192,160
31,REPORTS A NOUVEAU (+/-),-266 604,-265 220,-124 821
32,RESULTAT DE L'EXERCICE (+/-),366 408,465 812,485 487
33,TOTAL DU PASSIF,39 696 601,43 147 491,48 569 307
34,HORS BILAN,NaN,NaN,NaN
35,ENGAGEMENTS DONNES,7 112 158,7 336 135,8 694 878
36,ENGAGEMENTS DE FINANCEMENT,2 022 958,1 907 312,2 196 512
37,ENGAGEMENTS DE GARANTIE,5 018 961,5 352 122,6 241 890
38,ENGAGEMENTS SUR TITRES,70 238,76 701,256 476
39,ENGAGEMENTS RECUS,21 675 263,28 269 762,27 258 126
40,ENGAGEMENTS DE FINANCEMENT,184 861,951 835,142 901
41,ENGAGEMENTS DE GARANTIE,21 482 834,27 310 996,27 106 817
42,ENGAGEMENTS SUR TITRES,7 569,6 931,8 409

In [51]:
fileUMOAB2020=pd.read_csv("/content/Bilans et comptes de résultat des Banques et établissements financiers du Burkina Faso - 2020.csv", encoding='latin-1',header=0)
Tab2020_BURKINA=fileUMOAB2020
Tab2020_BURKINA

,Unnamed: 0,2018,2019,2020
0,ACTIF,NaN,Montant net en millions de FCFA,NaN
1,"CAISSE, BANQUE CENTRALE, CCP",274 987,308 057,472 788
2,EFFETS PUBLICS ET VALEURS ASSIMILEES,741 458,1 148 625,1 554 065
3,CREANCES INTERBANCAIRES ET ASSIMILEES,398 735,385 319,328 361
4,CREANCES SUR LA CLIENTELE,2 933 318,3 202 280,3 442 518
5,OBLIGATIONS ET AUTRES TITRES A REVENU FIXE,663 594,368 089,521 610
6,ACTIONS ET AUTRES TITRES A REVENU VARIABLE,29 432,15 747,16 787
7,ACTIONNAIRES OU ASSOCIES,0,0,0
8,AUTRES ACTIFS,52 266,63 530,73 916
9,COMPTES DE REGULARISATION,51 220,51 914,45 547
10,PARTICIPATIONS ET AUTRES TITRES DETENUS A LONG...,6 545,4 988,6 062
11,PARTS DANS LES ENTREPRISES LIEES,16 363,28 115,29 021
12,PRETS SUBORDONNES,0,0,0
13,IMMOBILISATIONS INCORPORELLES,7 087,9 420,7 586
14,IMMOBILISATIONS CORPORELLES,142 636,151 566,157 131
15,TOTAL DE L'ACTIF,5 317 641,5 737 651,6 655 391
16,PASSIF,NaN,NaN,NaN
17,"BANQUES CENTRALES, CCP",30 213,5 507,28 039
18,DETTES INTERBANCAIRES ET ASSIMILEES,1 056 123,1 119 308,1 113 838
19,DETTES A L'EGARD DE LA CLIENTELE,3 618 543,3 895 262,4 718 012
20,DETTES REPRESENTEES PAR UN TITRE,0,0,0
21,AUTRES PASSIFS,69 257,78 328,79 922
22,COMPTES DE REGULARISATION,65 993,84 631,88 817
23,PROVISIONS,18 339,18 363,22 293
24,EMPRUNTS ET TITRES EMIS SUBORDONNES,9 455,26 382,28 390
25,CAPITAUX PROPRES ET RESSOURCES ASSIMILEES,449 718,509 871,576 082
26,CAPITAL SOUSCRIT,204 118,219 428,219 427
27,PRIMES LIEES AU CAPITAL,45 073,50 749,50 749
28,RESERVES,118 164,139 277,158 938
29,ECARTS DE REEVALUATION,1 242,1 242,1 242
30,PROVISIONS REGLEMENTEES,31,0,0
31,REPORT A NOUVEAU (+/-),21 322,24 745,60 697
32,RESULTAT DE L'EXERCICE (+/-),59 767,74 430,85 028
33,TOTAL DU PASSIF,5 317 641,5 737 651,6 655 391
34,HORS - BILAN,NaN,NaN,NaN
35,ENGAGEMENTS DONNES,896579,964072,NaN
36,ENGAGEMENTS DE FINANCEMENT,165 125,192 867,178 539
37,ENGAGEMENTS DE GARANTIE,731 455,771 203,892 292
38,ENGAGEMENTS SUR TITRES,0,0,0
39,ENGAGEMENTS RECUS,2 838 867,3 258 688,3 749 642
40,ENGAGEMENTS DE FINANCEMENT,48 272,7 608,0
41,ENGAGEMENTS DE GARANTIE,2 790 595,3 251 080,3 749 642
42,ENGAGEMENTS SUR TITRES,0,0,0

#CONCATENATION PART

In [52]:
U2=Tab2002_UEMOA
U3=Tab2003_UEMOA
U5=Tab2005_UEMOA
U6=Tab2006_UEMOA
U7=Tab2007_UEMOA
U8=Tab2008_UEMOA
U9=Tab2009_UEMOA
U10=Tab2010_UEMOA
U11=Tab2011_UEMOA
U12=Tab2012_UEMOA
U13=Tab2013_UEMOA
U14=Tab2014_UEMOA
U15=Tab2015_UEMOA
U16=Tab2016_UEMOA
U17=Tab2017_UEMOA
U18=Tab2018_UEMOA
U19=Tab2019_UEMOA
U20=Tab2020_UEMOA

In [53]:
B2=Tab2002_BURKINA
B3=Tab2003_BURKINA
B5=Tab2005_BURKINA
B6=Tab2006_BURKINA
B7=Tab2007_BURKINA
B8=Tab2008_BURKINA
B9=Tab2009_BURKINA
B10=Tab2010_BURKINA
B11=Tab2011_BURKINA
B12=Tab2012_BURKINA
B13=Tab2013_BURKINA
B14=Tab2014_BURKINA
B15=Tab2015_BURKINA
B16=Tab2016_BURKINA
B17=Tab2017_BURKINA
B18=Tab2018_BURKINA
B19=Tab2019_BURKINA
B20=Tab2020_BURKINA

####UEMOA

In [54]:
Merged=pd.merge(U2, U3, left_index=True, right_index=True, how='outer',indicator=True)
# Add the indicator column to the resulting DataFrame
Merged['_merge'] = Merged['_merge'].astype(str)
Merged

,Unnamed: 0_x,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,Unnamed: 1,2002_y,2003,_merge
0,ACTIF,NaN,NaN,NaN,ACTIF,NaN,NaN,Millions de francs CFA,NaN,both
1,CAISSE,81 240,123 643,136 619,CAISSE,144 656,NaN,136 597,175 737,both
2,CREANCES INTERBANCAIRES,703 517,838 476,1 149 153,CREANCES INTERBANCAIRES,978 104,NaN,1 149 031,1 180 269,both
3,- A vue,517 334,617 266,718 619,- A vue,541 754,NaN,718 884,802 053,both
4,. Banques Centrales,235 956,302 613,415 808,. Banques Centrales,244 462,NaN,415 267,521 967,both
...,...,...,...,...,...,...,...,...,...,...
65,Reçus d'établissements de crédit,52 580,38 774,77 174,Reçus d'établissements de crédit,13 984,NaN,11 511,21 126,both
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,NaN,both
67,Reçus d'établissements de crédit,262 730,237 018,294 206,Reçus d'établissements de crédit,261 789,NaN,356 551,332 913,both
68,Reçus de la clientèle,622 524,1 067 186,1 227 070,Reçus de la clientèle,1 066 131,NaN,1 279 714,1 300 141,both
69,ENGAGEMENTS SUR TITRES,1 621,4 799,4 447,ENGAGEMENTS SUR TITRES,4 799,NaN,4 447,932,both

In [55]:
Merged1 = Merged.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
Merged1

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,Unnamed: 1,2002_y,2003,_merge
0,ACTIF,NaN,NaN,NaN,ACTIF,NaN,NaN,Millions de francs CFA,NaN,both
1,CAISSE,81 240,123 643,136 619,CAISSE,144 656,NaN,136 597,175 737,both
2,CREANCES INTERBANCAIRES,703 517,838 476,1 149 153,CREANCES INTERBANCAIRES,978 104,NaN,1 149 031,1 180 269,both
3,- A vue,517 334,617 266,718 619,- A vue,541 754,NaN,718 884,802 053,both
4,. Banques Centrales,235 956,302 613,415 808,. Banques Centrales,244 462,NaN,415 267,521 967,both
...,...,...,...,...,...,...,...,...,...,...
65,Reçus d'établissements de crédit,52 580,38 774,77 174,Reçus d'établissements de crédit,13 984,NaN,11 511,21 126,both
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,NaN,both
67,Reçus d'établissements de crédit,262 730,237 018,294 206,Reçus d'établissements de crédit,261 789,NaN,356 551,332 913,both
68,Reçus de la clientèle,622 524,1 067 186,1 227 070,Reçus de la clientèle,1 066 131,NaN,1 279 714,1 300 141,both
69,ENGAGEMENTS SUR TITRES,1 621,4 799,4 447,ENGAGEMENTS SUR TITRES,4 799,NaN,4 447,932,both

In [56]:
Merged2=pd.merge(Merged1, U5, left_index=True, right_index=True, how='outer')
# Update the `_merge` column with the new merging operation values
Merged2['_merge'].update(Merged2['_merge'].astype(str))

In [57]:
Merged3 = Merged2.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
Merged3

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,Unnamed: 1,2002_y,2003_x,_merge,Unnamed: 0_y,2003_y,2004,2005
0,ACTIF,NaN,NaN,NaN,ACTIF,NaN,NaN,Millions de francs CFA,NaN,both,ACTIF,NaN,Millions de francs CFA,NaN
1,CAISSE,81 240,123 643,136 619,CAISSE,144 656,NaN,136 597,175 737,both,CAISSE,175 737,183 636,164 442
2,CREANCES INTERBANCAIRES,703 517,838 476,1 149 153,CREANCES INTERBANCAIRES,978 104,NaN,1 149 031,1 180 269,both,CREANCES INTERBANCAIRES,1 178 725,1 276 920,1 172 092
3,- A vue,517 334,617 266,718 619,- A vue,541 754,NaN,718 884,802 053,both,- A vue,796 696,851 424,792 860
4,. Banques Centrales,235 956,302 613,415 808,. Banques Centrales,244 462,NaN,415 267,521 967,both,. Banques Centrales,523 589,623 075,495 609
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Reçus d'établissements de crédit,52 580,38 774,77 174,Reçus d'établissements de crédit,13 984,NaN,11 511,21 126,both,Reçus d'établissements de crédit,21 126,35 018,61 527
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,NaN,both,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN
67,Reçus d'établissements de crédit,262 730,237 018,294 206,Reçus d'établissements de crédit,261 789,NaN,356 551,332 913,both,Reçus d'établissements de crédit,332 886,409 188,335 196
68,Reçus de la clientèle,622 524,1 067 186,1 227 070,Reçus de la clientèle,1 066 131,NaN,1 279 714,1 300 141,both,Reçus de la clientèle,1 298 739,1 674 356,2 330 397
69,ENGAGEMENTS SUR TITRES,1 621,4 799,4 447,ENGAGEMENTS SUR TITRES,4 799,NaN,4 447,932,both,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN

In [58]:
Merged4=pd.merge(Merged3, U6, left_index=True, right_index=True, how='outer')
# Add the indicator column to the resulting DataFrame
Merged4['_merge'] = Merged4['_merge'].astype(str)

In [59]:
Merged5 = Merged4.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
Merged5

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,Unnamed: 1,2002_y,2003_x,_merge,Unnamed: 0_y,2003_y,2004_x,2005_x,Unnamed: 0_y,2004_y,2005_y,2006
0,ACTIF,NaN,NaN,NaN,ACTIF,NaN,NaN,Millions de francs CFA,NaN,both,ACTIF,NaN,Millions de francs CFA,NaN,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,81 240,123 643,136 619,CAISSE,144 656,NaN,136 597,175 737,both,CAISSE,175 737,183 636,164 442,CAISSE,183 636,166 285,204 506
2,CREANCES INTERBANCAIRES,703 517,838 476,1 149 153,CREANCES INTERBANCAIRES,978 104,NaN,1 149 031,1 180 269,both,CREANCES INTERBANCAIRES,1 178 725,1 276 920,1 172 092,CREANCES INTERBANCAIRES,1 276 920,1 187 255,1 307 880
3,- A vue,517 334,617 266,718 619,- A vue,541 754,NaN,718 884,802 053,both,- A vue,796 696,851 424,792 860,- A vue,851 424,799 107,840 980
4,. Banques Centrales,235 956,302 613,415 808,. Banques Centrales,244 462,NaN,415 267,521 967,both,. Banques Centrales,523 589,623 075,495 609,. Banques Centrales,623 075,500 729,504 434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Reçus d'établissements de crédit,52 580,38 774,77 174,Reçus d'établissements de crédit,13 984,NaN,11 511,21 126,both,Reçus d'établissements de crédit,21 126,35 018,61 527,Reçus d'établissements de crédit,25 408,58 871,30 614
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,NaN,both,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN
67,Reçus d'établissements de crédit,262 730,237 018,294 206,Reçus d'établissements de crédit,261 789,NaN,356 551,332 913,both,Reçus d'établissements de crédit,332 886,409 188,335 196,Reçus d'établissements de crédit,418 798,346 776,369 476
68,Reçus de la clientèle,622 524,1 067 186,1 227 070,Reçus de la clientèle,1 066 131,NaN,1 279 714,1 300 141,both,Reçus de la clientèle,1 298 739,1 674 356,2 330 397,Reçus de la clientèle,1 674 356,2 379 623,2 796 238
69,ENGAGEMENTS SUR TITRES,1 621,4 799,4 447,ENGAGEMENTS SUR TITRES,4 799,NaN,4 447,932,both,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN

In [60]:
UU7= U7.drop(55)
UU7 = UU7.reset_index(drop=True)
UU7

,Unnamed: 0,2005,2006,2007
0,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,164 550,203 366,288 662
2,CREANCES INTERBANCAIRES,1 169 751,1 333 686,1 604 360
3,- A vue,790 697,868 712,933 681
4,. Banques Centrales,497 634,527 466,595 792
...,...,...,...,...
65,Reçus d'établissements de crédit,58 871,30 819,58 479
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN
67,Reçus d'établissements de crédit,357 927,377 225,531 292
68,Reçus de la clientèle,2 379 623,2 677 558,2 505 205
69,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN

In [61]:

Merged6=pd.merge(Merged5, UU7, left_index=True, right_index=True, how='inner')

In [62]:
Merged7= Merged6.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
Merged7

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,Unnamed: 1,2002_y,2003_x,_merge,...,2004_x,2005_x,Unnamed: 0_y,2004_y,2005_y,2006_x,Unnamed: 0_y,2005,2006_y,2007
0,ACTIF,NaN,NaN,NaN,ACTIF,NaN,NaN,Millions de francs CFA,NaN,both,...,Millions de francs CFA,NaN,ACTIF,Millions de francs CFA,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,81 240,123 643,136 619,CAISSE,144 656,NaN,136 597,175 737,both,...,183 636,164 442,CAISSE,183 636,166 285,204 506,CAISSE,164 550,203 366,288 662
2,CREANCES INTERBANCAIRES,703 517,838 476,1 149 153,CREANCES INTERBANCAIRES,978 104,NaN,1 149 031,1 180 269,both,...,1 276 920,1 172 092,CREANCES INTERBANCAIRES,1 276 920,1 187 255,1 307 880,CREANCES INTERBANCAIRES,1 169 751,1 333 686,1 604 360
3,- A vue,517 334,617 266,718 619,- A vue,541 754,NaN,718 884,802 053,both,...,851 424,792 860,- A vue,851 424,799 107,840 980,- A vue,790 697,868 712,933 681
4,. Banques Centrales,235 956,302 613,415 808,. Banques Centrales,244 462,NaN,415 267,521 967,both,...,623 075,495 609,. Banques Centrales,623 075,500 729,504 434,. Banques Centrales,497 634,527 466,595 792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Reçus d'établissements de crédit,52 580,38 774,77 174,Reçus d'établissements de crédit,13 984,NaN,11 511,21 126,both,...,35 018,61 527,Reçus d'établissements de crédit,25 408,58 871,30 614,Reçus d'établissements de crédit,58 871,30 819,58 479
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,NaN,both,...,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN
67,Reçus d'établissements de crédit,262 730,237 018,294 206,Reçus d'établissements de crédit,261 789,NaN,356 551,332 913,both,...,409 188,335 196,Reçus d'établissements de crédit,418 798,346 776,369 476,Reçus d'établissements de crédit,357 927,377 225,531 292
68,Reçus de la clientèle,622 524,1 067 186,1 227 070,Reçus de la clientèle,1 066 131,NaN,1 279 714,1 300 141,both,...,1 674 356,2 330 397,Reçus de la clientèle,1 674 356,2 379 623,2 796 238,Reçus de la clientèle,2 379 623,2 677 558,2 505 205
69,ENGAGEMENTS SUR TITRES,1 621,4 799,4 447,ENGAGEMENTS SUR TITRES,4 799,NaN,4 447,932,both,...,NaN,NaN,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN

In [63]:
Merged8=pd.merge(Merged7, U8, left_index=True, right_index=True, how='outer')

In [64]:
Merged9= Merged8.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
Merged9

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,Unnamed: 1,2002_y,2003_x,_merge,...,2005_y,2006_x,Unnamed: 0_y,2005,2006_y,2007_x,Unnamed: 0_y,2006,2007_y,2008
0,ACTIF,NaN,NaN,NaN,ACTIF,NaN,NaN,Millions de francs CFA,NaN,both,...,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN,ACTIF,NaN,NaN,NaN
1,CAISSE,81 240,123 643,136 619,CAISSE,144 656,NaN,136 597,175 737,both,...,166 285,204 506,CAISSE,164 550,203 366,288 662,CAISSE,203 366,288 662,275 049
2,CREANCES INTERBANCAIRES,703 517,838 476,1 149 153,CREANCES INTERBANCAIRES,978 104,NaN,1 149 031,1 180 269,both,...,1 187 255,1 307 880,CREANCES INTERBANCAIRES,1 169 751,1 333 686,1 604 360,CREANCES INTERBANCAIRES,1 333 686,1 604 360,1 411 299
3,- A vue,517 334,617 266,718 619,- A vue,541 754,NaN,718 884,802 053,both,...,799 107,840 980,- A vue,790 697,868 712,933 681,- A vue,868 712,933 681,880 072
4,. Banques Centrales,235 956,302 613,415 808,. Banques Centrales,244 462,NaN,415 267,521 967,both,...,500 729,504 434,. Banques Centrales,497 634,527 466,595 792,. Banques Centrales,527 466,595 792,571 265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Reçus d'établissements de crédit,52 580,38 774,77 174,Reçus d'établissements de crédit,13 984,NaN,11 511,21 126,both,...,58 871,30 614,Reçus d'établissements de crédit,58 871,30 819,58 479,Reçus d'établissements de crédit,30 819,58 479,30 049
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,NaN,both,...,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,0,0,106 001
67,Reçus d'établissements de crédit,262 730,237 018,294 206,Reçus d'établissements de crédit,261 789,NaN,356 551,332 913,both,...,346 776,369 476,Reçus d'établissements de crédit,357 927,377 225,531 292,Reçus d'établissements de crédit,377 225,531 292,388 702
68,Reçus de la clientèle,622 524,1 067 186,1 227 070,Reçus de la clientèle,1 066 131,NaN,1 279 714,1 300 141,both,...,2 379 623,2 796 238,Reçus de la clientèle,2 379 623,2 677 558,2 505 205,Reçus de la clientèle,2 677 558,2 505 205,2 850 092
69,ENGAGEMENTS SUR TITRES,1 621,4 799,4 447,ENGAGEMENTS SUR TITRES,4 799,NaN,4 447,932,both,...,NaN,NaN,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN,ENGAGEMENTS SUR TITRES,58,58,2 028

In [65]:
U99=U9
# Combine the two rows
row1 = U99.iloc[0]
row2 = U99.iloc[1]



# Fuse the two rows
fused_row = row1.combine_first(row2)
U99.iloc[0] = fused_row

# Drop the second row
U99 = U99.drop(1)

# Reset the index if needed
U9H = U99.reset_index(drop=True)
U9H

,Unnamed: 0,2007,2008,2009
0,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,284 388,269 800,331 526
2,CREANCES INTERBANCAIRES,1 561 785,1 635 765,2 089 104
3,- A vue,963 704,1 074 451,1 457 651
4,. Banques Centrales,613 143,735 593,1 021 351
...,...,...,...,...
65,Reçus d'établissements de crédit,63 704,41 977,19 314
66,ENGAGEMENTS DE GARANTIE,1 041,105 073,105 859
67,Reçus d'établissements de crédit,570 435,461 406,513 708
68,Reçus de la clientèle,2 825 266,3 614 224,4 019 102
69,ENGAGEMENTS SUR TITRES,3 632,6 200,1 116

In [66]:
Merged10=pd.merge(Merged9, U9H, left_index=True, right_index=True, how='outer')

In [67]:
Merged11= Merged10.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
Merged11

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,Unnamed: 1,2002_y,2003_x,_merge,...,2006_y,2007_x,Unnamed: 0_y,2006,2007_y,2008_x,Unnamed: 0_y,2007,2008_y,2009
0,ACTIF,NaN,NaN,NaN,ACTIF,NaN,NaN,Millions de francs CFA,NaN,both,...,NaN,NaN,ACTIF,NaN,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,81 240,123 643,136 619,CAISSE,144 656,NaN,136 597,175 737,both,...,203 366,288 662,CAISSE,203 366,288 662,275 049,CAISSE,284 388,269 800,331 526
2,CREANCES INTERBANCAIRES,703 517,838 476,1 149 153,CREANCES INTERBANCAIRES,978 104,NaN,1 149 031,1 180 269,both,...,1 333 686,1 604 360,CREANCES INTERBANCAIRES,1 333 686,1 604 360,1 411 299,CREANCES INTERBANCAIRES,1 561 785,1 635 765,2 089 104
3,- A vue,517 334,617 266,718 619,- A vue,541 754,NaN,718 884,802 053,both,...,868 712,933 681,- A vue,868 712,933 681,880 072,- A vue,963 704,1 074 451,1 457 651
4,. Banques Centrales,235 956,302 613,415 808,. Banques Centrales,244 462,NaN,415 267,521 967,both,...,527 466,595 792,. Banques Centrales,527 466,595 792,571 265,. Banques Centrales,613 143,735 593,1 021 351
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Reçus d'établissements de crédit,52 580,38 774,77 174,Reçus d'établissements de crédit,13 984,NaN,11 511,21 126,both,...,30 819,58 479,Reçus d'établissements de crédit,30 819,58 479,30 049,Reçus d'établissements de crédit,63 704,41 977,19 314
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,NaN,both,...,NaN,NaN,ENGAGEMENTS DE GARANTIE,0,0,106 001,ENGAGEMENTS DE GARANTIE,1 041,105 073,105 859
67,Reçus d'établissements de crédit,262 730,237 018,294 206,Reçus d'établissements de crédit,261 789,NaN,356 551,332 913,both,...,377 225,531 292,Reçus d'établissements de crédit,377 225,531 292,388 702,Reçus d'établissements de crédit,570 435,461 406,513 708
68,Reçus de la clientèle,622 524,1 067 186,1 227 070,Reçus de la clientèle,1 066 131,NaN,1 279 714,1 300 141,both,...,2 677 558,2 505 205,Reçus de la clientèle,2 677 558,2 505 205,2 850 092,Reçus de la clientèle,2 825 266,3 614 224,4 019 102
69,ENGAGEMENTS SUR TITRES,1 621,4 799,4 447,ENGAGEMENTS SUR TITRES,4 799,NaN,4 447,932,both,...,NaN,NaN,ENGAGEMENTS SUR TITRES,58,58,2 028,ENGAGEMENTS SUR TITRES,3 632,6 200,1 116

In [68]:
Merged12=pd.merge(Merged11, U10, left_index=True, right_index=True, how='outer')

In [69]:
Merged13= Merged12.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
Merged13

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,Unnamed: 1,2002_y,2003_x,_merge,...,2007_y,2008_x,Unnamed: 0_y,2007,2008_y,2009_x,Unnamed: 0_y,2008,2009_y,2010
0,ACTIF,NaN,NaN,NaN,ACTIF,NaN,NaN,Millions de francs CFA,NaN,both,...,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN,NaN,NaN,NaN,NaN
1,CAISSE,81 240,123 643,136 619,CAISSE,144 656,NaN,136 597,175 737,both,...,288 662,275 049,CAISSE,284 388,269 800,331 526,ACTIF,NaN,Millions de francs CFA,NaN
2,CREANCES INTERBANCAIRES,703 517,838 476,1 149 153,CREANCES INTERBANCAIRES,978 104,NaN,1 149 031,1 180 269,both,...,1 604 360,1 411 299,CREANCES INTERBANCAIRES,1 561 785,1 635 765,2 089 104,CAISSE,279 541,331 526,355 428
3,- A vue,517 334,617 266,718 619,- A vue,541 754,NaN,718 884,802 053,both,...,933 681,880 072,- A vue,963 704,1 074 451,1 457 651,CREANCES INTERBANCAIRES,1 718 181,2 089 103,2 173 135
4,. Banques Centrales,235 956,302 613,415 808,. Banques Centrales,244 462,NaN,415 267,521 967,both,...,595 792,571 265,. Banques Centrales,613 143,735 593,1 021 351,- A vue,1 142 142,1 457 650,1 536 953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Reçus d'établissements de crédit,52 580,38 774,77 174,Reçus d'établissements de crédit,13 984,NaN,11 511,21 126,both,...,58 479,30 049,Reçus d'établissements de crédit,63 704,41 977,19 314,Reçus d'établissements de crédit,471 711,532 646,497 599
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,NaN,both,...,0,106 001,ENGAGEMENTS DE GARANTIE,1 041,105 073,105 859,Reçus de la clientèle,3 600 665,4 061 056,4 394 026
67,Reçus d'établissements de crédit,262 730,237 018,294 206,Reçus d'établissements de crédit,261 789,NaN,356 551,332 913,both,...,531 292,388 702,Reçus d'établissements de crédit,570 435,461 406,513 708,ENGAGEMENTS SUR TITRES,1 116,0,NaN
68,Reçus de la clientèle,622 524,1 067 186,1 227 070,Reçus de la clientèle,1 066 131,NaN,1 279 714,1 300 141,both,...,2 505 205,2 850 092,Reçus de la clientèle,2 825 266,3 614 224,4 019 102,NaN,NaN,NaN,NaN
69,ENGAGEMENTS SUR TITRES,1 621,4 799,4 447,ENGAGEMENTS SUR TITRES,4 799,NaN,4 447,932,both,...,58,2 028,ENGAGEMENTS SUR TITRES,3 632,6 200,1 116,NaN,NaN,NaN,NaN

In [70]:
U111=U11
# Combine the two rows
row1 = U111.iloc[0]
row2 = U111.iloc[1]



# Fuse the two rows
fused_row = row1.combine_first(row2)
U111.iloc[0] = fused_row

# Drop the second row
U111 = U111.drop(1)


# Reset the index if needed
U1H = U111.reset_index(drop=True)

U1H.at[0,'Unnamed: 0' ] = 'ACTIF'
U11H = U1H.drop("Unnamed: 1", axis=1)
U11H

,Unnamed: 0,2009,2010,2011
0,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,330 148,355 945,417 915
2,CREANCES INTERBANCAIRES,2 031 426,2 188 948,2 529 628
3,- A vue,1 421 977,1 538 266,1 841 671
4,. Banques Centrales,989 797,1 042 622,1 332 276
...,...,...,...,...
65,Reçus d'établissements de crédit,76 960,39 465,56 520
66,ENGAGEMENTS DE GARANTIE,245 132,348 184,1 566 624
67,Reçus d'établissements de crédit,448 505,465 194,380 058
68,Reçus de la clientèle,4 071 293,4 360 062,5 080 597
69,ENGAGEMENTS SUR TITRES,1 116,0,63 839

In [71]:
Merged14=pd.merge(Merged13, U11H, left_index=True, right_index=True, how='outer')

In [72]:
Merged15= Merged14.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
Merged15

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,Unnamed: 1,2002_y,2003_x,_merge,...,2008_y,2009_x,Unnamed: 0_y,2008,2009_y,2010_x,Unnamed: 0_y,2009,2010_y,2011
0,ACTIF,NaN,NaN,NaN,ACTIF,NaN,NaN,Millions de francs CFA,NaN,both,...,NaN,NaN,NaN,NaN,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,81 240,123 643,136 619,CAISSE,144 656,NaN,136 597,175 737,both,...,269 800,331 526,ACTIF,NaN,Millions de francs CFA,NaN,CAISSE,330 148,355 945,417 915
2,CREANCES INTERBANCAIRES,703 517,838 476,1 149 153,CREANCES INTERBANCAIRES,978 104,NaN,1 149 031,1 180 269,both,...,1 635 765,2 089 104,CAISSE,279 541,331 526,355 428,CREANCES INTERBANCAIRES,2 031 426,2 188 948,2 529 628
3,- A vue,517 334,617 266,718 619,- A vue,541 754,NaN,718 884,802 053,both,...,1 074 451,1 457 651,CREANCES INTERBANCAIRES,1 718 181,2 089 103,2 173 135,- A vue,1 421 977,1 538 266,1 841 671
4,. Banques Centrales,235 956,302 613,415 808,. Banques Centrales,244 462,NaN,415 267,521 967,both,...,735 593,1 021 351,- A vue,1 142 142,1 457 650,1 536 953,. Banques Centrales,989 797,1 042 622,1 332 276
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Reçus d'établissements de crédit,52 580,38 774,77 174,Reçus d'établissements de crédit,13 984,NaN,11 511,21 126,both,...,41 977,19 314,Reçus d'établissements de crédit,471 711,532 646,497 599,Reçus d'établissements de crédit,76 960,39 465,56 520
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,NaN,both,...,105 073,105 859,Reçus de la clientèle,3 600 665,4 061 056,4 394 026,ENGAGEMENTS DE GARANTIE,245 132,348 184,1 566 624
67,Reçus d'établissements de crédit,262 730,237 018,294 206,Reçus d'établissements de crédit,261 789,NaN,356 551,332 913,both,...,461 406,513 708,ENGAGEMENTS SUR TITRES,1 116,0,NaN,Reçus d'établissements de crédit,448 505,465 194,380 058
68,Reçus de la clientèle,622 524,1 067 186,1 227 070,Reçus de la clientèle,1 066 131,NaN,1 279 714,1 300 141,both,...,3 614 224,4 019 102,NaN,NaN,NaN,NaN,Reçus de la clientèle,4 071 293,4 360 062,5 080 597
69,ENGAGEMENTS SUR TITRES,1 621,4 799,4 447,ENGAGEMENTS SUR TITRES,4 799,NaN,4 447,932,both,...,6 200,1 116,NaN,NaN,NaN,NaN,ENGAGEMENTS SUR TITRES,1 116,0,63 839

In [73]:
Merged16=pd.merge(Merged15, U12, left_index=True, right_index=True, how='outer')

In [74]:
Merged17= Merged16.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
Merged17

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,Unnamed: 1,2002_y,2003_x,_merge,...,2009_y,2010_x,Unnamed: 0_y,2009,2010_y,2011_x,Unnamed: 0_y,2010,2011_y,2012
0,ACTIF,NaN,NaN,NaN,ACTIF,NaN,NaN,Millions de francs CFA,NaN,both,...,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,81 240,123 643,136 619,CAISSE,144 656,NaN,136 597,175 737,both,...,Millions de francs CFA,NaN,CAISSE,330 148,355 945,417 915,CAISSE,355 945,417 915,463 817
2,CREANCES INTERBANCAIRES,703 517,838 476,1 149 153,CREANCES INTERBANCAIRES,978 104,NaN,1 149 031,1 180 269,both,...,331 526,355 428,CREANCES INTERBANCAIRES,2 031 426,2 188 948,2 529 628,CREANCES INTERBANCAIRES,2 188 948,2 529 628,2 741 962
3,- A vue,517 334,617 266,718 619,- A vue,541 754,NaN,718 884,802 053,both,...,2 089 103,2 173 135,- A vue,1 421 977,1 538 266,1 841 671,- A vue,1 538 266,1 841 671,1 878 192
4,. Banques Centrales,235 956,302 613,415 808,. Banques Centrales,244 462,NaN,415 267,521 967,both,...,1 457 650,1 536 953,. Banques Centrales,989 797,1 042 622,1 332 276,. Banques Centrales,1 042 622,1 332 276,1 055 388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Reçus d'établissements de crédit,52 580,38 774,77 174,Reçus d'établissements de crédit,13 984,NaN,11 511,21 126,both,...,532 646,497 599,Reçus d'établissements de crédit,76 960,39 465,56 520,Reçus d'établissements de crédit,39 465,56 520,56 803
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,NaN,both,...,4 061 056,4 394 026,ENGAGEMENTS DE GARANTIE,245 132,348 184,1 566 624,ENGAGEMENTS DE GARANTIE,348 184,1 566 624,593 950
67,Reçus d'établissements de crédit,262 730,237 018,294 206,Reçus d'établissements de crédit,261 789,NaN,356 551,332 913,both,...,0,NaN,Reçus d'établissements de crédit,448 505,465 194,380 058,Reçus d'établissements de crédit,465 194,380 058,547 067
68,Reçus de la clientèle,622 524,1 067 186,1 227 070,Reçus de la clientèle,1 066 131,NaN,1 279 714,1 300 141,both,...,NaN,NaN,Reçus de la clientèle,4 071 293,4 360 062,5 080 597,Reçus de la clientèle,4 360 062,5 080 597,5 727 607
69,ENGAGEMENTS SUR TITRES,1 621,4 799,4 447,ENGAGEMENTS SUR TITRES,4 799,NaN,4 447,932,both,...,NaN,NaN,ENGAGEMENTS SUR TITRES,1 116,0,63 839,ENGAGEMENTS SUR TITRES,0,63 839,0

In [75]:
UU13= U13.drop([25,54])
UU13 = UU13.reset_index(drop=True)
UU13

,Unnamed: 0,2011,2012,2013
0,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,417 915,463 817,532 753
2,CREANCES INTERBANCAIRES,2 529 628,2 741 962,2 839 344
3,- A vue,1 841 671,1 878 192,1 980 874
4,. Banques Centrales,1 332 276,1 055 388,1 171 026
...,...,...,...,...
65,Reçus d'établissements de crédit,56 520,56 803,74 224
66,ENGAGEMENTS DE GARANTIE,1 566 624,593 950,1 743 008
67,Reçus d'établissements de crédit,380 058,547 067,643 492
68,Reçus de la clientèle,5 080 597,5 727 607,7 437 467
69,ENGAGEMENTS SUR TITRES,63 839,0,0

In [76]:
Merged18=pd.merge(Merged17, UU13, left_index=True, right_index=True, how='outer')

In [77]:
Merged19= Merged18.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
Merged19

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,Unnamed: 1,2002_y,2003_x,_merge,...,2010_y,2011_x,Unnamed: 0_y,2010,2011_y,2012_x,Unnamed: 0_y,2011,2012_y,2013
0,ACTIF,NaN,NaN,NaN,ACTIF,NaN,NaN,Millions de francs CFA,NaN,both,...,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,81 240,123 643,136 619,CAISSE,144 656,NaN,136 597,175 737,both,...,355 945,417 915,CAISSE,355 945,417 915,463 817,CAISSE,417 915,463 817,532 753
2,CREANCES INTERBANCAIRES,703 517,838 476,1 149 153,CREANCES INTERBANCAIRES,978 104,NaN,1 149 031,1 180 269,both,...,2 188 948,2 529 628,CREANCES INTERBANCAIRES,2 188 948,2 529 628,2 741 962,CREANCES INTERBANCAIRES,2 529 628,2 741 962,2 839 344
3,- A vue,517 334,617 266,718 619,- A vue,541 754,NaN,718 884,802 053,both,...,1 538 266,1 841 671,- A vue,1 538 266,1 841 671,1 878 192,- A vue,1 841 671,1 878 192,1 980 874
4,. Banques Centrales,235 956,302 613,415 808,. Banques Centrales,244 462,NaN,415 267,521 967,both,...,1 042 622,1 332 276,. Banques Centrales,1 042 622,1 332 276,1 055 388,. Banques Centrales,1 332 276,1 055 388,1 171 026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Reçus d'établissements de crédit,52 580,38 774,77 174,Reçus d'établissements de crédit,13 984,NaN,11 511,21 126,both,...,39 465,56 520,Reçus d'établissements de crédit,39 465,56 520,56 803,Reçus d'établissements de crédit,56 520,56 803,74 224
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,NaN,both,...,348 184,1 566 624,ENGAGEMENTS DE GARANTIE,348 184,1 566 624,593 950,ENGAGEMENTS DE GARANTIE,1 566 624,593 950,1 743 008
67,Reçus d'établissements de crédit,262 730,237 018,294 206,Reçus d'établissements de crédit,261 789,NaN,356 551,332 913,both,...,465 194,380 058,Reçus d'établissements de crédit,465 194,380 058,547 067,Reçus d'établissements de crédit,380 058,547 067,643 492
68,Reçus de la clientèle,622 524,1 067 186,1 227 070,Reçus de la clientèle,1 066 131,NaN,1 279 714,1 300 141,both,...,4 360 062,5 080 597,Reçus de la clientèle,4 360 062,5 080 597,5 727 607,Reçus de la clientèle,5 080 597,5 727 607,7 437 467
69,ENGAGEMENTS SUR TITRES,1 621,4 799,4 447,ENGAGEMENTS SUR TITRES,4 799,NaN,4 447,932,both,...,0,63 839,ENGAGEMENTS SUR TITRES,0,63 839,0,ENGAGEMENTS SUR TITRES,63 839,0,0

In [78]:
Merged20=pd.merge(Merged19, U14, left_index=True, right_index=True, how='outer')
# Add the indicator column to the resulting DataFrame
Merged20['_merge'] = Merged20['_merge'].astype(str)

In [79]:
Merged21= Merged20.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
Merged21

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,Unnamed: 1,2002_y,2003_x,_merge,...,2011_y,2012_x,Unnamed: 0_y,2011,2012_y,2013_x,Unnamed: 0_y,2012,2013_y,2014
0,ACTIF,NaN,NaN,NaN,ACTIF,NaN,NaN,Millions de francs CFA,NaN,both,...,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,81 240,123 643,136 619,CAISSE,144 656,NaN,136 597,175 737,both,...,417 915,463 817,CAISSE,417 915,463 817,532 753,CAISSE,462 436,544 119,570 011
2,CREANCES INTERBANCAIRES,703 517,838 476,1 149 153,CREANCES INTERBANCAIRES,978 104,NaN,1 149 031,1 180 269,both,...,2 529 628,2 741 962,CREANCES INTERBANCAIRES,2 529 628,2 741 962,2 839 344,CREANCES INTERBANCAIRES,2 744 868,2 842 544,3 090 869
3,- A vue,517 334,617 266,718 619,- A vue,541 754,NaN,718 884,802 053,both,...,1 841 671,1 878 192,- A vue,1 841 671,1 878 192,1 980 874,- A vue,1 861 615,1 956 807,2 347 416
4,. Banques Centrales,235 956,302 613,415 808,. Banques Centrales,244 462,NaN,415 267,521 967,both,...,1 332 276,1 055 388,. Banques Centrales,1 332 276,1 055 388,1 171 026,. Banques Centrales,1 049 619,1 140 904,1 346 336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Reçus d'établissements de crédit,52 580,38 774,77 174,Reçus d'établissements de crédit,13 984,NaN,11 511,21 126,both,...,56 520,56 803,Reçus d'établissements de crédit,56 520,56 803,74 224,Reçus d'établissements de crédit,72 145,74 224,89 940
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,NaN,both,...,1 566 624,593 950,ENGAGEMENTS DE GARANTIE,1 566 624,593 950,1 743 008,ENGAGEMENTS DE GARANTIE,2 292 068,2 905 745,3 457 303
67,Reçus d'établissements de crédit,262 730,237 018,294 206,Reçus d'établissements de crédit,261 789,NaN,356 551,332 913,both,...,380 058,547 067,Reçus d'établissements de crédit,380 058,547 067,643 492,Reçus d'établissements de crédit,527 920,662 786,647 082
68,Reçus de la clientèle,622 524,1 067 186,1 227 070,Reçus de la clientèle,1 066 131,NaN,1 279 714,1 300 141,both,...,5 080 597,5 727 607,Reçus de la clientèle,5 080 597,5 727 607,7 437 467,Reçus de la clientèle,5 764 664,7 578 698,8 704 449
69,ENGAGEMENTS SUR TITRES,1 621,4 799,4 447,ENGAGEMENTS SUR TITRES,4 799,NaN,4 447,932,both,...,63 839,0,ENGAGEMENTS SUR TITRES,63 839,0,0,ENGAGEMENTS SUR TITRES,0,0,0

In [80]:
U15

,Unnamed: 0,2013,2014,2014.1
0,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,545 579,597 748,611 694
2,CREANCES INTERBANCAIRES,2 866 659,3 199 465,3 621 994
3,- A vue,1 971 357,2 436 486,2 619 687
4,. Banques Centrales,1 140 802,1 416 682,1 580 715
...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,8 275 747,9 821 163,11 754 608
67,Reçus d'établissements de crédit,662 786,647 082,795 499
68,Reçus de la clientèle,7 612 961,9 174 081,11 359 490
69,ENGAGEMENTS SUR TITRES,0,0,21 132
70,ENGAGEMENTS DOUTEUX,224,339,194

In [81]:
Merged22=pd.merge(Merged21, U15, left_index=True, right_index=True, how='outer')
# Add the indicator column to the resulting DataFrame
Merged22['_merge'] = Merged22['_merge'].astype(str)

In [82]:
Merged23= Merged22.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
Merged23

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,Unnamed: 1,2002_y,2003_x,_merge,...,2012_y,2013_x,Unnamed: 0_y,2012,2013_y,2014_x,Unnamed: 0_y,2013,2014_y,2014.1
0,ACTIF,NaN,NaN,NaN,ACTIF,NaN,NaN,Millions de francs CFA,NaN,both,...,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,81 240,123 643,136 619,CAISSE,144 656,NaN,136 597,175 737,both,...,463 817,532 753,CAISSE,462 436,544 119,570 011,CAISSE,545 579,597 748,611 694
2,CREANCES INTERBANCAIRES,703 517,838 476,1 149 153,CREANCES INTERBANCAIRES,978 104,NaN,1 149 031,1 180 269,both,...,2 741 962,2 839 344,CREANCES INTERBANCAIRES,2 744 868,2 842 544,3 090 869,CREANCES INTERBANCAIRES,2 866 659,3 199 465,3 621 994
3,- A vue,517 334,617 266,718 619,- A vue,541 754,NaN,718 884,802 053,both,...,1 878 192,1 980 874,- A vue,1 861 615,1 956 807,2 347 416,- A vue,1 971 357,2 436 486,2 619 687
4,. Banques Centrales,235 956,302 613,415 808,. Banques Centrales,244 462,NaN,415 267,521 967,both,...,1 055 388,1 171 026,. Banques Centrales,1 049 619,1 140 904,1 346 336,. Banques Centrales,1 140 802,1 416 682,1 580 715
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,NaN,both,...,593 950,1 743 008,ENGAGEMENTS DE GARANTIE,2 292 068,2 905 745,3 457 303,ENGAGEMENTS DE GARANTIE,8 275 747,9 821 163,11 754 608
67,Reçus d'établissements de crédit,262 730,237 018,294 206,Reçus d'établissements de crédit,261 789,NaN,356 551,332 913,both,...,547 067,643 492,Reçus d'établissements de crédit,527 920,662 786,647 082,Reçus d'établissements de crédit,662 786,647 082,795 499
68,Reçus de la clientèle,622 524,1 067 186,1 227 070,Reçus de la clientèle,1 066 131,NaN,1 279 714,1 300 141,both,...,5 727 607,7 437 467,Reçus de la clientèle,5 764 664,7 578 698,8 704 449,Reçus de la clientèle,7 612 961,9 174 081,11 359 490
69,ENGAGEMENTS SUR TITRES,1 621,4 799,4 447,ENGAGEMENTS SUR TITRES,4 799,NaN,4 447,932,both,...,0,0,ENGAGEMENTS SUR TITRES,0,0,0,ENGAGEMENTS SUR TITRES,0,0,21 132
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,...,NaN,NaN,NaN,NaN,NaN,NaN,ENGAGEMENTS DOUTEUX,224,339,194

In [83]:
Merged24=pd.merge(Merged23, U16, left_index=True, right_index=True, how='outer')

In [84]:
Merged25= Merged24.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
Merged25

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,Unnamed: 1,2002_y,2003_x,_merge,...,2013_y,2014_x,Unnamed: 0_y,2013,2014_y,2014.1,Unnamed: 0_y,2014,2015,2016
0,ACTIF,NaN,NaN,NaN,ACTIF,NaN,NaN,Millions de francs CFA,NaN,both,...,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,81 240,123 643,136 619,CAISSE,144 656,NaN,136 597,175 737,both,...,544 119,570 011,CAISSE,545 579,597 748,611 694,CAISSE,596 638,625 863,640 243
2,CREANCES INTERBANCAIRES,703 517,838 476,1 149 153,CREANCES INTERBANCAIRES,978 104,NaN,1 149 031,1 180 269,both,...,2 842 544,3 090 869,CREANCES INTERBANCAIRES,2 866 659,3 199 465,3 621 994,CREANCES INTERBANCAIRES,3 187 772,3 770 286,4 118 490
3,- A vue,517 334,617 266,718 619,- A vue,541 754,NaN,718 884,802 053,both,...,1 956 807,2 347 416,- A vue,1 971 357,2 436 486,2 619 687,- A vue,2 424 793,2 763 188,3 100 876
4,. Banques Centrales,235 956,302 613,415 808,. Banques Centrales,244 462,NaN,415 267,521 967,both,...,1 140 904,1 346 336,. Banques Centrales,1 140 802,1 416 682,1 580 715,. Banques Centrales,1 407 349,1 717 980,1 671 804
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,NaN,both,...,2 905 745,3 457 303,ENGAGEMENTS DE GARANTIE,8 275 747,9 821 163,11 754 608,ENGAGEMENTS DE GARANTIE,9 798 773,11 814 550,10 069 880
67,Reçus d'établissements de crédit,262 730,237 018,294 206,Reçus d'établissements de crédit,261 789,NaN,356 551,332 913,both,...,662 786,647 082,Reçus d'établissements de crédit,662 786,647 082,795 499,Reçus d'établissements de crédit,633 474,784 654,1 086 879
68,Reçus de la clientèle,622 524,1 067 186,1 227 070,Reçus de la clientèle,1 066 131,NaN,1 279 714,1 300 141,both,...,7 578 698,8 704 449,Reçus de la clientèle,7 612 961,9 174 081,11 359 490,Reçus de la clientèle,9 165 299,11 934 882,15 136 657
69,ENGAGEMENTS SUR TITRES,1 621,4 799,4 447,ENGAGEMENTS SUR TITRES,4 799,NaN,4 447,932,both,...,0,0,ENGAGEMENTS SUR TITRES,0,0,21 132,ENGAGEMENTS SUR TITRES,0,21 132,55 167
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,...,NaN,NaN,ENGAGEMENTS DOUTEUX,224,339,194,ENGAGEMENTS DOUTEUX,339,194,50

In [85]:
Merged26=pd.merge(Merged25, U17, left_index=True, right_index=True, how='outer')

In [86]:
Merged27= Merged26.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
Merged27

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,Unnamed: 1,2002_y,2003_x,_merge,...,2014_y,2014.1,Unnamed: 0_y,2014,2015_x,2016_x,Unnamed: 0_y,2015_y,2016_y,2017
0,ACTIF,NaN,NaN,NaN,ACTIF,NaN,NaN,Millions de francs CFA,NaN,both,...,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,81 240,123 643,136 619,CAISSE,144 656,NaN,136 597,175 737,both,...,597 748,611 694,CAISSE,596 638,625 863,640 243,CAISSE,626 880,638 084,610 427
2,CREANCES INTERBANCAIRES,703 517,838 476,1 149 153,CREANCES INTERBANCAIRES,978 104,NaN,1 149 031,1 180 269,both,...,3 199 465,3 621 994,CREANCES INTERBANCAIRES,3 187 772,3 770 286,4 118 490,CREANCES INTERBANCAIRES,3 773 011,4 130 386,3 961 284
3,- A vue,517 334,617 266,718 619,- A vue,541 754,NaN,718 884,802 053,both,...,2 436 486,2 619 687,- A vue,2 424 793,2 763 188,3 100 876,- A vue,2 771 883,3 119 948,2 426 686
4,. Banques Centrales,235 956,302 613,415 808,. Banques Centrales,244 462,NaN,415 267,521 967,both,...,1 416 682,1 580 715,. Banques Centrales,1 407 349,1 717 980,1 671 804,. Banques Centrales,1 726 611,1 674 216,1 233 110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,NaN,both,...,9 821 163,11 754 608,ENGAGEMENTS DE GARANTIE,9 798 773,11 814 550,10 069 880,ENGAGEMENTS DE GARANTIE,12 773 842,16 247 831,18 868 658
67,Reçus d'établissements de crédit,262 730,237 018,294 206,Reçus d'établissements de crédit,261 789,NaN,356 551,332 913,both,...,647 082,795 499,Reçus d'établissements de crédit,633 474,784 654,1 086 879,Reçus d'établissements de crédit,789 156,1 075 189,1 263 919
68,Reçus de la clientèle,622 524,1 067 186,1 227 070,Reçus de la clientèle,1 066 131,NaN,1 279 714,1 300 141,both,...,9 174 081,11 359 490,Reçus de la clientèle,9 165 299,11 934 882,15 136 657,Reçus de la clientèle,11 984 686,15 172 642,17 604 739
69,ENGAGEMENTS SUR TITRES,1 621,4 799,4 447,ENGAGEMENTS SUR TITRES,4 799,NaN,4 447,932,both,...,0,21 132,ENGAGEMENTS SUR TITRES,0,21 132,55 167,ENGAGEMENTS SUR TITRES,21 132,55 167,154 421
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,...,339,194,ENGAGEMENTS DOUTEUX,339,194,50,ENGAGEMENTS DOUTEUX,194,50,184

In [87]:
Merged28=pd.merge(Merged27, U18, left_index=True, right_index=True, how='outer')

In [88]:
Merged29= Merged28.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
Merged29

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,Unnamed: 1,2002_y,2003_x,_merge,...,2014,2015_x,2016_x,Unnamed: 0_y,2015_y,2016_y,2017_x,Unnamed: 0_y,2017_y,2018
0,ACTIF,NaN,NaN,NaN,ACTIF,NaN,NaN,Millions de francs CFA,NaN,both,...,Millions de francs CFA,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN,ACTIF,NaN,NaN
1,CAISSE,81 240,123 643,136 619,CAISSE,144 656,NaN,136 597,175 737,both,...,596 638,625 863,640 243,CAISSE,626 880,638 084,610 427,"CAISSE, Banques Centrales, CCP",2 221 396,2 578 078
2,CREANCES INTERBANCAIRES,703 517,838 476,1 149 153,CREANCES INTERBANCAIRES,978 104,NaN,1 149 031,1 180 269,both,...,3 187 772,3 770 286,4 118 490,CREANCES INTERBANCAIRES,3 773 011,4 130 386,3 961 284,EFFETS PUBLICS ET VALEURS ASSIMILEES,6 123 746,6 453 753
3,- A vue,517 334,617 266,718 619,- A vue,541 754,NaN,718 884,802 053,both,...,2 424 793,2 763 188,3 100 876,- A vue,2 771 883,3 119 948,2 426 686,CREANCES INTERBANCAIRES ET ASSIMILEES,2 770 825,2 571 545
4,. Banques Centrales,235 956,302 613,415 808,. Banques Centrales,244 462,NaN,415 267,521 967,both,...,1 407 349,1 717 980,1 671 804,. Banques Centrales,1 726 611,1 674 216,1 233 110,CREANCES SUR LA CLIENTELE,21 177 153,23 736 739
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,NaN,both,...,9 798 773,11 814 550,10 069 880,ENGAGEMENTS DE GARANTIE,12 773 842,16 247 831,18 868 658,NaN,NaN,NaN
67,Reçus d'établissements de crédit,262 730,237 018,294 206,Reçus d'établissements de crédit,261 789,NaN,356 551,332 913,both,...,633 474,784 654,1 086 879,Reçus d'établissements de crédit,789 156,1 075 189,1 263 919,NaN,NaN,NaN
68,Reçus de la clientèle,622 524,1 067 186,1 227 070,Reçus de la clientèle,1 066 131,NaN,1 279 714,1 300 141,both,...,9 165 299,11 934 882,15 136 657,Reçus de la clientèle,11 984 686,15 172 642,17 604 739,NaN,NaN,NaN
69,ENGAGEMENTS SUR TITRES,1 621,4 799,4 447,ENGAGEMENTS SUR TITRES,4 799,NaN,4 447,932,both,...,0,21 132,55 167,ENGAGEMENTS SUR TITRES,21 132,55 167,154 421,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,...,339,194,50,ENGAGEMENTS DOUTEUX,194,50,184,NaN,NaN,NaN

In [89]:
Merged30=pd.merge(Merged29, U19, left_index=True, right_index=True, how='outer')

In [90]:
Merged31= Merged30.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
Merged31

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,Unnamed: 1,2002_y,2003_x,_merge,...,2015_y,2016_y,2017_x,Unnamed: 0_y,2017_y,2018_x,Unnamed: 0_y,2017,2018_y,2019
0,ACTIF,NaN,NaN,NaN,ACTIF,NaN,NaN,Millions de francs CFA,NaN,both,...,Millions de francs CFA,NaN,NaN,ACTIF,NaN,NaN,ACTIF,NaN,Montant net en millions de FCFA,NaN
1,CAISSE,81 240,123 643,136 619,CAISSE,144 656,NaN,136 597,175 737,both,...,626 880,638 084,610 427,"CAISSE, Banques Centrales, CCP",2 221 396,2 578 078,"CAISSE, BANQUE CENTRALE, CCP",320 473,274 987,308 057
2,CREANCES INTERBANCAIRES,703 517,838 476,1 149 153,CREANCES INTERBANCAIRES,978 104,NaN,1 149 031,1 180 269,both,...,3 773 011,4 130 386,3 961 284,EFFETS PUBLICS ET VALEURS ASSIMILEES,6 123 746,6 453 753,EFFETS PUBLICS ET VALEURS ASSIMILEES,783 150,741 458,1 148 625
3,- A vue,517 334,617 266,718 619,- A vue,541 754,NaN,718 884,802 053,both,...,2 771 883,3 119 948,2 426 686,CREANCES INTERBANCAIRES ET ASSIMILEES,2 770 825,2 571 545,CREANCES INTERBANCAIRES ET ASSIMILEES,407 012,398 735,385 319
4,. Banques Centrales,235 956,302 613,415 808,. Banques Centrales,244 462,NaN,415 267,521 967,both,...,1 726 611,1 674 216,1 233 110,CREANCES SUR LA CLIENTELE,21 177 153,23 736 739,CREANCES SUR LA CLIENTELE,2 596 714,2 933 318,3 202 280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,NaN,both,...,12 773 842,16 247 831,18 868 658,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,Reçus d'établissements de crédit,262 730,237 018,294 206,Reçus d'établissements de crédit,261 789,NaN,356 551,332 913,both,...,789 156,1 075 189,1 263 919,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,Reçus de la clientèle,622 524,1 067 186,1 227 070,Reçus de la clientèle,1 066 131,NaN,1 279 714,1 300 141,both,...,11 984 686,15 172 642,17 604 739,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,ENGAGEMENTS SUR TITRES,1 621,4 799,4 447,ENGAGEMENTS SUR TITRES,4 799,NaN,4 447,932,both,...,21 132,55 167,154 421,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,...,194,50,184,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
Merged32=pd.merge(Merged31, U20, left_index=True, right_index=True, how='outer')

In [92]:
Merged33= Merged32.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
Merged33

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,Unnamed: 1,2002_y,2003_x,_merge,...,2017_y,2018_x,Unnamed: 0_y,2017,2018_y,2019_x,Unnamed: 0_y,2018,2019_y,2020
0,ACTIF,NaN,NaN,NaN,ACTIF,NaN,NaN,Millions de francs CFA,NaN,both,...,NaN,NaN,ACTIF,NaN,Montant net en millions de FCFA,NaN,ACTIF,NaN,NaN,NaN
1,CAISSE,81 240,123 643,136 619,CAISSE,144 656,NaN,136 597,175 737,both,...,2 221 396,2 578 078,"CAISSE, BANQUE CENTRALE, CCP",320 473,274 987,308 057,"CAISSE, BANQUE CENTRALE, CCP",2 428 496,3 167 989,3 879 608
2,CREANCES INTERBANCAIRES,703 517,838 476,1 149 153,CREANCES INTERBANCAIRES,978 104,NaN,1 149 031,1 180 269,both,...,6 123 746,6 453 753,EFFETS PUBLICS ET VALEURS ASSIMILEES,783 150,741 458,1 148 625,EFFETS PUBLICS ET VALEURS ASSIMILEES,6 096 225,8 279 446,10 701 641
3,- A vue,517 334,617 266,718 619,- A vue,541 754,NaN,718 884,802 053,both,...,2 770 825,2 571 545,CREANCES INTERBANCAIRES ET ASSIMILEES,407 012,398 735,385 319,CREANCES INTERBANCAIRES ET ASSIMILEES,2 454 182,2 146 617,2 117 440
4,. Banques Centrales,235 956,302 613,415 808,. Banques Centrales,244 462,NaN,415 267,521 967,both,...,21 177 153,23 736 739,CREANCES SUR LA CLIENTELE,2 596 714,2 933 318,3 202 280,CREANCES SUR LA CLIENTELE,22 224 886,24 133 417,25 564 557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,NaN,both,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,Reçus d'établissements de crédit,262 730,237 018,294 206,Reçus d'établissements de crédit,261 789,NaN,356 551,332 913,both,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,Reçus de la clientèle,622 524,1 067 186,1 227 070,Reçus de la clientèle,1 066 131,NaN,1 279 714,1 300 141,both,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,ENGAGEMENTS SUR TITRES,1 621,4 799,4 447,ENGAGEMENTS SUR TITRES,4 799,NaN,4 447,932,both,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

####BURKINA FASO

In [93]:
MergedB=pd.merge(B2, B3, left_index=True, right_index=True, how='outer',indicator=True)
# Add the indicator column to the resulting DataFrame
MergedB['_merge'] = MergedB['_merge'].astype(str)
MergedB

,Unnamed: 0_x,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,2002_y,2003,_merge
0,ACTIF,NaN,Millions de francs CFA,NaN,ACTIF,NaN,Millions de francs CFA,NaN,both
1,CAISSE,8 873,12 483,12 710,CAISSE,12 483,12 710,15 926,both
2,CREANCES INTERBANCAIRES,81 131,95 289,96 087,CREANCES INTERBANCAIRES,95 289,96 088,126 491,both
3,- A vue,54 208,51 397,46 345,- A vue,51 397,46 346,72 904,both
4,. Banques Centrales,13 782,22 923,20 796,. Banques Centrales,22 923,20 797,47 552,both
...,...,...,...,...,...,...,...,...,...
65,Reçus d'établissements de crédit,3 875,2 725,0,Reçus d'établissements de crédit,2 725,0,0,both
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,both
67,Reçus d'établissements de crédit,12 687,19 530,17 954,Reçus d'établissements de crédit,19 530,17 944,24 777,both
68,Reçus de la clientèle,75 966,106 500,47 291,Reçus de la clientèle,106 500,89 196,145 464,both
69,ENGAGEMENTS SUR TITRES,0,0,0,ENGAGEMENTS SUR TITRES,0,0,0,both

In [94]:
MergedB1 = MergedB.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
MergedB1

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,2002_y,2003,_merge
0,ACTIF,NaN,Millions de francs CFA,NaN,ACTIF,NaN,Millions de francs CFA,NaN,both
1,CAISSE,8 873,12 483,12 710,CAISSE,12 483,12 710,15 926,both
2,CREANCES INTERBANCAIRES,81 131,95 289,96 087,CREANCES INTERBANCAIRES,95 289,96 088,126 491,both
3,- A vue,54 208,51 397,46 345,- A vue,51 397,46 346,72 904,both
4,. Banques Centrales,13 782,22 923,20 796,. Banques Centrales,22 923,20 797,47 552,both
...,...,...,...,...,...,...,...,...,...
65,Reçus d'établissements de crédit,3 875,2 725,0,Reçus d'établissements de crédit,2 725,0,0,both
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,both
67,Reçus d'établissements de crédit,12 687,19 530,17 954,Reçus d'établissements de crédit,19 530,17 944,24 777,both
68,Reçus de la clientèle,75 966,106 500,47 291,Reçus de la clientèle,106 500,89 196,145 464,both
69,ENGAGEMENTS SUR TITRES,0,0,0,ENGAGEMENTS SUR TITRES,0,0,0,both

In [95]:
MergedB2=pd.merge(MergedB1, B5, left_index=True, right_index=True, how='outer')

In [96]:
MergedB3 = MergedB2.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
MergedB3

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,2002_y,2003_x,_merge,Unnamed: 0_y,2003_y,2004,2005
0,ACTIF,NaN,Millions de francs CFA,NaN,ACTIF,NaN,Millions de francs CFA,NaN,both,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,8 873,12 483,12 710,CAISSE,12 483,12 710,15 926,both,CAISSE,15 926,18 878,17 661
2,CREANCES INTERBANCAIRES,81 131,95 289,96 087,CREANCES INTERBANCAIRES,95 289,96 088,126 491,both,CREANCES INTERBANCAIRES,126 491,125 263,95 904
3,- A vue,54 208,51 397,46 345,- A vue,51 397,46 346,72 904,both,- A vue,72 904,64 839,54 598
4,. Banques Centrales,13 782,22 923,20 796,. Banques Centrales,22 923,20 797,47 552,both,. Banques Centrales,47 552,46 077,30 820
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Reçus d'établissements de crédit,3 875,2 725,0,Reçus d'établissements de crédit,2 725,0,0,both,Reçus d'établissements de crédit,NaN,4 261,3 201
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,both,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN
67,Reçus d'établissements de crédit,12 687,19 530,17 954,Reçus d'établissements de crédit,19 530,17 944,24 777,both,Reçus d'établissements de crédit,24 777,16 800,11 837
68,Reçus de la clientèle,75 966,106 500,47 291,Reçus de la clientèle,106 500,89 196,145 464,both,Reçus de la clientèle,145 464,242 136,356 967
69,ENGAGEMENTS SUR TITRES,0,0,0,ENGAGEMENTS SUR TITRES,0,0,0,both,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN

In [97]:
MergedB4=pd.merge(MergedB3,B6, left_index=True, right_index=True, how='outer')

In [98]:
MergedB5 = MergedB4.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
MergedB5

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,2002_y,2003_x,_merge,Unnamed: 0_y,2003_y,2004_x,2005_x,Unnamed: 0_y,2004_y,2005_y,2006
0,ACTIF,NaN,Millions de francs CFA,NaN,ACTIF,NaN,Millions de francs CFA,NaN,both,ACTIF,Millions de francs CFA,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,8 873,12 483,12 710,CAISSE,12 483,12 710,15 926,both,CAISSE,15 926,18 878,17 661,CAISSE,18 878,17 661,18 661
2,CREANCES INTERBANCAIRES,81 131,95 289,96 087,CREANCES INTERBANCAIRES,95 289,96 088,126 491,both,CREANCES INTERBANCAIRES,126 491,125 263,95 904,CREANCES INTERBANCAIRES,125 263,95 904,122 428
3,- A vue,54 208,51 397,46 345,- A vue,51 397,46 346,72 904,both,- A vue,72 904,64 839,54 598,- A vue,64 839,54 598,69 779
4,. Banques Centrales,13 782,22 923,20 796,. Banques Centrales,22 923,20 797,47 552,both,. Banques Centrales,47 552,46 077,30 820,. Banques Centrales,46 077,30 820,41 133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Reçus d'établissements de crédit,3 875,2 725,0,Reçus d'établissements de crédit,2 725,0,0,both,Reçus d'établissements de crédit,NaN,4 261,3 201,Reçus d'établissements de crédit,4 261,3 201,6 681
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,both,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN
67,Reçus d'établissements de crédit,12 687,19 530,17 954,Reçus d'établissements de crédit,19 530,17 944,24 777,both,Reçus d'établissements de crédit,24 777,16 800,11 837,Reçus d'établissements de crédit,16 800,11 837,9 474
68,Reçus de la clientèle,75 966,106 500,47 291,Reçus de la clientèle,106 500,89 196,145 464,both,Reçus de la clientèle,145 464,242 136,356 967,Reçus de la clientèle,242 136,356 967,491 357
69,ENGAGEMENTS SUR TITRES,0,0,0,ENGAGEMENTS SUR TITRES,0,0,0,both,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN

In [99]:
MergedB6=pd.merge(MergedB5,B7, left_index=True, right_index=True, how='outer')

In [100]:
MergedB7 = MergedB6.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
MergedB7

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,2002_y,2003_x,_merge,Unnamed: 0_y,...,2004_x,2005_x,Unnamed: 0_y,2004_y,2005_y,2006_x,Unnamed: 0_y,2005,2006_y,2007
0,ACTIF,NaN,Millions de francs CFA,NaN,ACTIF,NaN,Millions de francs CFA,NaN,both,ACTIF,...,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,8 873,12 483,12 710,CAISSE,12 483,12 710,15 926,both,CAISSE,...,18 878,17 661,CAISSE,18 878,17 661,18 661,CAISSE,17 737,18 788,28 760
2,CREANCES INTERBANCAIRES,81 131,95 289,96 087,CREANCES INTERBANCAIRES,95 289,96 088,126 491,both,CREANCES INTERBANCAIRES,...,125 263,95 904,CREANCES INTERBANCAIRES,125 263,95 904,122 428,CREANCES INTERBANCAIRES,96 500,124 675,183 272
3,- A vue,54 208,51 397,46 345,- A vue,51 397,46 346,72 904,both,- A vue,...,64 839,54 598,- A vue,64 839,54 598,69 779,- A vue,55 095,71 925,115 909
4,. Banques Centrales,13 782,22 923,20 796,. Banques Centrales,22 923,20 797,47 552,both,. Banques Centrales,...,46 077,30 820,. Banques Centrales,46 077,30 820,41 133,. Banques Centrales,30 825,41 143,63 540
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Reçus d'établissements de crédit,3 875,2 725,0,Reçus d'établissements de crédit,2 725,0,0,both,Reçus d'établissements de crédit,...,4 261,3 201,Reçus d'établissements de crédit,4 261,3 201,6 681,Reçus d'établissements de crédit,5 305,7 156,5 640
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,both,ENGAGEMENTS DE GARANTIE,...,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN
67,Reçus d'établissements de crédit,12 687,19 530,17 954,Reçus d'établissements de crédit,19 530,17 944,24 777,both,Reçus d'établissements de crédit,...,16 800,11 837,Reçus d'établissements de crédit,16 800,11 837,9 474,Reçus d'établissements de crédit,11 837,9 474,5 570
68,Reçus de la clientèle,75 966,106 500,47 291,Reçus de la clientèle,106 500,89 196,145 464,both,Reçus de la clientèle,...,242 136,356 967,Reçus de la clientèle,242 136,356 967,491 357,Reçus de la clientèle,356 967,491 357,550 626
69,ENGAGEMENTS SUR TITRES,0,0,0,ENGAGEMENTS SUR TITRES,0,0,0,both,ENGAGEMENTS SUR TITRES,...,NaN,NaN,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN

In [101]:
MergedB8=pd.merge(MergedB7,B8, left_index=True, right_index=True, how='outer')

In [102]:
MergedB9 = MergedB8.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
MergedB9

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,2002_y,2003_x,_merge,Unnamed: 0_y,...,2005_y,2006_x,Unnamed: 0_y,2005,2006_y,2007_x,Unnamed: 0_y,2006,2007_y,2008
0,ACTIF,NaN,Millions de francs CFA,NaN,ACTIF,NaN,Millions de francs CFA,NaN,both,ACTIF,...,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,8 873,12 483,12 710,CAISSE,12 483,12 710,15 926,both,CAISSE,...,17 661,18 661,CAISSE,17 737,18 788,28 760,CAISSE,18 661,28 716,27 464
2,CREANCES INTERBANCAIRES,81 131,95 289,96 087,CREANCES INTERBANCAIRES,95 289,96 088,126 491,both,CREANCES INTERBANCAIRES,...,95 904,122 428,CREANCES INTERBANCAIRES,96 500,124 675,183 272,CREANCES INTERBANCAIRES,122 428,182 953,199 863
3,- A vue,54 208,51 397,46 345,- A vue,51 397,46 346,72 904,both,- A vue,...,54 598,69 779,- A vue,55 095,71 925,115 909,- A vue,69 779,115 590,120 291
4,. Banques Centrales,13 782,22 923,20 796,. Banques Centrales,22 923,20 797,47 552,both,. Banques Centrales,...,30 820,41 133,. Banques Centrales,30 825,41 143,63 540,. Banques Centrales,41 133,63 534,92 449
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Reçus d'établissements de crédit,3 875,2 725,0,Reçus d'établissements de crédit,2 725,0,0,both,Reçus d'établissements de crédit,...,3 201,6 681,Reçus d'établissements de crédit,5 305,7 156,5 640,Reçus d'établissements de crédit,6 681,2 000,2 156
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,both,ENGAGEMENTS DE GARANTIE,...,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN
67,Reçus d'établissements de crédit,12 687,19 530,17 954,Reçus d'établissements de crédit,19 530,17 944,24 777,both,Reçus d'établissements de crédit,...,11 837,9 474,Reçus d'établissements de crédit,11 837,9 474,5 570,Reçus d'établissements de crédit,9 474,5 570,28 347
68,Reçus de la clientèle,75 966,106 500,47 291,Reçus de la clientèle,106 500,89 196,145 464,both,Reçus de la clientèle,...,356 967,491 357,Reçus de la clientèle,356 967,491 357,550 626,Reçus de la clientèle,491 357,548 626,545 458
69,ENGAGEMENTS SUR TITRES,0,0,0,ENGAGEMENTS SUR TITRES,0,0,0,both,ENGAGEMENTS SUR TITRES,...,NaN,NaN,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN

In [103]:
BB9=B9
BB9 = BB9.reset_index()
BB9

    index                        Unnamed: 0     2007     2008     2009
0       0                             ACTIF      NaN      NaN      NaN
1       2                            CAISSE   28 760   27 509   31 516
2       3           CREANCES INTERBANCAIRES  183 067  201 502  247 031
3       4                           - A vue  115 704  120 899  148 443
4       5               . Banques Centrales   63 538   92 481  108 801
..    ...                               ...      ...      ...      ...
65     66  Reçus d'établissements de crédit    5 640    3 796      656
66     67           ENGAGEMENTS DE GARANTIE        0   14 634        0
67     68  Reçus d'établissements de crédit   51 673   29 061   13 088
68     69             Reçus de la clientèle  502 523  589 365  564 949
69     70            ENGAGEMENTS SUR TITRES        0        0        0

[70 rows x 5 columns]

In [104]:
MergedB10=pd.merge(MergedB9,BB9, left_index=True, right_index=True, how='outer')

In [105]:
MergedB11= MergedB10.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
MergedB11

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,2002_y,2003_x,_merge,Unnamed: 0_y,...,2007_x,Unnamed: 0_y,2006,2007_y,2008_x,index,Unnamed: 0_y,2007,2008_y,2009
0,ACTIF,NaN,Millions de francs CFA,NaN,ACTIF,NaN,Millions de francs CFA,NaN,both,ACTIF,...,NaN,ACTIF,Millions de francs CFA,NaN,NaN,0,ACTIF,NaN,NaN,NaN
1,CAISSE,8 873,12 483,12 710,CAISSE,12 483,12 710,15 926,both,CAISSE,...,28 760,CAISSE,18 661,28 716,27 464,2,CAISSE,28 760,27 509,31 516
2,CREANCES INTERBANCAIRES,81 131,95 289,96 087,CREANCES INTERBANCAIRES,95 289,96 088,126 491,both,CREANCES INTERBANCAIRES,...,183 272,CREANCES INTERBANCAIRES,122 428,182 953,199 863,3,CREANCES INTERBANCAIRES,183 067,201 502,247 031
3,- A vue,54 208,51 397,46 345,- A vue,51 397,46 346,72 904,both,- A vue,...,115 909,- A vue,69 779,115 590,120 291,4,- A vue,115 704,120 899,148 443
4,. Banques Centrales,13 782,22 923,20 796,. Banques Centrales,22 923,20 797,47 552,both,. Banques Centrales,...,63 540,. Banques Centrales,41 133,63 534,92 449,5,. Banques Centrales,63 538,92 481,108 801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Reçus d'établissements de crédit,3 875,2 725,0,Reçus d'établissements de crédit,2 725,0,0,both,Reçus d'établissements de crédit,...,5 640,Reçus d'établissements de crédit,6 681,2 000,2 156,66,Reçus d'établissements de crédit,5 640,3 796,656
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,both,ENGAGEMENTS DE GARANTIE,...,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,67,ENGAGEMENTS DE GARANTIE,0,14 634,0
67,Reçus d'établissements de crédit,12 687,19 530,17 954,Reçus d'établissements de crédit,19 530,17 944,24 777,both,Reçus d'établissements de crédit,...,5 570,Reçus d'établissements de crédit,9 474,5 570,28 347,68,Reçus d'établissements de crédit,51 673,29 061,13 088
68,Reçus de la clientèle,75 966,106 500,47 291,Reçus de la clientèle,106 500,89 196,145 464,both,Reçus de la clientèle,...,550 626,Reçus de la clientèle,491 357,548 626,545 458,69,Reçus de la clientèle,502 523,589 365,564 949
69,ENGAGEMENTS SUR TITRES,0,0,0,ENGAGEMENTS SUR TITRES,0,0,0,both,ENGAGEMENTS SUR TITRES,...,NaN,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN,70,ENGAGEMENTS SUR TITRES,0,0,0

In [106]:
BB10=B10
BB10 = BB10.reset_index()
BB10

,index,Unnamed: 0,2008,2009,2010
0,1,ACTIF,NaN,Millions de francs CFA,NaN
1,2,CAISSE,27 464,31 866,34 068
2,3,CREANCES INTERBANCAIRES,199 863,224 313,244 341
3,4,- A vue,120 291,149 329,159 478
4,5,. Banques Centrales,92 449,91 552,95 848
...,...,...,...,...,...
65,66,Reçus d'établissements de crédit,2 156,656,656
66,67,ENGAGEMENTS DE GARANTIE,NaN,NaN,0
67,68,Reçus d'établissements de crédit,28 347,20 390,22 954
68,69,Reçus de la clientèle,545 458,422 236,673 454
69,70,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN

In [107]:
MergedB12=pd.merge(MergedB11,BB10, left_index=True, right_index=True, how='outer')

In [108]:
MergedB13 = MergedB12.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
MergedB13

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,2002_y,2003_x,_merge,Unnamed: 0_y,...,index_x,Unnamed: 0_y,2007,2008_y,2009_x,index_y,Unnamed: 0_y,2008,2009_y,2010
0,ACTIF,NaN,Millions de francs CFA,NaN,ACTIF,NaN,Millions de francs CFA,NaN,both,ACTIF,...,0,ACTIF,NaN,NaN,NaN,1,ACTIF,NaN,Millions de francs CFA,NaN
1,CAISSE,8 873,12 483,12 710,CAISSE,12 483,12 710,15 926,both,CAISSE,...,2,CAISSE,28 760,27 509,31 516,2,CAISSE,27 464,31 866,34 068
2,CREANCES INTERBANCAIRES,81 131,95 289,96 087,CREANCES INTERBANCAIRES,95 289,96 088,126 491,both,CREANCES INTERBANCAIRES,...,3,CREANCES INTERBANCAIRES,183 067,201 502,247 031,3,CREANCES INTERBANCAIRES,199 863,224 313,244 341
3,- A vue,54 208,51 397,46 345,- A vue,51 397,46 346,72 904,both,- A vue,...,4,- A vue,115 704,120 899,148 443,4,- A vue,120 291,149 329,159 478
4,. Banques Centrales,13 782,22 923,20 796,. Banques Centrales,22 923,20 797,47 552,both,. Banques Centrales,...,5,. Banques Centrales,63 538,92 481,108 801,5,. Banques Centrales,92 449,91 552,95 848
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Reçus d'établissements de crédit,3 875,2 725,0,Reçus d'établissements de crédit,2 725,0,0,both,Reçus d'établissements de crédit,...,66,Reçus d'établissements de crédit,5 640,3 796,656,66,Reçus d'établissements de crédit,2 156,656,656
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,both,ENGAGEMENTS DE GARANTIE,...,67,ENGAGEMENTS DE GARANTIE,0,14 634,0,67,ENGAGEMENTS DE GARANTIE,NaN,NaN,0
67,Reçus d'établissements de crédit,12 687,19 530,17 954,Reçus d'établissements de crédit,19 530,17 944,24 777,both,Reçus d'établissements de crédit,...,68,Reçus d'établissements de crédit,51 673,29 061,13 088,68,Reçus d'établissements de crédit,28 347,20 390,22 954
68,Reçus de la clientèle,75 966,106 500,47 291,Reçus de la clientèle,106 500,89 196,145 464,both,Reçus de la clientèle,...,69,Reçus de la clientèle,502 523,589 365,564 949,69,Reçus de la clientèle,545 458,422 236,673 454
69,ENGAGEMENTS SUR TITRES,0,0,0,ENGAGEMENTS SUR TITRES,0,0,0,both,ENGAGEMENTS SUR TITRES,...,70,ENGAGEMENTS SUR TITRES,0,0,0,70,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN

In [109]:
B11

                          Unnamed: 0                    2009     2010     2011
0                              ACTIF                     NaN      NaN      NaN
1                                NaN  Millions de francs CFA      NaN      NaN
2                             CAISSE                  31 422   34 068   36 996
3            CREANCES INTERBANCAIRES                 241 272  244 341  258 712
4                            - A vue                 144 093  159 478  177 296
..                               ...                     ...      ...      ...
66  Reçus d'établissements de crédit                     656      656        0
67           ENGAGEMENTS DE GARANTIE                       0        0  149 075
68  Reçus d'établissements de crédit                  12 874   22 954   16 253
69             Reçus de la clientèle                 560 550  673 454  910 164
70            ENGAGEMENTS SUR TITRES                     NaN      NaN      NaN

[71 rows x 4 columns]

In [110]:
BB11=B11
# Combine the two rows
row1 = BB11.iloc[0]
row2 = BB11.iloc[1]



# Fuse the two rows
fused_row = row1.combine_first(row2)
BB11.iloc[0] = fused_row

# Drop the second row
BB11 = BB11.drop(1)


# Reset the index if needed
B1H = BB11.reset_index(drop=True)

B1H.at[0,'Unnamed: 0' ] = 'ACTIF'
B11H=B1H

B11H

                          Unnamed: 0                    2009     2010     2011
0                              ACTIF  Millions de francs CFA      NaN      NaN
1                             CAISSE                  31 422   34 068   36 996
2            CREANCES INTERBANCAIRES                 241 272  244 341  258 712
3                            - A vue                 144 093  159 478  177 296
4                . Banques Centrales                 105 630   95 848  120 065
..                               ...                     ...      ...      ...
65  Reçus d'établissements de crédit                     656      656        0
66           ENGAGEMENTS DE GARANTIE                       0        0  149 075
67  Reçus d'établissements de crédit                  12 874   22 954   16 253
68             Reçus de la clientèle                 560 550  673 454  910 164
69            ENGAGEMENTS SUR TITRES                     NaN      NaN      NaN

[70 rows x 4 columns]

In [111]:
MergedB14=pd.merge(MergedB13,B11H, left_index=True, right_index=True, how='outer')

In [112]:
MergedB15 = MergedB14.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
MergedB15

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,2002_y,2003_x,_merge,Unnamed: 0_y,...,2009_x,index_y,Unnamed: 0_y,2008,2009_y,2010_x,Unnamed: 0_y,2009,2010_y,2011
0,ACTIF,NaN,Millions de francs CFA,NaN,ACTIF,NaN,Millions de francs CFA,NaN,both,ACTIF,...,NaN,1,ACTIF,NaN,Millions de francs CFA,NaN,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,8 873,12 483,12 710,CAISSE,12 483,12 710,15 926,both,CAISSE,...,31 516,2,CAISSE,27 464,31 866,34 068,CAISSE,31 422,34 068,36 996
2,CREANCES INTERBANCAIRES,81 131,95 289,96 087,CREANCES INTERBANCAIRES,95 289,96 088,126 491,both,CREANCES INTERBANCAIRES,...,247 031,3,CREANCES INTERBANCAIRES,199 863,224 313,244 341,CREANCES INTERBANCAIRES,241 272,244 341,258 712
3,- A vue,54 208,51 397,46 345,- A vue,51 397,46 346,72 904,both,- A vue,...,148 443,4,- A vue,120 291,149 329,159 478,- A vue,144 093,159 478,177 296
4,. Banques Centrales,13 782,22 923,20 796,. Banques Centrales,22 923,20 797,47 552,both,. Banques Centrales,...,108 801,5,. Banques Centrales,92 449,91 552,95 848,. Banques Centrales,105 630,95 848,120 065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Reçus d'établissements de crédit,3 875,2 725,0,Reçus d'établissements de crédit,2 725,0,0,both,Reçus d'établissements de crédit,...,656,66,Reçus d'établissements de crédit,2 156,656,656,Reçus d'établissements de crédit,656,656,0
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,both,ENGAGEMENTS DE GARANTIE,...,0,67,ENGAGEMENTS DE GARANTIE,NaN,NaN,0,ENGAGEMENTS DE GARANTIE,0,0,149 075
67,Reçus d'établissements de crédit,12 687,19 530,17 954,Reçus d'établissements de crédit,19 530,17 944,24 777,both,Reçus d'établissements de crédit,...,13 088,68,Reçus d'établissements de crédit,28 347,20 390,22 954,Reçus d'établissements de crédit,12 874,22 954,16 253
68,Reçus de la clientèle,75 966,106 500,47 291,Reçus de la clientèle,106 500,89 196,145 464,both,Reçus de la clientèle,...,564 949,69,Reçus de la clientèle,545 458,422 236,673 454,Reçus de la clientèle,560 550,673 454,910 164
69,ENGAGEMENTS SUR TITRES,0,0,0,ENGAGEMENTS SUR TITRES,0,0,0,both,ENGAGEMENTS SUR TITRES,...,0,70,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN

In [113]:
BB12=B12
# Combine the two rows
row1 = BB12.iloc[0]
row2 = BB12.iloc[1]



# Fuse the two rows
fused_row = row1.combine_first(row2)
BB12.iloc[0] = fused_row

# Drop the second row
BB12 = BB12.drop(1)


# Reset the index if needed
B12H = BB12.reset_index(drop=True)

B12H.at[0,'Unnamed: 0' ] = 'ACTIF'
B122H=B12H

B122H

                          Unnamed: 0                    2010     2011     2012
0                              ACTIF  Millions de francs CFA      NaN      NaN
1                             CAISSE                  34 068   36 997   49 403
2            CREANCES INTERBANCAIRES                 244 341  258 712  297 380
3                            - A vue                 159 478  177 296  167 414
4                . Banques Centrales                  95 848  120 065   99 242
..                               ...                     ...      ...      ...
65  Reçus d'établissements de crédit                     656        0        0
66           ENGAGEMENTS DE GARANTIE                       0  149 075  166 478
67  Reçus d'établissements de crédit                  22 954   16 253   21 348
68             Reçus de la clientèle                 673 454  910 164  549 817
69            ENGAGEMENTS SUR TITRES                     NaN      NaN      NaN

[70 rows x 4 columns]

In [114]:
MergedB16=pd.merge(MergedB15,B122H, left_index=True, right_index=True, how='outer')

In [115]:
MergedB17 = MergedB16.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
MergedB17

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,2002_y,2003_x,_merge,Unnamed: 0_y,...,2009_y,2010_x,Unnamed: 0_y,2009,2010_y,2011_x,Unnamed: 0_y,2010,2011_y,2012
0,ACTIF,NaN,Millions de francs CFA,NaN,ACTIF,NaN,Millions de francs CFA,NaN,both,ACTIF,...,Millions de francs CFA,NaN,ACTIF,Millions de francs CFA,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,8 873,12 483,12 710,CAISSE,12 483,12 710,15 926,both,CAISSE,...,31 866,34 068,CAISSE,31 422,34 068,36 996,CAISSE,34 068,36 997,49 403
2,CREANCES INTERBANCAIRES,81 131,95 289,96 087,CREANCES INTERBANCAIRES,95 289,96 088,126 491,both,CREANCES INTERBANCAIRES,...,224 313,244 341,CREANCES INTERBANCAIRES,241 272,244 341,258 712,CREANCES INTERBANCAIRES,244 341,258 712,297 380
3,- A vue,54 208,51 397,46 345,- A vue,51 397,46 346,72 904,both,- A vue,...,149 329,159 478,- A vue,144 093,159 478,177 296,- A vue,159 478,177 296,167 414
4,. Banques Centrales,13 782,22 923,20 796,. Banques Centrales,22 923,20 797,47 552,both,. Banques Centrales,...,91 552,95 848,. Banques Centrales,105 630,95 848,120 065,. Banques Centrales,95 848,120 065,99 242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Reçus d'établissements de crédit,3 875,2 725,0,Reçus d'établissements de crédit,2 725,0,0,both,Reçus d'établissements de crédit,...,656,656,Reçus d'établissements de crédit,656,656,0,Reçus d'établissements de crédit,656,0,0
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,both,ENGAGEMENTS DE GARANTIE,...,NaN,0,ENGAGEMENTS DE GARANTIE,0,0,149 075,ENGAGEMENTS DE GARANTIE,0,149 075,166 478
67,Reçus d'établissements de crédit,12 687,19 530,17 954,Reçus d'établissements de crédit,19 530,17 944,24 777,both,Reçus d'établissements de crédit,...,20 390,22 954,Reçus d'établissements de crédit,12 874,22 954,16 253,Reçus d'établissements de crédit,22 954,16 253,21 348
68,Reçus de la clientèle,75 966,106 500,47 291,Reçus de la clientèle,106 500,89 196,145 464,both,Reçus de la clientèle,...,422 236,673 454,Reçus de la clientèle,560 550,673 454,910 164,Reçus de la clientèle,673 454,910 164,549 817
69,ENGAGEMENTS SUR TITRES,0,0,0,ENGAGEMENTS SUR TITRES,0,0,0,both,ENGAGEMENTS SUR TITRES,...,NaN,NaN,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN

In [116]:
MergedB18=pd.merge(MergedB17,B13, left_index=True, right_index=True, how='outer')

In [117]:
MergedB19 = MergedB18.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
MergedB19

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,2002_y,2003_x,_merge,Unnamed: 0_y,...,2010_y,2011_x,Unnamed: 0_y,2010,2011_y,2012_x,Unnamed: 0_y,2011,2012_y,2013
0,ACTIF,NaN,Millions de francs CFA,NaN,ACTIF,NaN,Millions de francs CFA,NaN,both,ACTIF,...,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,8 873,12 483,12 710,CAISSE,12 483,12 710,15 926,both,CAISSE,...,34 068,36 996,CAISSE,34 068,36 997,49 403,CAISSE,36 997,49 403,53 473
2,CREANCES INTERBANCAIRES,81 131,95 289,96 087,CREANCES INTERBANCAIRES,95 289,96 088,126 491,both,CREANCES INTERBANCAIRES,...,244 341,258 712,CREANCES INTERBANCAIRES,244 341,258 712,297 380,CREANCES INTERBANCAIRES,258 712,297 380,290 255
3,- A vue,54 208,51 397,46 345,- A vue,51 397,46 346,72 904,both,- A vue,...,159 478,177 296,- A vue,159 478,177 296,167 414,- A vue,177 296,167 414,169 137
4,. Banques Centrales,13 782,22 923,20 796,. Banques Centrales,22 923,20 797,47 552,both,. Banques Centrales,...,95 848,120 065,. Banques Centrales,95 848,120 065,99 242,. Banques Centrales,120 065,99 242,93 322
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Reçus d'établissements de crédit,3 875,2 725,0,Reçus d'établissements de crédit,2 725,0,0,both,Reçus d'établissements de crédit,...,656,0,Reçus d'établissements de crédit,656,0,0,Reçus d'établissements de crédit,NaN,NaN,NaN
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,both,ENGAGEMENTS DE GARANTIE,...,0,149 075,ENGAGEMENTS DE GARANTIE,0,149 075,166 478,ENGAGEMENTS DE GARANTIE,149 075,166 478,267 749
67,Reçus d'établissements de crédit,12 687,19 530,17 954,Reçus d'établissements de crédit,19 530,17 944,24 777,both,Reçus d'établissements de crédit,...,22 954,16 253,Reçus d'établissements de crédit,22 954,16 253,21 348,Reçus d'établissements de crédit,16 253,21 368,25 208
68,Reçus de la clientèle,75 966,106 500,47 291,Reçus de la clientèle,106 500,89 196,145 464,both,Reçus de la clientèle,...,673 454,910 164,Reçus de la clientèle,673 454,910 164,549 817,Reçus de la clientèle,910 164,550 235,930 824
69,ENGAGEMENTS SUR TITRES,0,0,0,ENGAGEMENTS SUR TITRES,0,0,0,both,ENGAGEMENTS SUR TITRES,...,NaN,NaN,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN

In [118]:
MergedB20=pd.merge(MergedB19,B14, left_index=True, right_index=True, how='outer')

In [119]:
MergedB21 = MergedB20.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
MergedB21

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,2002_y,2003_x,_merge,Unnamed: 0_y,...,2011_y,2012_x,Unnamed: 0_y,2011,2012_y,2013_x,Unnamed: 0_y,2012,2013_y,2014
0,ACTIF,NaN,Millions de francs CFA,NaN,ACTIF,NaN,Millions de francs CFA,NaN,both,ACTIF,...,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,8 873,12 483,12 710,CAISSE,12 483,12 710,15 926,both,CAISSE,...,36 997,49 403,CAISSE,36 997,49 403,53 473,CAISSE,49 403,53 473,54 428
2,CREANCES INTERBANCAIRES,81 131,95 289,96 087,CREANCES INTERBANCAIRES,95 289,96 088,126 491,both,CREANCES INTERBANCAIRES,...,258 712,297 380,CREANCES INTERBANCAIRES,258 712,297 380,290 255,CREANCES INTERBANCAIRES,297 380,290 240,259 902
3,- A vue,54 208,51 397,46 345,- A vue,51 397,46 346,72 904,both,- A vue,...,177 296,167 414,- A vue,177 296,167 414,169 137,- A vue,167 414,169 129,187 457
4,. Banques Centrales,13 782,22 923,20 796,. Banques Centrales,22 923,20 797,47 552,both,. Banques Centrales,...,120 065,99 242,. Banques Centrales,120 065,99 242,93 322,. Banques Centrales,99 129,95 740,102 988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Reçus d'établissements de crédit,3 875,2 725,0,Reçus d'établissements de crédit,2 725,0,0,both,Reçus d'établissements de crédit,...,0,0,Reçus d'établissements de crédit,NaN,NaN,NaN,Reçus d'établissements de crédit,0,0,0
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,both,ENGAGEMENTS DE GARANTIE,...,149 075,166 478,ENGAGEMENTS DE GARANTIE,149 075,166 478,267 749,ENGAGEMENTS DE GARANTIE,166 478,267 749,324 819
67,Reçus d'établissements de crédit,12 687,19 530,17 954,Reçus d'établissements de crédit,19 530,17 944,24 777,both,Reçus d'établissements de crédit,...,16 253,21 348,Reçus d'établissements de crédit,16 253,21 368,25 208,Reçus d'établissements de crédit,21 368,25 208,53 116
68,Reçus de la clientèle,75 966,106 500,47 291,Reçus de la clientèle,106 500,89 196,145 464,both,Reçus de la clientèle,...,910 164,549 817,Reçus de la clientèle,910 164,550 235,930 824,Reçus de la clientèle,550 235,942 776,1 082 978
69,ENGAGEMENTS SUR TITRES,0,0,0,ENGAGEMENTS SUR TITRES,0,0,0,both,ENGAGEMENTS SUR TITRES,...,NaN,NaN,ENGAGEMENTS SUR TITRES,NaN,NaN,NaN,ENGAGEMENTS SUR TITRES,0,0,0

In [120]:
MergedB22=pd.merge(MergedB21,B15, left_index=True, right_index=True, how='outer')

In [121]:
MergedB23 = MergedB22.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
MergedB23

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,2002_y,2003_x,_merge,Unnamed: 0_y,...,2012_y,2013_x,Unnamed: 0_y,2012,2013_y,2014_x,Unnamed: 0_y,2013,2014_y,2015
0,ACTIF,NaN,Millions de francs CFA,NaN,ACTIF,NaN,Millions de francs CFA,NaN,both,ACTIF,...,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,8 873,12 483,12 710,CAISSE,12 483,12 710,15 926,both,CAISSE,...,49 403,53 473,CAISSE,49 403,53 473,54 428,CAISSE,53 473,54 428,63 306
2,CREANCES INTERBANCAIRES,81 131,95 289,96 087,CREANCES INTERBANCAIRES,95 289,96 088,126 491,both,CREANCES INTERBANCAIRES,...,297 380,290 255,CREANCES INTERBANCAIRES,297 380,290 240,259 902,CREANCES INTERBANCAIRES,290 240,259 902,393 196
3,- A vue,54 208,51 397,46 345,- A vue,51 397,46 346,72 904,both,- A vue,...,167 414,169 137,- A vue,167 414,169 129,187 457,- A vue,169 129,187 457,229 965
4,. Banques Centrales,13 782,22 923,20 796,. Banques Centrales,22 923,20 797,47 552,both,. Banques Centrales,...,99 242,93 322,. Banques Centrales,99 129,95 740,102 988,. Banques Centrales,95 740,102 988,125 809
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,both,ENGAGEMENTS DE GARANTIE,...,166 478,267 749,ENGAGEMENTS DE GARANTIE,166 478,267 749,324 819,ENGAGEMENTS DE GARANTIE,967 984,1 136 094,1 350 189
67,Reçus d'établissements de crédit,12 687,19 530,17 954,Reçus d'établissements de crédit,19 530,17 944,24 777,both,Reçus d'établissements de crédit,...,21 368,25 208,Reçus d'établissements de crédit,21 368,25 208,53 116,Reçus d'établissements de crédit,25 208,53 116,61 633
68,Reçus de la clientèle,75 966,106 500,47 291,Reçus de la clientèle,106 500,89 196,145 464,both,Reçus de la clientèle,...,550 235,930 824,Reçus de la clientèle,550 235,942 776,1 082 978,Reçus de la clientèle,942 776,1 082 978,1 288 556
69,ENGAGEMENTS SUR TITRES,0,0,0,ENGAGEMENTS SUR TITRES,0,0,0,both,ENGAGEMENTS SUR TITRES,...,NaN,NaN,ENGAGEMENTS SUR TITRES,0,0,0,ENGAGEMENTS SUR TITRES,0,0,0
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ENGAGEMENTS DOUTEUX (*),224,339,194

In [122]:
MergedB24=pd.merge(MergedB23,B16, left_index=True, right_index=True, how='outer')

In [123]:
MergedB25 = MergedB24.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
MergedB25

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,2002_y,2003_x,_merge,Unnamed: 0_y,...,2013_y,2014_x,Unnamed: 0_y,2013,2014_y,2015_x,Unnamed: 0_y,2014,2015_y,2016
0,ACTIF,NaN,Millions de francs CFA,NaN,ACTIF,NaN,Millions de francs CFA,NaN,both,ACTIF,...,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,8 873,12 483,12 710,CAISSE,12 483,12 710,15 926,both,CAISSE,...,53 473,54 428,CAISSE,53 473,54 428,63 306,CAISSE,54 428,63 306,69 448
2,CREANCES INTERBANCAIRES,81 131,95 289,96 087,CREANCES INTERBANCAIRES,95 289,96 088,126 491,both,CREANCES INTERBANCAIRES,...,290 240,259 902,CREANCES INTERBANCAIRES,290 240,259 902,393 196,CREANCES INTERBANCAIRES,259 902,393 196,509 302
3,- A vue,54 208,51 397,46 345,- A vue,51 397,46 346,72 904,both,- A vue,...,169 129,187 457,- A vue,169 129,187 457,229 965,- A vue,187 457,229 965,329 172
4,. Banques Centrales,13 782,22 923,20 796,. Banques Centrales,22 923,20 797,47 552,both,. Banques Centrales,...,95 740,102 988,. Banques Centrales,95 740,102 988,125 809,. Banques Centrales,102 988,125 809,128 695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,both,ENGAGEMENTS DE GARANTIE,...,267 749,324 819,ENGAGEMENTS DE GARANTIE,967 984,1 136 094,1 350 189,ENGAGEMENTS DE GARANTIE,1 136 094,1 350 189,2 077 306
67,Reçus d'établissements de crédit,12 687,19 530,17 954,Reçus d'établissements de crédit,19 530,17 944,24 777,both,Reçus d'établissements de crédit,...,25 208,53 116,Reçus d'établissements de crédit,25 208,53 116,61 633,Reçus d'établissements de crédit,53 116,61 633,44 272
68,Reçus de la clientèle,75 966,106 500,47 291,Reçus de la clientèle,106 500,89 196,145 464,both,Reçus de la clientèle,...,942 776,1 082 978,Reçus de la clientèle,942 776,1 082 978,1 288 556,Reçus de la clientèle,1 082 978,1 288 556,2 033 034
69,ENGAGEMENTS SUR TITRES,0,0,0,ENGAGEMENTS SUR TITRES,0,0,0,both,ENGAGEMENTS SUR TITRES,...,0,0,ENGAGEMENTS SUR TITRES,0,0,0,ENGAGEMENTS SUR TITRES,0,0,0
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,ENGAGEMENTS DOUTEUX (*),224,339,194,ENGAGEMENTS DOUTEUX (*),339,194,50

In [124]:
MergedB26=pd.merge(MergedB25,B17, left_index=True, right_index=True, how='outer')

In [125]:
MergedB27 = MergedB26.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
MergedB27

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,2002_y,2003_x,_merge,Unnamed: 0_y,...,2014_y,2015_x,Unnamed: 0_y,2014,2015_y,2016_x,Unnamed: 0_y,2015,2016_y,2017
0,ACTIF,NaN,Millions de francs CFA,NaN,ACTIF,NaN,Millions de francs CFA,NaN,both,ACTIF,...,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN
1,CAISSE,8 873,12 483,12 710,CAISSE,12 483,12 710,15 926,both,CAISSE,...,54 428,63 306,CAISSE,54 428,63 306,69 448,CAISSE,63 306,69 448,71 268
2,CREANCES INTERBANCAIRES,81 131,95 289,96 087,CREANCES INTERBANCAIRES,95 289,96 088,126 491,both,CREANCES INTERBANCAIRES,...,259 902,393 196,CREANCES INTERBANCAIRES,259 902,393 196,509 302,CREANCES INTERBANCAIRES,393 196,509 302,660 369
3,- A vue,54 208,51 397,46 345,- A vue,51 397,46 346,72 904,both,- A vue,...,187 457,229 965,- A vue,187 457,229 965,329 172,- A vue,229 965,329 172,381 663
4,. Banques Centrales,13 782,22 923,20 796,. Banques Centrales,22 923,20 797,47 552,both,. Banques Centrales,...,102 988,125 809,. Banques Centrales,102 988,125 809,128 695,. Banques Centrales,125 809,128 695,157 472
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,both,ENGAGEMENTS DE GARANTIE,...,1 136 094,1 350 189,ENGAGEMENTS DE GARANTIE,1 136 094,1 350 189,2 077 306,ENGAGEMENTS DE GARANTIE,1 650 189,2 077 453,2 411 573
67,Reçus d'établissements de crédit,12 687,19 530,17 954,Reçus d'établissements de crédit,19 530,17 944,24 777,both,Reçus d'établissements de crédit,...,53 116,61 633,Reçus d'établissements de crédit,53 116,61 633,44 272,Reçus d'établissements de crédit,61 633,44 419,13 469
68,Reçus de la clientèle,75 966,106 500,47 291,Reçus de la clientèle,106 500,89 196,145 464,both,Reçus de la clientèle,...,1 082 978,1 288 556,Reçus de la clientèle,1 082 978,1 288 556,2 033 034,Reçus de la clientèle,1 588 556,2 033 034,2 398 104
69,ENGAGEMENTS SUR TITRES,0,0,0,ENGAGEMENTS SUR TITRES,0,0,0,both,ENGAGEMENTS SUR TITRES,...,0,0,ENGAGEMENTS SUR TITRES,0,0,0,ENGAGEMENTS SUR TITRES,0,0,0
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,339,194,ENGAGEMENTS DOUTEUX (*),339,194,50,ENGAGEMENTS DOUTEUX,194,50,184

In [126]:
MergedB28=pd.merge(MergedB27,B18, left_index=True, right_index=True, how='outer')

In [127]:
MergedB29 = MergedB28.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
MergedB29

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,2002_y,2003_x,_merge,Unnamed: 0_y,...,2014,2015_y,2016_x,Unnamed: 0_y,2015,2016_y,2017_x,Unnamed: 0_y,2017_y,2018
0,ACTIF,NaN,Millions de francs CFA,NaN,ACTIF,NaN,Millions de francs CFA,NaN,both,ACTIF,...,Millions de francs CFA,NaN,NaN,ACTIF,Millions de francs CFA,NaN,NaN,ACTIF,Millions de,francs CFA
1,CAISSE,8 873,12 483,12 710,CAISSE,12 483,12 710,15 926,both,CAISSE,...,54 428,63 306,69 448,CAISSE,63 306,69 448,71 268,"CAISSE, BANQUE CENTRALE, CCP",419 336,402 485
2,CREANCES INTERBANCAIRES,81 131,95 289,96 087,CREANCES INTERBANCAIRES,95 289,96 088,126 491,both,CREANCES INTERBANCAIRES,...,259 902,393 196,509 302,CREANCES INTERBANCAIRES,393 196,509 302,660 369,EFFETS PUBLICS ET VALEURS ASSIMILEES,980 790,972 319
3,- A vue,54 208,51 397,46 345,- A vue,51 397,46 346,72 904,both,- A vue,...,187 457,229 965,329 172,- A vue,229 965,329 172,381 663,CREANCES INTERBANCAIRES ET ASSIMILEES,475 316,495 236
4,. Banques Centrales,13 782,22 923,20 796,. Banques Centrales,22 923,20 797,47 552,both,. Banques Centrales,...,102 988,125 809,128 695,. Banques Centrales,125 809,128 695,157 472,CREANCES SUR LA CLIENTELE,3 559 356,4 051 307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,both,ENGAGEMENTS DE GARANTIE,...,1 136 094,1 350 189,2 077 306,ENGAGEMENTS DE GARANTIE,1 650 189,2 077 453,2 411 573,NaN,NaN,NaN
67,Reçus d'établissements de crédit,12 687,19 530,17 954,Reçus d'établissements de crédit,19 530,17 944,24 777,both,Reçus d'établissements de crédit,...,53 116,61 633,44 272,Reçus d'établissements de crédit,61 633,44 419,13 469,NaN,NaN,NaN
68,Reçus de la clientèle,75 966,106 500,47 291,Reçus de la clientèle,106 500,89 196,145 464,both,Reçus de la clientèle,...,1 082 978,1 288 556,2 033 034,Reçus de la clientèle,1 588 556,2 033 034,2 398 104,NaN,NaN,NaN
69,ENGAGEMENTS SUR TITRES,0,0,0,ENGAGEMENTS SUR TITRES,0,0,0,both,ENGAGEMENTS SUR TITRES,...,0,0,0,ENGAGEMENTS SUR TITRES,0,0,0,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,339,194,50,ENGAGEMENTS DOUTEUX,194,50,184,NaN,NaN,NaN

In [128]:
MergedB30=pd.merge(MergedB29,B19, left_index=True, right_index=True, how='outer')

In [129]:
MergedB31 = MergedB30.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
MergedB31

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,2002_y,2003_x,_merge,Unnamed: 0_y,...,2015,2016_y,2017_x,Unnamed: 0_y,2017_y,2018_x,Unnamed: 0_y,2017,2018_y,2019
0,ACTIF,NaN,Millions de francs CFA,NaN,ACTIF,NaN,Millions de francs CFA,NaN,both,ACTIF,...,Millions de francs CFA,NaN,NaN,ACTIF,Millions de,francs CFA,ACTIF,Montant,net en millions,de FCFA
1,CAISSE,8 873,12 483,12 710,CAISSE,12 483,12 710,15 926,both,CAISSE,...,63 306,69 448,71 268,"CAISSE, BANQUE CENTRALE, CCP",419 336,402 485,"CAISSE, BANQUE CENTRALE, CCP",320 473,274 987,308 057
2,CREANCES INTERBANCAIRES,81 131,95 289,96 087,CREANCES INTERBANCAIRES,95 289,96 088,126 491,both,CREANCES INTERBANCAIRES,...,393 196,509 302,660 369,EFFETS PUBLICS ET VALEURS ASSIMILEES,980 790,972 319,EFFETS PUBLICS ET VALEURS ASSIMILEES,783 150,741 458,1 148 625
3,- A vue,54 208,51 397,46 345,- A vue,51 397,46 346,72 904,both,- A vue,...,229 965,329 172,381 663,CREANCES INTERBANCAIRES ET ASSIMILEES,475 316,495 236,CREANCES INTERBANCAIRES ET ASSIMILEES,407 012,398 735,385 319
4,. Banques Centrales,13 782,22 923,20 796,. Banques Centrales,22 923,20 797,47 552,both,. Banques Centrales,...,125 809,128 695,157 472,CREANCES SUR LA CLIENTELE,3 559 356,4 051 307,CREANCES SUR LA CLIENTELE,2 596 714,2 933 318,3 202 280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,both,ENGAGEMENTS DE GARANTIE,...,1 650 189,2 077 453,2 411 573,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,Reçus d'établissements de crédit,12 687,19 530,17 954,Reçus d'établissements de crédit,19 530,17 944,24 777,both,Reçus d'établissements de crédit,...,61 633,44 419,13 469,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,Reçus de la clientèle,75 966,106 500,47 291,Reçus de la clientèle,106 500,89 196,145 464,both,Reçus de la clientèle,...,1 588 556,2 033 034,2 398 104,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,ENGAGEMENTS SUR TITRES,0,0,0,ENGAGEMENTS SUR TITRES,0,0,0,both,ENGAGEMENTS SUR TITRES,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,194,50,184,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
MergedB32=pd.merge(MergedB31,B20, left_index=True, right_index=True, how='outer')

In [131]:
MergedB33 = MergedB32.rename(columns={'Unnamed: 0_x': 'Unnamed: 0'})
MergedB33

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,2002_y,2003_x,_merge,Unnamed: 0_y,...,2017_y,2018_x,Unnamed: 0_y,2017,2018_y,2019_x,Unnamed: 0_y,2018,2019_y,2020
0,ACTIF,NaN,Millions de francs CFA,NaN,ACTIF,NaN,Millions de francs CFA,NaN,both,ACTIF,...,Millions de,francs CFA,ACTIF,Montant,net en millions,de FCFA,ACTIF,NaN,Montant net en millions de FCFA,NaN
1,CAISSE,8 873,12 483,12 710,CAISSE,12 483,12 710,15 926,both,CAISSE,...,419 336,402 485,"CAISSE, BANQUE CENTRALE, CCP",320 473,274 987,308 057,"CAISSE, BANQUE CENTRALE, CCP",274 987,308 057,472 788
2,CREANCES INTERBANCAIRES,81 131,95 289,96 087,CREANCES INTERBANCAIRES,95 289,96 088,126 491,both,CREANCES INTERBANCAIRES,...,980 790,972 319,EFFETS PUBLICS ET VALEURS ASSIMILEES,783 150,741 458,1 148 625,EFFETS PUBLICS ET VALEURS ASSIMILEES,741 458,1 148 625,1 554 065
3,- A vue,54 208,51 397,46 345,- A vue,51 397,46 346,72 904,both,- A vue,...,475 316,495 236,CREANCES INTERBANCAIRES ET ASSIMILEES,407 012,398 735,385 319,CREANCES INTERBANCAIRES ET ASSIMILEES,398 735,385 319,328 361
4,. Banques Centrales,13 782,22 923,20 796,. Banques Centrales,22 923,20 797,47 552,both,. Banques Centrales,...,3 559 356,4 051 307,CREANCES SUR LA CLIENTELE,2 596 714,2 933 318,3 202 280,CREANCES SUR LA CLIENTELE,2 933 318,3 202 280,3 442 518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,both,ENGAGEMENTS DE GARANTIE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,Reçus d'établissements de crédit,12 687,19 530,17 954,Reçus d'établissements de crédit,19 530,17 944,24 777,both,Reçus d'établissements de crédit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,Reçus de la clientèle,75 966,106 500,47 291,Reçus de la clientèle,106 500,89 196,145 464,both,Reçus de la clientèle,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,ENGAGEMENTS SUR TITRES,0,0,0,ENGAGEMENTS SUR TITRES,0,0,0,both,ENGAGEMENTS SUR TITRES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#FINAL DATAFRAME

####UEMOA

In [132]:
Merged33

,Unnamed: 0,2000,2001_x,2002_x,Unnamed: 0_y,2001_y,Unnamed: 1,2002_y,2003_x,_merge,...,2017_y,2018_x,Unnamed: 0_y,2017,2018_y,2019_x,Unnamed: 0_y,2018,2019_y,2020
0,ACTIF,NaN,NaN,NaN,ACTIF,NaN,NaN,Millions de francs CFA,NaN,both,...,NaN,NaN,ACTIF,NaN,Montant net en millions de FCFA,NaN,ACTIF,NaN,NaN,NaN
1,CAISSE,81 240,123 643,136 619,CAISSE,144 656,NaN,136 597,175 737,both,...,2 221 396,2 578 078,"CAISSE, BANQUE CENTRALE, CCP",320 473,274 987,308 057,"CAISSE, BANQUE CENTRALE, CCP",2 428 496,3 167 989,3 879 608
2,CREANCES INTERBANCAIRES,703 517,838 476,1 149 153,CREANCES INTERBANCAIRES,978 104,NaN,1 149 031,1 180 269,both,...,6 123 746,6 453 753,EFFETS PUBLICS ET VALEURS ASSIMILEES,783 150,741 458,1 148 625,EFFETS PUBLICS ET VALEURS ASSIMILEES,6 096 225,8 279 446,10 701 641
3,- A vue,517 334,617 266,718 619,- A vue,541 754,NaN,718 884,802 053,both,...,2 770 825,2 571 545,CREANCES INTERBANCAIRES ET ASSIMILEES,407 012,398 735,385 319,CREANCES INTERBANCAIRES ET ASSIMILEES,2 454 182,2 146 617,2 117 440
4,. Banques Centrales,235 956,302 613,415 808,. Banques Centrales,244 462,NaN,415 267,521 967,both,...,21 177 153,23 736 739,CREANCES SUR LA CLIENTELE,2 596 714,2 933 318,3 202 280,CREANCES SUR LA CLIENTELE,22 224 886,24 133 417,25 564 557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,NaN,both,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,Reçus d'établissements de crédit,262 730,237 018,294 206,Reçus d'établissements de crédit,261 789,NaN,356 551,332 913,both,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,Reçus de la clientèle,622 524,1 067 186,1 227 070,Reçus de la clientèle,1 066 131,NaN,1 279 714,1 300 141,both,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,ENGAGEMENTS SUR TITRES,1 621,4 799,4 447,ENGAGEMENTS SUR TITRES,4 799,NaN,4 447,932,both,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [133]:
selected_columnsUEMOA = Merged33.iloc[:, [58,1,5,7,11,15,19,20,27,31,35,36,40,47,51,55,59,60,63,70,71,72]]
selected_columnsUEMOA

,Unnamed: 0_y,2000,2001_y,2002_y,2003_y,2004_y,2005,2006_y,2007,2008,...,2011_y,2012,2013,2014,2015_y,2016_y,2017_y,2018,2019_y,2020
0,ACTIF,NaN,NaN,Millions de francs CFA,NaN,Millions de francs CFA,Millions de francs CFA,NaN,Millions de francs CFA,NaN,...,NaN,Millions de francs CFA,Millions de francs CFA,Millions de francs CFA,Millions de francs CFA,NaN,NaN,NaN,NaN,NaN
1,CAISSE,81 240,144 656,136 597,175 737,183 636,164 550,203 366,284 388,NaN,...,417 915,462 436,545 579,596 638,626 880,638 084,2 221 396,2 428 496,3 167 989,3 879 608
2,CREANCES INTERBANCAIRES,703 517,978 104,1 149 031,1 178 725,1 276 920,1 169 751,1 333 686,1 561 785,279 541,...,2 529 628,2 744 868,2 866 659,3 187 772,3 773 011,4 130 386,6 123 746,6 096 225,8 279 446,10 701 641
3,- A vue,517 334,541 754,718 884,796 696,851 424,790 697,868 712,963 704,1 718 181,...,1 841 671,1 861 615,1 971 357,2 424 793,2 771 883,3 119 948,2 770 825,2 454 182,2 146 617,2 117 440
4,. Banques Centrales,235 956,244 462,415 267,523 589,623 075,497 634,527 466,613 143,1 142 142,...,1 332 276,1 049 619,1 140 802,1 407 349,1 726 611,1 674 216,21 177 153,22 224 886,24 133 417,25 564 557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 041,3 600 665,...,1 566 624,2 292 068,8 275 747,9 798 773,12 773 842,16 247 831,NaN,NaN,NaN,NaN
67,Reçus d'établissements de crédit,262 730,261 789,356 551,332 886,418 798,357 927,377 225,570 435,1 116,...,380 058,527 920,662 786,633 474,789 156,1 075 189,NaN,NaN,NaN,NaN
68,Reçus de la clientèle,622 524,1 066 131,1 279 714,1 298 739,1 674 356,2 379 623,2 677 558,2 825 266,NaN,...,5 080 597,5 764 664,7 612 961,9 165 299,11 984 686,15 172 642,NaN,NaN,NaN,NaN
69,ENGAGEMENTS SUR TITRES,1 621,4 799,4 447,NaN,NaN,NaN,NaN,3 632,NaN,...,63 839,0,0,0,21 132,55 167,NaN,NaN,NaN,NaN
70,ENGAGEMENTS DOUTEUX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,224,339,194,50,NaN,NaN,NaN,NaN

In [134]:
# Assuming you have a DataFrame named "df"
df2 = selected_columnsUEMOA.fillna(0)
df2

,Unnamed: 0_y,2000,2001_y,2002_y,2003_y,2004_y,2005,2006_y,2007,2008,...,2011_y,2012,2013,2014,2015_y,2016_y,2017_y,2018,2019_y,2020
0,ACTIF,0,0,Millions de francs CFA,0,Millions de francs CFA,Millions de francs CFA,0,Millions de francs CFA,0,...,0,Millions de francs CFA,Millions de francs CFA,Millions de francs CFA,Millions de francs CFA,0,0,0,0,0
1,CAISSE,81 240,144 656,136 597,175 737,183 636,164 550,203 366,284 388,0,...,417 915,462 436,545 579,596 638,626 880,638 084,2 221 396,2 428 496,3 167 989,3 879 608
2,CREANCES INTERBANCAIRES,703 517,978 104,1 149 031,1 178 725,1 276 920,1 169 751,1 333 686,1 561 785,279 541,...,2 529 628,2 744 868,2 866 659,3 187 772,3 773 011,4 130 386,6 123 746,6 096 225,8 279 446,10 701 641
3,- A vue,517 334,541 754,718 884,796 696,851 424,790 697,868 712,963 704,1 718 181,...,1 841 671,1 861 615,1 971 357,2 424 793,2 771 883,3 119 948,2 770 825,2 454 182,2 146 617,2 117 440
4,. Banques Centrales,235 956,244 462,415 267,523 589,623 075,497 634,527 466,613 143,1 142 142,...,1 332 276,1 049 619,1 140 802,1 407 349,1 726 611,1 674 216,21 177 153,22 224 886,24 133 417,25 564 557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,0,0,0,0,0,0,0,1 041,3 600 665,...,1 566 624,2 292 068,8 275 747,9 798 773,12 773 842,16 247 831,0,0,0,0
67,Reçus d'établissements de crédit,262 730,261 789,356 551,332 886,418 798,357 927,377 225,570 435,1 116,...,380 058,527 920,662 786,633 474,789 156,1 075 189,0,0,0,0
68,Reçus de la clientèle,622 524,1 066 131,1 279 714,1 298 739,1 674 356,2 379 623,2 677 558,2 825 266,0,...,5 080 597,5 764 664,7 612 961,9 165 299,11 984 686,15 172 642,0,0,0,0
69,ENGAGEMENTS SUR TITRES,1 621,4 799,4 447,0,0,0,0,3 632,0,...,63 839,0,0,0,21 132,55 167,0,0,0,0
70,ENGAGEMENTS DOUTEUX,0,0,0,0,0,0,0,0,0,...,0,0,224,339,194,50,0,0,0,0

In [135]:
row_index = 0  # Specify the index of the row to be filled
string_value = "Montant net en millions de FCFA"  # Specify the string value to fill the row with

df2.loc[row_index] = string_value

In [136]:
new_value = "ACTIF"  # Specify the new string value

df2.iloc[0, 0] = new_value
df2

,Unnamed: 0_y,2000,2001_y,2002_y,2003_y,2004_y,2005,2006_y,2007,2008,...,2011_y,2012,2013,2014,2015_y,2016_y,2017_y,2018,2019_y,2020
0,ACTIF,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,...,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA
1,CAISSE,81 240,144 656,136 597,175 737,183 636,164 550,203 366,284 388,0,...,417 915,462 436,545 579,596 638,626 880,638 084,2 221 396,2 428 496,3 167 989,3 879 608
2,CREANCES INTERBANCAIRES,703 517,978 104,1 149 031,1 178 725,1 276 920,1 169 751,1 333 686,1 561 785,279 541,...,2 529 628,2 744 868,2 866 659,3 187 772,3 773 011,4 130 386,6 123 746,6 096 225,8 279 446,10 701 641
3,- A vue,517 334,541 754,718 884,796 696,851 424,790 697,868 712,963 704,1 718 181,...,1 841 671,1 861 615,1 971 357,2 424 793,2 771 883,3 119 948,2 770 825,2 454 182,2 146 617,2 117 440
4,. Banques Centrales,235 956,244 462,415 267,523 589,623 075,497 634,527 466,613 143,1 142 142,...,1 332 276,1 049 619,1 140 802,1 407 349,1 726 611,1 674 216,21 177 153,22 224 886,24 133 417,25 564 557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,0,0,0,0,0,0,0,1 041,3 600 665,...,1 566 624,2 292 068,8 275 747,9 798 773,12 773 842,16 247 831,0,0,0,0
67,Reçus d'établissements de crédit,262 730,261 789,356 551,332 886,418 798,357 927,377 225,570 435,1 116,...,380 058,527 920,662 786,633 474,789 156,1 075 189,0,0,0,0
68,Reçus de la clientèle,622 524,1 066 131,1 279 714,1 298 739,1 674 356,2 379 623,2 677 558,2 825 266,0,...,5 080 597,5 764 664,7 612 961,9 165 299,11 984 686,15 172 642,0,0,0,0
69,ENGAGEMENTS SUR TITRES,1 621,4 799,4 447,0,0,0,0,3 632,0,...,63 839,0,0,0,21 132,55 167,0,0,0,0
70,ENGAGEMENTS DOUTEUX,0,0,0,0,0,0,0,0,0,...,0,0,224,339,194,50,0,0,0,0

Warning: Total number of columns (22) exceeds max_columns (20) limiting to first (20) columns.

In [152]:
Final_UMOA = df2.rename(columns={'2001_y': '2001','2002_y': '2002','2003_y': '2003','2004_y': '2004','2006_y': '2006','2010_y': '2010','2011_y': '2011','2015_y': '2015','2016_y': '2016','2017_y': '2017','2019_y': '2019'})
Final_UMOA

,Unnamed: 0_y,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,ACTIF,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,...,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA
1,CAISSE,81 240,144 656,136 597,175 737,183 636,164 550,203 366,284 388,0,...,417 915,462 436,545 579,596 638,626 880,638 084,2 221 396,2 428 496,3 167 989,3 879 608
2,CREANCES INTERBANCAIRES,703 517,978 104,1 149 031,1 178 725,1 276 920,1 169 751,1 333 686,1 561 785,279 541,...,2 529 628,2 744 868,2 866 659,3 187 772,3 773 011,4 130 386,6 123 746,6 096 225,8 279 446,10 701 641
3,- A vue,517 334,541 754,718 884,796 696,851 424,790 697,868 712,963 704,1 718 181,...,1 841 671,1 861 615,1 971 357,2 424 793,2 771 883,3 119 948,2 770 825,2 454 182,2 146 617,2 117 440
4,. Banques Centrales,235 956,244 462,415 267,523 589,623 075,497 634,527 466,613 143,1 142 142,...,1 332 276,1 049 619,1 140 802,1 407 349,1 726 611,1 674 216,21 177 153,22 224 886,24 133 417,25 564 557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,0,0,0,0,0,0,0,1 041,3 600 665,...,1 566 624,2 292 068,8 275 747,9 798 773,12 773 842,16 247 831,0,0,0,0
67,Reçus d'établissements de crédit,262 730,261 789,356 551,332 886,418 798,357 927,377 225,570 435,1 116,...,380 058,527 920,662 786,633 474,789 156,1 075 189,0,0,0,0
68,Reçus de la clientèle,622 524,1 066 131,1 279 714,1 298 739,1 674 356,2 379 623,2 677 558,2 825 266,0,...,5 080 597,5 764 664,7 612 961,9 165 299,11 984 686,15 172 642,0,0,0,0
69,ENGAGEMENTS SUR TITRES,1 621,4 799,4 447,0,0,0,0,3 632,0,...,63 839,0,0,0,21 132,55 167,0,0,0,0
70,ENGAGEMENTS DOUTEUX,0,0,0,0,0,0,0,0,0,...,0,0,224,339,194,50,0,0,0,0

In [137]:
# import re

# # Assuming you have a DataFrame named "df22"
# start_row = 1  # Specify the row index to start from
# start_column = 1  # Specify the column index to start from

# # Convert values to integers starting from the specified row and column
# df2.iloc[start_row:, start_column:] = df2.iloc[start_row:, start_column:].applymap(lambda x: int(re.sub(r'\D', '', str(x))))

In [138]:
# df.columns = pd.MultiIndex.from_arrays([df.iloc[0], df.columns])
# df = df.drop(0)

In [139]:
# row_index = 0  # Specify the index of the row to be filled
# string_value = "Montant net en millions de FCFA"  # Specify the string value to fill the row with

# ddf2.loc[row_index] = string_value

In [140]:
# new_value = "ACTIF"  # Specify the new string value

# ddf2.iloc[0, 0] = new_value
# ddf2

In [164]:
Final_UMOA.to_csv('Final_UMOA.csv')

####BURKINA FASO

In [154]:
selected_columnsBURKINA = MergedB33.iloc[:, [59,1,2,6,10,14,18,22,23,24,36,37,41,45,49,53,57,61,67,68,72,73]]
selected_columnsBURKINA

,Unnamed: 0_y,2000,2001_x,2002_y,2003_y,2004_y,2005,2006,2007_y,2008_x,...,2011_y,2012_y,2013_y,2014_y,2015_y,2016_y,2017,2018_y,2019_y,2020
0,ACTIF,NaN,Millions de francs CFA,Millions de francs CFA,Millions de francs CFA,Millions de francs CFA,Millions de francs CFA,Millions de francs CFA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Montant,net en millions,Montant net en millions de FCFA,NaN
1,CAISSE,8 873,12 483,12 710,15 926,18 878,17 737,18 661,28 716,27 464,...,36 997,49 403,53 473,54 428,63 306,69 448,320 473,274 987,308 057,472 788
2,CREANCES INTERBANCAIRES,81 131,95 289,96 088,126 491,125 263,96 500,122 428,182 953,199 863,...,258 712,297 380,290 240,259 902,393 196,509 302,783 150,741 458,1 148 625,1 554 065
3,- A vue,54 208,51 397,46 346,72 904,64 839,55 095,69 779,115 590,120 291,...,177 296,167 414,169 129,187 457,229 965,329 172,407 012,398 735,385 319,328 361
4,. Banques Centrales,13 782,22 923,20 797,47 552,46 077,30 825,41 133,63 534,92 449,...,120 065,99 242,95 740,102 988,125 809,128 695,2 596 714,2 933 318,3 202 280,3 442 518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,149 075,166 478,267 749,1 136 094,1 350 189,2 077 453,NaN,NaN,NaN,NaN
67,Reçus d'établissements de crédit,12 687,19 530,17 944,24 777,16 800,11 837,9 474,5 570,28 347,...,16 253,21 368,25 208,53 116,61 633,44 419,NaN,NaN,NaN,NaN
68,Reçus de la clientèle,75 966,106 500,89 196,145 464,242 136,356 967,491 357,548 626,545 458,...,910 164,550 235,942 776,1 082 978,1 288 556,2 033 034,NaN,NaN,NaN,NaN
69,ENGAGEMENTS SUR TITRES,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN
70,ENGAGEMENTS DOUTEUX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,339,194,50,NaN,NaN,NaN,NaN

In [155]:
# Assuming you have a DataFrame named "df"
ddf2 = selected_columnsBURKINA.fillna(0)
ddf2

,Unnamed: 0_y,2000,2001_x,2002_y,2003_y,2004_y,2005,2006,2007_y,2008_x,...,2011_y,2012_y,2013_y,2014_y,2015_y,2016_y,2017,2018_y,2019_y,2020
0,ACTIF,0,Millions de francs CFA,Millions de francs CFA,Millions de francs CFA,Millions de francs CFA,Millions de francs CFA,Millions de francs CFA,0,0,...,0,0,0,0,0,0,Montant,net en millions,Montant net en millions de FCFA,0
1,CAISSE,8 873,12 483,12 710,15 926,18 878,17 737,18 661,28 716,27 464,...,36 997,49 403,53 473,54 428,63 306,69 448,320 473,274 987,308 057,472 788
2,CREANCES INTERBANCAIRES,81 131,95 289,96 088,126 491,125 263,96 500,122 428,182 953,199 863,...,258 712,297 380,290 240,259 902,393 196,509 302,783 150,741 458,1 148 625,1 554 065
3,- A vue,54 208,51 397,46 346,72 904,64 839,55 095,69 779,115 590,120 291,...,177 296,167 414,169 129,187 457,229 965,329 172,407 012,398 735,385 319,328 361
4,. Banques Centrales,13 782,22 923,20 797,47 552,46 077,30 825,41 133,63 534,92 449,...,120 065,99 242,95 740,102 988,125 809,128 695,2 596 714,2 933 318,3 202 280,3 442 518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,0,0,0,0,0,0,0,0,0,...,149 075,166 478,267 749,1 136 094,1 350 189,2 077 453,0,0,0,0
67,Reçus d'établissements de crédit,12 687,19 530,17 944,24 777,16 800,11 837,9 474,5 570,28 347,...,16 253,21 368,25 208,53 116,61 633,44 419,0,0,0,0
68,Reçus de la clientèle,75 966,106 500,89 196,145 464,242 136,356 967,491 357,548 626,545 458,...,910 164,550 235,942 776,1 082 978,1 288 556,2 033 034,0,0,0,0
69,ENGAGEMENTS SUR TITRES,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
70,ENGAGEMENTS DOUTEUX,0,0,0,0,0,0,0,0,0,...,0,0,0,339,194,50,0,0,0,0

In [156]:
row_index = 0  # Specify the index of the row to be filled
string_value = "Montant net en millions de FCFA"  # Specify the string value to fill the row with

ddf2.loc[row_index] = string_value

In [157]:
new_value = "ACTIF"  # Specify the new string value

ddf2.iloc[0, 0] = new_value
ddf2

,Unnamed: 0_y,2000,2001_x,2002_y,2003_y,2004_y,2005,2006,2007_y,2008_x,...,2011_y,2012_y,2013_y,2014_y,2015_y,2016_y,2017,2018_y,2019_y,2020
0,ACTIF,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,...,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA
1,CAISSE,8 873,12 483,12 710,15 926,18 878,17 737,18 661,28 716,27 464,...,36 997,49 403,53 473,54 428,63 306,69 448,320 473,274 987,308 057,472 788
2,CREANCES INTERBANCAIRES,81 131,95 289,96 088,126 491,125 263,96 500,122 428,182 953,199 863,...,258 712,297 380,290 240,259 902,393 196,509 302,783 150,741 458,1 148 625,1 554 065
3,- A vue,54 208,51 397,46 346,72 904,64 839,55 095,69 779,115 590,120 291,...,177 296,167 414,169 129,187 457,229 965,329 172,407 012,398 735,385 319,328 361
4,. Banques Centrales,13 782,22 923,20 797,47 552,46 077,30 825,41 133,63 534,92 449,...,120 065,99 242,95 740,102 988,125 809,128 695,2 596 714,2 933 318,3 202 280,3 442 518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,0,0,0,0,0,0,0,0,0,...,149 075,166 478,267 749,1 136 094,1 350 189,2 077 453,0,0,0,0
67,Reçus d'établissements de crédit,12 687,19 530,17 944,24 777,16 800,11 837,9 474,5 570,28 347,...,16 253,21 368,25 208,53 116,61 633,44 419,0,0,0,0
68,Reçus de la clientèle,75 966,106 500,89 196,145 464,242 136,356 967,491 357,548 626,545 458,...,910 164,550 235,942 776,1 082 978,1 288 556,2 033 034,0,0,0,0
69,ENGAGEMENTS SUR TITRES,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
70,ENGAGEMENTS DOUTEUX,0,0,0,0,0,0,0,0,0,...,0,0,0,339,194,50,0,0,0,0

In [158]:
Final_Burkina_Faso = ddf2.rename(columns={'2001_x': '2001','2002_y': '2002','2003_y': '2003','2004_y': '2004','2007_y': '2007','2008_x': '2008','2010_y': '2010','2011_y': '2011','2012_y': '2012','2013_y': '2013','2014_y': '2014','2015_y': '2015','2016_y': '2016','2018_y': '2018','2019_y': '2019'})
Final_Burkina_Faso

,Unnamed: 0_y,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,ACTIF,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,...,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA,Montant net en millions de FCFA
1,CAISSE,8 873,12 483,12 710,15 926,18 878,17 737,18 661,28 716,27 464,...,36 997,49 403,53 473,54 428,63 306,69 448,320 473,274 987,308 057,472 788
2,CREANCES INTERBANCAIRES,81 131,95 289,96 088,126 491,125 263,96 500,122 428,182 953,199 863,...,258 712,297 380,290 240,259 902,393 196,509 302,783 150,741 458,1 148 625,1 554 065
3,- A vue,54 208,51 397,46 346,72 904,64 839,55 095,69 779,115 590,120 291,...,177 296,167 414,169 129,187 457,229 965,329 172,407 012,398 735,385 319,328 361
4,. Banques Centrales,13 782,22 923,20 797,47 552,46 077,30 825,41 133,63 534,92 449,...,120 065,99 242,95 740,102 988,125 809,128 695,2 596 714,2 933 318,3 202 280,3 442 518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,ENGAGEMENTS DE GARANTIE,0,0,0,0,0,0,0,0,0,...,149 075,166 478,267 749,1 136 094,1 350 189,2 077 453,0,0,0,0
67,Reçus d'établissements de crédit,12 687,19 530,17 944,24 777,16 800,11 837,9 474,5 570,28 347,...,16 253,21 368,25 208,53 116,61 633,44 419,0,0,0,0
68,Reçus de la clientèle,75 966,106 500,89 196,145 464,242 136,356 967,491 357,548 626,545 458,...,910 164,550 235,942 776,1 082 978,1 288 556,2 033 034,0,0,0,0
69,ENGAGEMENTS SUR TITRES,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
70,ENGAGEMENTS DOUTEUX,0,0,0,0,0,0,0,0,0,...,0,0,0,339,194,50,0,0,0,0

In [163]:
Final_Burkina_Faso.to_csv('Final_Burkina_Faso.csv')

In [147]:
# column_values = df2['Unnamed: 0_y'].values

# # Convert the column values to a NumPy array
# column_array = np.array(column_values)

# # Now, you can use the column_array as a NumPy array
# column_array

In [148]:
# column_data2 = ddf2['Unnamed: 0_y']
# column_data2

#EMPIRICAL MODEL